 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 {{ not with_foot ? "pb-3" : "" }} pt-3">
        <h5 class="title_form text-black text-uppercase">Nouveau Employée</h5>
        <form id="coiffEmployee">
            <div class="row">
                <div class="col-3">
                    <label for="coiff_emp_sexe" class="mt-2 font-weight-bold">Sexe</label>
                    <select name="coiff_emp_sexe" class="custom-select chosen_select custom-select-sm" id="coiff_emp_sexe">
                        <option value="">-</option>
                        {% for sexe in sexes %}
                            <option value="{{sexe.id}}">{{sexe.nom|upper}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-3">
                    <label for="coiff_emp_nom" class="mt-2 font-weight-bold">Nom</label>
                    <input type="text" name="coiff_emp_nom" oninput="this.value = this.value.toUpperCase();" id="coiff_emp_nom" class="form-control" placeholder=". . .">
                </div>
                <div class="col-3">
                    <label for="coiff_emp_prenom" class="mt-2 font-weight-bold">Prénom(s)</label>
                    <input type="text" name="coiff_emp_prenom" oninput="this.value = this.value.toUpperCase();" id="coiff_emp_prenom" class="form-control" placeholder=". . .">
                </div>
                <div class="col-3">
                    <label for="" class="mt-2 font-weight-bold">&nbsp;</label>
                    <button type="submit" class="btn btn-sm btn-block btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
                </div>
            </div>
        </form>
        
        <div class="barre_dashed mt-3 py-3">
            <h5 class="title_form text-black text-uppercase">Liste des Employées</h5>
            <div class="table-responsive mt-3">
                <table class="table table-sm table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Sexe</th>
                            <th>Nom</th>
                            <th>Prénoms</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                            <tr>
                                <td>{{employee.sexe|upper}}</td>
                                <td>{{employee.nom|upper}}</td>
                                <td>{{employee.prenom|upper}}</td>
                                <td class="text-center align-middle">
                                    <button type="button" data-value="{{employee.id}}" class="btn btn-sm mx-1 font-smaller btn-outline-warning"><i class="fa fa-edit"></i></button>
                                    <button type="button" data-value="{{employee.id}}" class="btn btn-sm mx-1 font-smaller btn-outline-danger"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>

        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="submit" class="btn btn-sm ml-3 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}


