 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <div class="row">
            <div class="col-3">
                <label for="coiff_search_employee" class="font-weight-bold">Coiffeur</label>
                <select name="coiff_search_employee" class="custom-select chosen_select custom-select-sm" id="coiff_search_employee">
                    <option value="">-</option>
                    {% for employee in employees %}
                        <option value="{{employee.id}}" > {{employee.nom|upper}} | {{employee.prenom|upper}}</option>
                    {% endfor %} 
                </select>
            </div>
            <div class="col-3">
                <label for="coiff_search_date" class="font-weight-bold">Date</label>
                <select name="coiff_search_date" class="custom-select chosen_select custom-select-sm" id="coiff_search_date">
                    <option value="" data-critere="">TOUS</option>
                    {% for critereDate in critereDates %}
                        <option value="{{critereDate.id}}" data-critere="{{critereDate.critere}}">{{critereDate.nom|upper}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mt-2 elem_date"></div>
        <div class="table-responsive mt-4 limit_tbody">
            <table class="table table-sm table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Date</th>
                        <th>Coiffeur</th>
                        <th>Designation</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody class="elem_suivi_coiffeur">
                    {% for keyDate,valueDate in dataSuivis|cast_to_array %}
                        <tr>
                            <td class="align-middle"  rowspan="{{valueDate.nbLigne}}">{{keyDate}}</td>
                        </tr>
                        {% for keyEmp,valueEmp in valueDate.employee|cast_to_array %}
                            <tr>
                                <td class="align-middle"  rowspan="{{valueEmp.nbLigne}}">{{valueEmp.nom}}</td>
                            </tr>
                            {% set totalEmp = 0 %}
                            {% for detail in valueEmp.details|cast_to_array %}
                                <tr>
                                    <td class="align-middle" >{{detail.designation|upper}}</td>
                                    <td class="align-middle" >{{detail.quantite}}</td>
                                    <td class="align-middle" >{{detail.prix}}</td>
                                    <td class="align-middle" >{{detail.total}}</td>
                                </tr>
                                {% set totalEmp = totalEmp + detail.total %}
                            {% endfor %}
                            <tr>
                                <th class="align-middle" colspan="3" >Montant Total</th>
                                <td class="text-white align-middle bg-primary">{{totalEmp}}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="submit" class="btn btn-sm ml-3 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}


