<div class="row">
    <div class="col-md-3 mt-3">
        <h5 class="font-medium" >Modèle : <span class="text-primary">{{facture.modele|upper}}</span></h5>
    </div>
    <div class="col-md-3 mt-3">
        <h5 class="font-medium" >Type : <span class="text-primary">{{facture.type|upper}}</span></h5>
    </div>
    <div class="col-md-3 mt-3">
        <h5 class="font-medium" >Paiement : <span class="text-primary">{{facture.paiement|upper}}</span></h5>
    </div>
    {% if facture.infoSup %}
        <div class="col-md-3 d-flex flex-row flex-wrap mt-3">
            <h5 class="font-medium" >{{facture.libelleCaption}} : <span class="text-primary">{{facture.libelleValue}}</span></h5>
        </div>
        <div class="col-md-3 d-flex flex-row flex-wrap mt-3">
            <h5 class="font-medium" >{{facture.numeroCaption}} : <span class="text-primary">{{facture.numerovalue}}</span></h5>
        </div>
    {% endif %}   
    <div class="col-md-3 mt-3">
        <h5 class="font-medium" >Client : <span class="text-primary">{{facture.client|upper}}</span></h5>
    </div>
</div>
<div class="w-100 px-2">
    <label for="nom" class="mt-2 font-weight-bold text-uppercase">Description</label>
    <textarea name="facture_editor" class="form-control facture_editor" id="" cols="10" rows="5">{{facture.description}}</textarea>
</div>
<div class="barre_dashed p-3 mt-3">
    <div class="container-fluid">
        <span class="fact_btn_modele btn-warning" data-indice="PROD"></span>
        <input type="hidden" id="fact_signal_modif" value="MODIF_PRODUIT">
        <h5 class="title_form text-black text-uppercase">Rajouter Produit</h5>
        <div class="row {{ entrepots|length == 1 ? "d-none" : "" }}">
            <div class="col-md-3" >
                <label for="fact_mod_prod_entrepot" class="font-weight-bold">Entrepot</label>
                <select class="custom-select custom-select-sm chosen_select" name="fact_mod_prod_entrepot" id="fact_mod_prod_entrepot" >
                    {% if entrepots|length > 1 %}
                        <option value="">-</option>
                        {% for entrepot in entrepots %}
                            <option value="{{entrepot.id}}" >{{entrepot.nom}}</option>
                        {% endfor %}
                    {% else %}
                        {% for entrepot in entrepots %}
                            <option value="{{entrepot.id}}" selected="true" >{{entrepot.nom}}</option>
                        {% endfor %}
                    {% endif %}
                </select>   
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <label for="fact_mod_prod_type" class="font-weight-bold">Type</label>
                <select class="custom-select custom-select-sm chosen_select fact_mod_prod_type" name="fact_mod_prod_type" id="fact_mod_prod_type" >
                    <option value="Produit">Produit</option> 
                    <option value="autre">Autre</option> 
                </select>
            </div>
            <div class="col-md-4">
                <label for="fact_mod_prod_designation" class="font-weight-bold">Designation</label>
                <div class="w-100 content_fact_designation">
                    <select class="custom-select custom-select-sm chosen_select fact_mod_prod_designation" name="fact_mod_prod_designation" id="fact_mod_prod_designation" >
                        <option value="">-</option>
                        {% for stockGeneral in stockGenerales %}
                            {% set idProduit = indiceEntrepot ? stockGeneral.idP : stockGeneral.id %}
                            <option value="{{idProduit}}" data-stock="{{stockGeneral.stock}}" >{{stockGeneral.codeProduit}} | {{stockGeneral.nomType|upper}} | {{stockGeneral.nom}} | stock : {{stockGeneral.stock}}</option>
                        {% endfor %}
                    </select> 
                </div>
                <input type="hidden" id="fact_text_designation">
            </div>
            <div class="col-md-3">
                <label for="fact_mod_prod_prix" class="font-weight-bold">Prix Unitaire HT</label>
                <div class="content_fact_prix w-100">
                    <select class="custom-select custom-select-sm chosen_select fact_mod_prod_prix" name="fact_mod_prod_prix" id="fact_mod_prod_prix" >
                        <option value=""></option> 
                    </select>
                </div>
                <input type="hidden" id="fact_text_prix">
            </div>
            <div class="col-md-2">
                <label for="fact_mod_prod_qte" class="font-weight-bold">Quantité</label>
                <input type="number" step="any" name="fact_mod_prod_qte" class="form-control fact_mod_prod_qte" id="fact_mod_prod_qte" placeholder=". . .">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-2">
                <label for="fact_mod_prod_tva_val" class="font-weight-bold">TVA(%)</label>
                <input type="number" step="any" name="fact_mod_prod_tva_val" class="form-control fact_mod_prod_tva_val" id="fact_mod_prod_tva_val" placeholder=". . .">
            </div>
            <div class="col-md-2">
                <label for="fact_mod_prod_type_remise" class="font-weight-bold">Type Remise</label>
                <select class="custom-select custom-select-sm chosen_select fact_mod_prod_type_remise" name="fact_mod_prod_type_remise" id="fact_mod_prod_type_remise" >
                    <option value="">-</option> 
                    {% for typeRemise in typeRemises %}
                        <option value="{{typeRemise.id}}" data-calcul="{{typeRemise.calcul}}" >{{typeRemise.notation}}</option> 
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <label for="fact_mod_prod_remise" class="font-weight-bold">Remise</label>
                <input type="number" step="any" name="fact_mod_prod_remise" class="form-control fact_mod_prod_remise" id="fact_mod_prod_remise" placeholder=". . .">
            </div>
            <div class="col-md-2">
                <label class="font-weight-bold">&nbsp;</label>
                <button type="button" class="btn btn-success btn-block btn-sm px-4 ajout_fact_element" ><i class="fa fa-plus-circle"></i>&nbsp;AJOUTER</button>
            </div>
        </div>
    </div>
</div>
<form id="formSavModifFacture">
    <div class="table-responsive mt-4">
            <input type="hidden" name="fact_detail_modele" id="fact_detail_modele" value="{{facture.refModele}}">
            <input type="hidden" id="fact_id_facture" name="fact_id_facture" value="{{facture.id}}"> 
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Type</th>
                        <th>Désignation</th>
                        <th>Qte/Durée</th>
                        <th>Format</th>
                        <th>Prix Unitaire HT</th>
                        <th>Montant TVA</th>
                        <th>Type Remise</th>
                        <th>Valeur Remise</th>
                        <th>Montant Total</th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody class="elem_facture_produit">
                    {% for factureDetail in factureDetails %}
                        <tr>
                            <td class="align-middle">{{ factureDetail.type|upper }}</td>
                            <td class="align-middle">{{ factureDetail.designation }}</td>
                            <td class="align-middle sav_modif_quantite">{{ factureDetail.quantite }}</td>
                            <td class="align-middle">{{ factureDetail.format }}</td>
                            <td class="align-middle">{{ factureDetail.prix }}</td>
                            <td class="align-middle sav_modif_tva">{{factureDetail.tva}} ({{factureDetail.percentTva}}%)</td>
                            <td class="align-middle">{{ factureDetail.typeRemise }}</td>
                            <td class="align-middle">{{ factureDetail.valRemise }}</td>
                            <td class="align-middle sav_modif_mtn_total">{{ factureDetail.total }}</td>
                            <td>-</td>
                            <th>
                                <input type="hidden" value="-" name="fact_enr_prod_type[]" class="fact_enr_prod_type"> 
                                <input type="hidden" value="{{ factureDetail.idEntrepot }}" name="fact_enr_prod_entrepot[]" class="fact_enr_prod_entrepot">  
                                <input type="hidden" value="{{ factureDetail.designation }}" name="fact_enr_prod_designation[]" class="fact_enr_prod_designation"> 
                                <input type="hidden" value="{{factureDetail.quantite}}" name="fact_enr_prod_quantite[]" class="fact_enr_prod_quantite"> 
                                <input type="hidden" value="{{factureDetail.prix}}" name="fact_enr_prod_prix[]" class="fact_enr_prod_prix"> 
                                <input type="hidden" value="{{factureDetail.prix}}" name="fact_enr_text_prix[]" class="fact_enr_text_prix"> 
                                <input type="hidden" value="{{factureDetail.percentTva}}" name="fact_enr_prod_tva_val[]" class="fact_enr_prod_tva_val">
                                <input type="hidden" value="-" name="fact_enr_prod_remise_type[]" class="fact_enr_prod_remise_type"> 
                                <input type="hidden" value="-" name="fact_enr_prod_remise[]" class="fact_enr_prod_remise"> 
                                <input type="hidden" id="fact_enr_ligne_spec_quantite" value="{{factureDetail.quantite}}">
                                <input type="hidden" id="fact_percent_tva_ligne" value="{{factureDetail.percentTva}}">
                                <input type="hidden" value="{{factureDetail.total}}" class="fact_enr_total_ligne"> 
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    {# <button type="button" data-value="{{factureDetail.id}}" class="btn btn-sm btn-outline-warning fact_dtls_btn_modif font-smaller"><i class="fa fa-edit"></i></button> #}
                                    <button type="button" data-value="{{factureDetail.id}}" class="btn btn-sm btn-outline-warning sav_ligne_modif_facture mt-2 font-smaller"><i class="fa fa-edit"></i></button>
                                </div>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
                {% set totalTTC = facture.totalHt + facture.totalTva - facture.remise  %}
                <tfoot>
                    <tr>
                        <th colspan="8">Total HT</th>
                        <th class="bg-light"><span id="fact_total_fixe">{{facture.totalHt}}</span></th>
                        <td colspan="2" class="bg-light"></td>
                    </tr>
                    <tr>
                        <th colspan="8">Remise</th>
                        <td>
                            <div class="container-fluid" style="width:325px ;">
                                <div class="row">
                                    <div class="col-md-5">
                                        <select class="custom-select custom-select-sm chosen_select" name="fact_type_remise_prod_general" id="fact_type_remise_prod_general" >
                                            <option value="" data-calcul="">-</option> 
                                            {% for typeRemise in typeRemises %}
                                                <option value="{{typeRemise.id}}" data-calcul="{{typeRemise.calcul}}" >{{typeRemise.notation}}</option> 
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="number" step="any" class="form-control" name="fact_remise_prod_general" id="fact_remise_prod_general" value="{{facture.remise}}">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td colspan="2"></td>
                    </tr>
                    <tr> 
                        <th colspan="8">Montant après déduction</th>
                        <th class="bg-light"><span id="fact_total_apres_deduction">{{facture.totalHt - facture.remise}}</span></th>
                        <td colspan="2" class="bg-light"></td>
                    </tr>
                    <tr>
                        <th colspan="8">Total TVA</th>
                        <th class="align-middle bg-light">
                            <span id="fact_total_tva">{{facture.totalTva}}</span>
                            <input type="hidden" class="fact_enr_total_tva" name="fact_enr_total_tva" value="{{facture.totalTva}}">   
                        </th>
                        <td colspan="2" class="bg-light"></td>
                    </tr>
                    <tr>
                        <th colspan="8" class="fact_caption_total_general">Total TTC</th>
                        <th class="bg-primary text-white">
                        <span id="fact_total_general">{{totalTTC}}</span>&nbsp;{{agcDevise.symbole}}
                        <input type="hidden" class="fact_enr_total_general" name="fact_enr_total_general" value="{{totalTTC}}">
                        </th>
                        <td colspan="2" class="bg-primary"></td>
                    </tr>
                    {# <tr class="fact_disp_devise d-none">
                        <th colspan="7">Montant en <span id="fact_lettre_devise">(lettre)</span></th>
                        <th class="bg-light">
                            <span id="fact_montant_devise"></span>
                            <input type="hidden" class="fact_enr_val_devise" name="fact_enr_val_devise">
                        </th>
                        <td class="bg-light"></td>
                    </tr> #}
                </tfoot>
            </table>
        <div class="w-100">
            Arrêté la présente facture à la somme de <span id="fact_somme_lettre" class="font-weight-bold text-uppercase">{{facture.lettre}}</span> {{app.session.get("user")["deviseLettre"]}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-5"> 
            <label for="nom" class="mt-1 font-weight-bold text-uppercase">à,</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-location"></i></span>
                </div>
                <input type="text" class="form-control cmd_lieu" name="cmd_lieu" value="{{ facture.lieu }}" placeholder=". . ." aria-label="Lieu Facture" id="cmd_lieu">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-5"> 
            <label for="nom" class="mt-1 font-weight-bold">Le,</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                </div>
                <input type="text" class="form-control cmd_date" name="cmd_date" value="{{ facture.date }}" placeholder=". . ." aria-label="Date Facture" id="cmd_date">
            </div>
        </div>
    </div>
</form>
<script>
    $(".chosen_select").chosen({
        no_results_text: "Aucun resultat trouvé : "
    });
    var facture_editor = new LineEditor(".facture_editor") ;
    facture_editor.setEditorText($(".facture_editor").val())
    $("#cmd_date").datepicker()
</script>