<div class="table-responsive mt-4 content_auto">
    <table class="table-sm mb-0 table table-bordered">
        <thead class="thead-dark">
            <tr class="text-uppercase">
                <th>Désignation</th>
                <th>Date Limite</th>
                <th>Date Paiement</th>
                <th>Mois</th>
                <th>Année</th>
                <th>Montant payé</th>
                {# <th>Statut</th> #}
            </tr>
        </thead>
        <tbody>
            {% set totalPayee = 0 %}
            {% for repartition in repartitions %}
                <tr>
                    <td>{{ repartition.designation | upper}}</td>
                    <td>{{ repartition.dateLimite}}</td>
                    <td>{{ repartition.datePaiement}}</td>
                    <td>{{ repartition.mois | upper }}</td>
                    <td>{{ repartition.annee | upper }}</td>
                    <th>{{ repartition.montant }}</th>
                    {# <th>{{ repartition.statut | upper }}</th> #}
                </tr>
                {% set totalPayee = totalPayee + repartition.montant %}
            {% endfor %}
            {% for moisrestant in tableauMois %}
                <tr>
                    <td>{{ moisrestant.designation | upper}}</td>
                    <td>{{ moisrestant.finLimite}}</td>
                    <td>-</td>
                    <td>{{ moisrestant.mois | upper }}</td>
                    <td>{{ moisrestant.annee | upper }}</td>
                    <th>-</th>
                    {# <th>{{ repartition.statut | upper }}</th> #}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<table class="table-sm table table-bordered font-smaller">
    <tfoot>
        <tr>
            <th colspan="5" class="text-uppercase">Montant Total Payée</th>
            <th  class="text-white bg-primary" >{{ totalPayee }}</th>
        </tr>
    </tfoot>
</table>
<div class="w-100">
    Arrêté la présente facture à la somme de <span id="cmd_somme_lettre" class="font-weight-bold text-uppercase">{{ lettreReleve | upper}}</span>
</div>