<div class="table-responsive mt-4 content_auto">
    <table class="table-sm mb-0 table table-bordered">
        <thead class="thead-dark">
            <tr class="text-uppercase">
                <th>Désignation</th>
                <th>Date Limite</th>
                <th>Date Paiement</th>
                <th>Mois</th>
                <th>Année</th>
                <th>Montant payé</th>
                {# <th>Statut</th> #}
            </tr>
        </thead>
        <tbody>
            {% set totalPayee = 0 %}
            {% for relevePaiement in relevePaiements %}
                {% if relevePaiement.montant is defined  %}
                    {% set montant = relevePaiement.montant %}
                    {% set valMontant = relevePaiement.montant %}
                {% else %}
                    {% set montant = "-" %}
                    {% set valMontant = 0 %}
                {% endif %}
                <tr>
                    <td>{{ relevePaiement.designation | upper }}</td>
                    <td>{{ relevePaiement.finLimite }}</td>
                    <td>{{ relevePaiement.datePaiement }}</td>
                    <td>{{ relevePaiement.mois | upper }}</td>
                    <td>{{ relevePaiement.annee | upper }}</td>
                    <th>{{ montant }}</th>
                    {# <th>{{ repartition.statut | upper }}</th> #}
                </tr>
                {% set totalPayee = totalPayee + valMontant %}
            {% endfor %}
        </tbody>
    </table>
</div>
<table class="table-sm table table-bordered font-smaller">
    <tfoot>
        <tr>
            <th colspan="5" class="text-uppercase">Montant Total</th>
            <th  class="text-white bg-primary" >{{ totalPayee }}</th>
        </tr>
        <tr>
            <th colspan="5" class="text-uppercase">Total General Payée</th>
            <th  class="text-white bg-purple" >{{ totalRelevePayee }}</th>
        </tr>
    </tfoot>
</table>
<div class="w-100">
    Arrêté la présente facture à la somme de <span id="cmd_somme_lettre" class="font-weight-bold text-uppercase">{{ lettreReleve | upper}}</span>
</div>