{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/stylesheets/login/style.css')}}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/javascript/login/main.js')}}"></script>
{% endblock %}
{% block body %}
<div class="parent_base w-100">
    <div class="main_login p-4 rounded">
        <form method="post" action="{{path('auth_login')}}" autocomplete="off">
            <div class="w-100 text-center mb-4">
                <img src="{{asset('data/images/logo_header.png')}}" class="img logo_login" alt="">
            </div>

            <h1 class="h3 mb-4 font-weight-bold text-uppercase text-secondary text-center l-1">bienvenue sur shissab systeme</h1>
            
            {% if error is not null %}
                <div class="alert btn-sm mb-2 alert-{{type}}">{{ error }}</div>
            {% endif %}

            <input type="text" name="username" id="username" class="form-control" autocomplete="" required placeholder="Nom d'utilisateur" >
            
            <input type="password" name="password" id="password" class="form-control mt-3" autocomplete="" required placeholder="Mot de passe">
            
            <div class="w-100 d-flex mt-3 flex-row align-items-center">
                <input type="checkbox" class="form-input-check" id="loginTogglePass">
                <span class="font-smaller ml-2" id="labelToggle">Afficher le mot de passe</span>
            </div>
            
            <input type="hidden" name="heureLocal" id="heureLocal" >

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            <button class="btn btn-sm btn-perso-one btn-block mt-3" type="submit">
            Se connecter
            </button>
            <div class="w-100 text-center mt-3">
                <label for="" class="copyright_login text-secondary" >Hikamsocietemultiple &copy; {{"now"|date('Y')}}</label>
            </div>
            <script>
                var dateActuelle = new Date();
                var nowHour = (dateActuelle.getHours() < 10) ? "0" + dateActuelle.getHours() : dateActuelle.getHours().toString();
				var nowMinute = (dateActuelle.getMinutes() < 10) ? "0" + dateActuelle.getMinutes() : dateActuelle.getMinutes().toString();
				var heureActuelle = nowHour + ':' + nowMinute ;
                document.querySelector("#heureLocal").value = heureActuelle
            </script>
        </form>
    </div>
</div>
{% endblock %}
