 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/consultationDepense.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3 pb-4">
        <div class="row">
            <div class="col-md-4">
                <label for="search_service" class="mt-2 font-weight-bold text-uppercase">Service</label>
                <select name="search_service" class="custom-select chosen_select custom-select-sm" id="search_service">
                    <option value="">-</option>
                    {% for service in services %}
                        <option value="{{service.id}}" >{{service.nom|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="search_element" class="mt-2 font-weight-bold text-uppercase">élément</label>
                <div class="input-group">
                    <input type="text" name="search_element" id="search_element" class="form-control" placeholder=". . .">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-secondary vider font-smaller" type="button" onclick="document.querySelector('#search_element').value=''"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="search_nom_concerne" class="mt-2 font-weight-bold text-uppercase">Nom Concerné</label>
                <div class="input-group">
                    <input type="text" name="search_nom_concerne" id="search_nom_concerne" class="form-control" placeholder=". . .">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-secondary vider font-smaller" type="button" onclick="document.querySelector('#search_nom_concerne').value=''"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
            {# <div class="col-md-4">
                <label for="nom" class="mt-2 font-weight-bold text-uppercase">Mois Facture</label>
                <div class="row">
                    <div class="col-md-7" >
                        {% set i = 1 %}
                        <select name="search_mois_facture" class="custom-select chosen_select custom-select-sm" id="search_mois_facture">
                            <option value="">-</option>
                            {% for tabMois in tabMois %}
                                <option value="{{i}}">{{tabMois|upper}}</option>
                                {% set i = i + 1 %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="number" name="search_annee_facture" id="search_annee_facture" value="{{'now'|date('Y')}}" class="form-control search_annee_facture">
                    </div>
                </div>
            </div> #}
            <div class="col-md-3">
                <label for="search_depense" class="mt-2 font-weight-bold text-uppercase">Recherche déclaration</label>
                <select name="search_depense" class="custom-select chosen_select custom-select-sm" id="search_depense">
                    <option value="">AFFICHER TOUS</option>
                    <option value="JOUR">{{"Aujourd'hui"|upper}}</option>
                    <option value="SPEC">{{"Date Spécifique"|upper}}</option>
                    <option value="LIMIT">{{"Fourchette"|upper}}</option>
                    <option value="MOIS">{{"Mois"|upper}}</option>
                </select>
                <input type="hidden" id="search_current_date" value="" >
            </div>
            <div class="col-md-3" style="display: none;" id="caption_search_date">
                <label for="search_date" class="mt-2 font-weight-bold text-uppercase">Date</label>
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                </div>
                    <input type="text" id="search_date" class="form-control" placeholder=". . ." aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-3" style="display: none;" id="caption_search_date_debut">
                <label for="search_date_debut" class="mt-2 font-weight-bold text-uppercase">Date début</label>
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                </div>
                    <input type="text" id="search_date_debut" class="form-control" placeholder=". . ." aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-3" style="display: none;" id="caption_search_date_fin">
                <label for="search_date_fin" class="mt-2 font-weight-bold text-uppercase">Date Fin</label>
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                </div>
                    <input type="text" id="search_date_fin" class="form-control" placeholder=". . ." aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-3" style="display: none;" id="caption_search_mois">
                {% set i = 1 %}
                <label for="search_mois" class="mt-2 font-weight-bold text-uppercase">Mois</label>
                <select name="search_mois" class="custom-select chosen_select custom-select-sm" id="search_mois">
                    <option value="">-</option>
                    {% for tabMois in tabMois %}
                        <option value="{{i}}">{{tabMois|upper}}</option>
                        {% set i = i + 1 %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3" style="display: none;" id="caption_search_annee">
                <label for="search_annee" class="mt-2 font-weight-bold text-uppercase">Année</label>
                <input type="number" name="search_annee" id="search_annee" value="{{'now'|date('Y')}}" class="form-control search_annee">
            </div>
        </div>
        <div class="accordion" id="accordionExample">
            {% set index = 1 %}
            {% set totalDepense = 0 %}
            {% for key,element in depenses %}
                <div class="barre_left rounded elemMoisDepense shadow mt-4">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <div class="w-100 px-3 height_box d-flex flex-column justify-content-center">
                            <h5 class="title_form title_barre_left toggleIcon text-uppercase" data-toggle="collapse" data-target="#collapse_{{index}}" aria-expanded="true" aria-controls="collapse_{{index}}"><i class="fa fa-arrow-circle-right"></i>&nbsp;{{key}}</h5>
                            <span class="ml-3">{{element.nbElement}} Elément(s)</span>
                        </div>
                        <div class="w-100 height_box border-left d-flex flex-column align-items-center justify-content-center px-3">
                            <h6 class="title_form text-black text-uppercase">Mode Paiement</h6>
                            {% set percentEspece = element.statPaiement.ESP is defined ? ((element.statPaiement.ESP * 100)/ element.nbElement) : 0 %}
                            {% set percentCheque = element.statPaiement.CHK is defined ? ((element.statPaiement.CHK * 100)/ element.nbElement) : 0 %}
                            {% set percentVirement = element.statPaiement.VRM is defined ? ((element.statPaiement.VRM * 100)/ element.nbElement) : 0 %}
                            {% set percentCarteBancaire = element.statPaiement.CBR is defined ? ((element.statPaiement.CBR * 100)/ element.nbElement) : 0 %}
                            {% set percentMobileMoney = element.statPaiement.MOB is defined ? ((element.statPaiement.MOB * 100)/ element.nbElement) : 0 %}
                            <div class="d-flex w-100 align-items-center justify-content-center rounded elemModePaiement_{{index}}">
                                <div class="fixed_height" id="ttpPaiement_{{index}}_1" data-content="Espèce :{{percentEspece|number_format(0)}}%"  style="background-color: #f4511e ; width:{{percentEspece}}% ;" title="test" ></div>
                                <div class="fixed_height" id="ttpPaiement_{{index}}_2" data-content="Chèque :{{percentCheque|number_format(0)}}%"  style="background-color: #1565c0 ; width: {{percentCheque}}% ;" title="test" ></div>
                                <div class="fixed_height" id="ttpPaiement_{{index}}_3" data-content="Virement :{{percentVirement|number_format(0)}}%"  style="background-color: #ffca28 ; width: {{percentVirement}}% ;" title="test" ></div>
                                <div class="fixed_height" id="ttpPaiement_{{index}}_4" data-content="Carte Bancaire :{{percentCarteBancaire|number_format(0)}}%"  style="background-color: #ec407a ; width:{{percentCarteBancaire}}% ;" title="test" ></div>
                                <div class="fixed_height" id="ttpPaiement_{{index}}_5" data-content="Mobile Money :{{percentMobileMoney}}%"  style="background-color: #009688 ; width: {{percentMobileMoney}}% ;" title="test" ></div>
                            </div>
                        </div>
                        <div class="w-100 height_box border-left d-flex flex-column align-items-center justify-content-center px-3">
                            <h6 class="title_form text-black text-uppercase">Motif</h6>
                            {% set percentDepense = element.statMotif.DEP is defined ? ((element.statMotif.DEP * 100)/ element.nbElement) : 0 %}
                            {% set percentAutre = element.statMotif.AUT is defined ? ((element.statMotif.AUT * 100)/ element.nbElement) : 0 %}
                            <div class="d-flex w-100 elemMotif_{{index}} align-items-center rounded justify-content-center" >
                                <div class="fixed_height" id="ttpMotif_{{index}}_1" data-content="Dépense : {{percentDepense}}%" style="background-color: #03a9f4 ; width: {{percentDepense}}% ;"></div>
                                <div class="fixed_height" id="ttpMotif_{{index}}_2" data-content="Autre : {{percentAutre}}%" style="background-color: #cddc39 ; width: {{percentAutre}}% ;" ></div>
                            </div>
                        </div>
                        <div class="w-100 height_box px-3 border-left d-flex flex-column align-items-center justify-content-center">
                            <h6 class="title_form text-black text-uppercase">Montant</h6>
                            <span>{{element.montant}}</span>
                        </div>
                    </div>
                    <div id="collapse_{{index}}" class="collapse px-3" aria-labelledby="heading_{{index}}" data-parent="#accordionExample">
                        <div class="table-responsive mt-3">
                            <table class="table table-sm table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Date Déclaration</th>
                                        <th>Elément</th>
                                        <th>Bénéficiaire</th>
                                        <th>N° Facture</th>
                                        <th>Service</th>
                                        <th>Motif</th>
                                        <th>Mode Paiement</th>
                                        <th>Montant</th>
                                        <th>Statut</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="elemDepense_{{index}}">
                                    {% set i = 1 %}
                                    {% for depense in element.detail %}
                                        <tr>
                                            <td>{{depense.dateDeclaration}}</td>
                                            <td>{{depense.element|upper}}</td>
                                            <td>{{depense.beneficiaire|upper}}</td>
                                            <td>{{depense.numFacture}}</td>
                                            <td>{{depense.service}}</td>
                                            <td>{{depense.motif|upper}}</td>
                                            <td>{{depense.modePaiement|upper}}</td>
                                            <td>{{depense.montant}}</td>
                                            <td class="align-middle">
                                                <div class="fixed_height rounded w-100" id="ttpStatut_{{index}}_{{i}}" data-content="{{depense.statut|upper|raw}}"  style="background-color: #1565c0 ;" title="test" ></div>
                                            </td>
                                            <td class="text-center align-middle">
                                                <a href="{{path('compta_depense_details',{'id':depense.encodedId})}}" class="btn btn-sm btn-outline-warning font-smaller"><i class="fa fa-edit"></i></a>
                                                <button class="btn ml-2 btn-outline-primary btn-sm font-smaller"><i class="fa fa-thumbs-up"></i></button>
                                            </td>
                                        </tr>
                                        {% set i = i + 1 %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% set index = index + 1 %}
                {% set totalDepense = totalDepense + element.montant %}
            {% endfor %}
            <div class="mt-4 w-100 d-flex flex-row align-items-center justify-content-center shadow rounded">
                <div class="w-75 ml-auto height_box px-3 d-flex flex-column pt-2 justify-content-center">
                    <h6 class="title_form text-black text-uppercase">Montant Total</h6>
                </div>
                <div class="w-25 ml-auto height_box px-3 border-left d-flex flex-column align-items-center justify-content-center">
                    <span>{{totalDepense}}</span>
                </div>
            </div>
        </div>
        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="submit" class="btn btn-sm ml-3 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}


