 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/consultationDepense.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3 pb-4">
        <div class="row">
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold">Bénéficiaire</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
        </div>
        <div class="accordion" id="accordionExample">
            {% set index = 1 %}
            {% for key,element in depenses %}
                <div class="barre_left rounded elemMoisDepense shadow mt-4">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <div class="w-100 px-3 height_box d-flex flex-column justify-content-center">
                            <h5 class="title_form title_barre_left text-uppercase" data-toggle="collapse" data-target="#collapse_{{index}}" aria-expanded="true" aria-controls="collapse_{{index}}"><i class="fa fa-arrow-circle-right"></i>&nbsp;{{key}}</h5>
                            <span class="ml-3">{{element.nbElement}} Elément(s)</span>
                        </div>
                        <div class="w-100 height_box border-left d-flex flex-column align-items-center justify-content-center px-3">
                            <h6 class="title_form text-black text-uppercase">Mode Paiement</h6>
                            {% set percentEspece = element.statPaiement.ESP is defined ? ((element.statPaiement.ESP * 100)/ element.nbElement) : 0 %}
                            {% set percentCheque = element.statPaiement.CHK is defined ? ((element.statPaiement.CHK * 100)/ element.nbElement) : 0 %}
                            {% set percentVirement = element.statPaiement.VRM is defined ? ((element.statPaiement.VRM * 100)/ element.nbElement) : 0 %}
                            {% set percentCarteBancaire = element.statPaiement.CBR is defined ? ((element.statPaiement.CBR * 100)/ element.nbElement) : 0 %}
                            {% set percentMobileMoney = element.statPaiement.MOB is defined ? ((element.statPaiement.MOB * 100)/ element.nbElement) : 0 %}
                            <div class="d-flex w-100 align-items-center justify-content-center rounded elemModePaiement_{{index}}">
                                <div class="fixed_height" id="ttpPaiement_{{index}}_1" data-content="Espèce :{{percentEspece}}%"  style="background-color: #f4511e ; width:{{percentEspece}}% ;" title="test" ></div>
                                <div class="fixed_height" id="ttpPaiement_{{index}}_2" data-content="Chèque :{{percentCheque}}%"  style="background-color: #1565c0 ; width: {{percentCheque}}% ;" title="test" ></div>
                                <div class="fixed_height" id="ttpPaiement_{{index}}_3" data-content="Virement :{{percentVirement}}%"  style="background-color: #ffca28 ; width: {{percentVirement}}% ;" title="test" ></div>
                                <div class="fixed_height" id="ttpPaiement_{{index}}_4" data-content="Carte Bancaire :{{percentCarteBancaire}}%"  style="background-color: #ec407a ; width:{{percentCarteBancaire}}% ;" title="test" ></div>
                                <div class="fixed_height" id="ttpPaiement_{{index}}_5" data-content="Mobile Money :{{percentMobileMoney}}%"  style="background-color: #009688 ; width: {{percentMobileMoney}}% ;" title="test" ></div>
                            </div>
                        </div>
                        <div class="w-100 height_box border-left d-flex flex-column align-items-center justify-content-center px-3">
                            <h6 class="title_form text-black text-uppercase">Motif</h6>
                            {% set percentDepense = element.statMotif.DEP is defined ? ((element.statMotif.DEP * 100)/ element.nbElement) : 0 %}
                            {% set percentAutre = element.statMotif.AUT is defined ? ((element.statMotif.AUT * 100)/ element.nbElement) : 0 %}
                            <div class="d-flex w-100 elemMotif_{{index}} align-items-center rounded justify-content-center" >
                                <div class="fixed_height" id="ttpMotif_{{index}}_1" data-content="Dépense : {{percentDepense}}%" style="background-color: #03a9f4 ; width: {{percentDepense}}% ;"></div>
                                <div class="fixed_height" id="ttpMotif_{{index}}_2" data-content="Autre : {{percentAutre}}%" style="background-color: #cddc39 ; width: {{percentAutre}}% ;" ></div>
                            </div>
                        </div>
                        <div class="w-100 height_box px-3 border-left d-flex flex-column align-items-center justify-content-center">
                            <h6 class="title_form text-black text-uppercase">Montant</h6>
                            <span>{{element.montant}}</span>
                        </div>
                    </div>
                    <div id="collapse_{{index}}" class="collapse px-3" aria-labelledby="heading_{{index}}" data-parent="#accordionExample">
                        <div class="table-responsive mt-3">
                            <table class="table table-sm table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Date</th>
                                        <th>Elément</th>
                                        <th>Bénéficiaire</th>
                                        <th>N° Facture</th>
                                        <th>Service</th>
                                        <th>Motif</th>
                                        <th>Mode Paiement</th>
                                        <th>Montant</th>
                                        <th>Statut</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="elemDepense_{{index}}">
                                    {% set i = 1 %}
                                    {% for depense in element.detail %}
                                        <tr>
                                            <td>{{depense.dateDeclaration}}</td>
                                            <td>{{depense.element|upper}}</td>
                                            <td>{{depense.beneficiaire|upper}}</td>
                                            <td>{{depense.numFacture}}</td>
                                            <td>{{depense.service}}</td>
                                            <td>{{depense.motif|upper}}</td>
                                            <td>{{depense.modePaiement|upper}}</td>
                                            <td>{{depense.montant}}</td>
                                            <td class="align-middle">
                                                <div class="fixed_height rounded w-100" id="ttpStatut_{{index}}_{{i}}" data-content="{{depense.statut|upper|raw}}"  style="background-color: #1565c0 ;" title="test" ></div>
                                            </td>
                                            <td class="text-center align-middle">
                                                <a href="{{path('compta_depense_details',{'id':depense.encodedId})}}" class="btn btn-sm btn-outline-warning font-smaller"><i class="fa fa-edit"></i></a>
                                            </td>
                                        </tr>
                                        {% set i = i + 1 %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% set index = index + 1 %}
            {% endfor %}
        </div>
        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="submit" class="btn btn-sm ml-3 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}


