 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/location.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/location.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pb-3">
        <div class="w-100 mb-4 d-flex flex-row align-items-center justify-content-center flex-wrap">
            <button class="btn btn-sm btn-info m-3 font-smaller step1 text-uppercase"><i class="fa fa-1"></i>&emsp;Bailleur</button>
            <i class="fa fa-arrow-right font-weight-bold text-info"></i>
            <button class="btn btn-sm btn-outline-info m-3 step2 font-smaller text-uppercase"><i class="fa fa-2"></i>&emsp;Locataire</button>
            <i class="fa fa-arrow-right font-weight-bold text-info"></i>
            <button class="btn btn-sm btn-outline-info m-3 step3 font-smaller text-uppercase"><i class="fa fa-3"></i>&emsp;Bail</button>
            <i class="fa fa-arrow-right font-weight-bold text-info"></i>
            <button class="btn btn-sm btn-outline-info m-3 step4 font-smaller text-uppercase"><i class="fa fa-4"></i>&emsp;Contrat</button>
            <i class="fa fa-arrow-right font-weight-bold text-info"></i>
            <button class="btn btn-sm btn-outline-info m-3 step5 font-smaller text-uppercase"><i class="fa fa-5"></i>&emsp;Récapitulatif</button>
        </div>
        <form id="formContrat">
            <div id="step1" class="step">
                <h5 class="title_form text-black text-uppercase">Information Bailleur</h5>
                <div id="captionContratBailleur" class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="prest_ctr_prop_nom" class="font-weight-bold">Nom Propriétaire</label>
                            <select name="prest_ctr_prop_nom" class="custom-select chosen_select custom-select-sm" id="prest_ctr_prop_nom">
                                <option value="">-</option>
                                {% for bailleur in bailleurs %}
                                    <option value="{{bailleur.id}}">{{bailleur.nom}} | {{bailleur.telephone}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="prest_ctr_prop_phone" class="font-weight-bold">Téléphone</label>
                            <input type="text" readonly name="prest_ctr_prop_phone" id="prest_ctr_prop_phone" class="form-control" placeholder=". . .">
                        </div>
                        <div class="col-md-3">
                            <label for="prest_ctr_prop_adresse" class="font-weight-bold">Adresse</label>
                            <input type="text" readonly name="prest_ctr_prop_adresse" id="prest_ctr_prop_adresse" class="form-control" placeholder=". . .">
                            <input type="hidden" name="prest_ctr_prop_nouveau" value="NON">
                        </div>
                        <div class="col-md-2">
                            <label class="font-weight-bold">&nbsp;</label>
                            <button type="button" class="btn btn-sm btn-primary btn-block" id="prest_ctr_new_prop" ><i class="fa fa-plus-circle"></i>&nbsp;Nouveau</button>
                        </div>
                    </div>
                </div>
                <div class="w-100 text-right mt-5 barre_dashed p-3">
                    <button type="button" class="btn btn-warning text-white px-3 btn-sm next-btn">Suivant&nbsp;<i class="fa fa-arrow-right"></i></button>
                </div>
            </div>

            <div id="step2" class="step">
                <h5 class="title_form text-black text-uppercase mt-3">Information Locataire</h5>
                <div class="container-fluid" id="captionContratLocatiare">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="prest_ctr_clt_nom" class="font-weight-bold">Nom Locataire</label>
                            <input type="text" name="prest_ctr_clt_nom" id="prest_ctr_clt_nom" class="form-control" placeholder=". . .">
                        </div>
                        <div class="col-md-3">
                            <label for="prest_ctr_clt_telephone" class="font-weight-bold">Téléphone</label>
                            <input type="text" name="prest_ctr_clt_telephone" id="prest_ctr_clt_telephone" class="form-control" placeholder=". . .">
                        </div>
                        <div class="col-md-3">
                            <label for="prest_ctr_clt_adresse" class="font-weight-bold">Adresse</label>
                            <input type="text" name="prest_ctr_clt_adresse" id="prest_ctr_clt_adresse" class="form-control" placeholder=". . .">
                        </div>
                        <div class="col-md-3">
                            <label for="prest_ctr_clt_email" class="font-weight-bold">Email</label>
                            <input type="email" name="prest_ctr_clt_email" id="prest_ctr_clt_email" class="form-control" placeholder=". . .">
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-sm btn-info btn-block mt-3"><i class="fa fa-users"></i>&nbsp;Existant</button>
                        </div>
                    </div>
                </div>
                <div class="w-100 text-right mt-5 barre_dashed p-3">
                    <button type="button" class="btn btn-warning text-white px-3 btn-sm prev-btn"><i class="fa fa-arrow-left"></i>&nbsp;Précédent</button>
                    <button type="button" class="btn btn-warning text-white px-3 btn-sm next-btn">Suivant&nbsp;<i class="fa fa-arrow-right"></i></button>
                </div>
            </div>

            <div id="step3" class="step">
                <h5 class="title_form text-black text-uppercase mt-3">Information de Bail</h5>
                <div  id="captionBailLocation" class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="prest_ctr_bail_type_location" class="font-weight-bold">Type location</label>
                            <select name="prest_ctr_bail_type_location" class="custom-select custom-select-sm chosen_select" id="prest_ctr_bail_type_location">
                                <option value="">-</option>
                                {% for type_loc in type_locs %}
                                    <option value="{{type_loc.id}}">{{type_loc.nom|upper}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="prest_ctr_bail_location" class="font-weight-bold">Nom du bail</label>
                            <select name="prest_ctr_bail_location" class="custom-select custom-select-sm chosen_select" id="prest_ctr_bail_location">
                                <option value="">-</option>
                            </select>
                            <input type="hidden" name="prest_ctr_bail_nouveau" value="NON">
                        </div>
                        <div class="col-md-3">
                            <label for="prest_ctr_bail_adresse" class="font-weight-bold">Adresse</label>
                            <input type="text" readonly name="prest_ctr_bail_adresse" id="prest_ctr_bail_adresse" class="form-control" placeholder=". . .">
                        </div>
                        <div class="col-md-3">
                            <label for="prest_ctr_bail_dimension" class="font-weight-bold">Dimension</label>
                            <input type="text" readonly name="prest_ctr_bail_dimension" id="prest_ctr_bail_dimension" class="form-control" placeholder=". . .">
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-sm btn-primary btn-block mt-3" id="prest_ctr_new_bail"><i class="fa fa-plus-circle"></i>&nbsp;Ajouter une location</button>
                        </div>
                    </div>
                </div>
                <div class="w-100 text-right mt-5 barre_dashed p-3">
                    <button type="button" class="btn btn-warning text-white px-3 btn-sm prev-btn"><i class="fa fa-arrow-left"></i>&nbsp;Précédent</button>
                    <button type="button" class="btn btn-warning text-white px-3 btn-sm next-btn">Suivant&nbsp;<i class="fa fa-arrow-right"></i></button>
                </div>
            </div>

            <div id="step4" class="step">
                <h5 class="title_form text-black text-uppercase mt-3">Information contrat</h5>
                <div class="row">
                    <div class="col-md-3">
                        <label for="prest_ctr_cycle" class="font-weight-bold">Cycle</label>
                        <select name="prest_ctr_cycle" class="custom-select chosen_select custom-select-sm prest_ctr_cycle" id="prest_ctr_cycle">
                            <option value="" data-target="#cycleRef" data-libelle="">-</option>
                            {% for cycle in cycles %}
                                <option value="{{cycle.id}}" data-target="#cycleRef" data-reference="{{cycle.reference}}" data-libelle="{{cycle.libelle}}" >{{cycle.nom|upper}}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" id="cycleRef">
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_forfait" class="font-weight-bold">Forfait</label>
                        <select name="prest_ctr_forfait" class="custom-select chosen_select custom-select-sm prest_ctr_forfait" id="prest_ctr_forfait">
                            <option value="" data-target="#forfaitRef" data-libelle="">-</option>
                            <option value="1" data-target="#forfaitRef" data-reference="FJOUR" data-libelle="par Jour">par Jour</option>
                            <option value="2" data-target="#forfaitRef" data-reference="FMOIS" data-libelle="par Mois">par Mois</option>
                        </select>
                        <input type="hidden" id="forfaitRef">
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_montant_forfait" class="font-weight-bold">Montant <span id="lblMontant"></span></label>
                        <input type="number" step="any" name="prest_ctr_montant_forfait" id="prest_ctr_montant_forfait" class="form-control prest_ctr_montant_forfait" placeholder=". . .">
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_duree" class="font-weight-bold">Durée</label>
                        <input type="number" name="prest_ctr_duree" id="prest_ctr_duree" class="form-control prest_ctr_duree" placeholder=". . .">
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_periode" class="font-weight-bold mt-3">Période</label>
                        <select name="prest_ctr_periode" class="custom-select chosen_select custom-select-sm prest_ctr_periode" id="prest_ctr_periode">
                            <option value="" data-target="#periodeRef" data-reference="" data-libelle="" >-</option>
                            {% for periode in periodes %}
                                <option value="{{periode.id}}" data-target="#periodeRef" data-libelle="{{periode.nom}}" data-reference="{{periode.reference}}" >{{periode.nom|upper}}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" id="periodeRef">
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_date_debut" class="font-weight-bold mt-3">Date Début</label>
                        <input type="text" name="prest_ctr_date_debut" id="prest_ctr_date_debut" class="form-control" placeholder=". . .">
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_date_fin" class="font-weight-bold mt-3">Date Fin</label>
                        <input type="text" readonly name="prest_ctr_date_fin" id="prest_ctr_date_fin" class="form-control" placeholder=". . .">
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_retenu" class="font-weight-bold mt-3">Pourcentage à retenir (%)</label>
                        <input type="number" step="any" name="prest_ctr_retenu" id="prest_ctr_retenu" class="form-control prest_ctr_retenu" placeholder=". . .">
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_renouvellement" class="font-weight-bold mt-3">Renouvellement</label>
                        <select name="prest_ctr_renouvellement" class="custom-select chosen_select custom-select-sm" id="prest_ctr_renouvellement">
                            <option value="">-</option>
                            {% for renouv in renouvs %}
                                <option value="{{renouv.id}}">{{renouv.nom|upper}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_mode" class="font-weight-bold mt-3">Mode de paiement Loyer</label>
                        <select name="prest_ctr_mode" class="custom-select chosen_select custom-select-sm " id="prest_ctr_mode">
                            <option value="" data-libelle="">-</option>
                            <option value="" data-libelle="après début du mois">Paiement à l'entrée</option>
                            <option value="" data-libelle="après fin du mois">Paiement à la fin du mois</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_delai_mode" class="font-weight-bold mt-3">Délai (jour) <span id="delaiPaiement"></span></label>
                        <input type="number" step="any" name="prest_ctr_delai_mode" id="prest_ctr_delai_mode" class="form-control" placeholder="5 (par défaut)">
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_bail_caution" class="font-weight-bold mt-3">Caution</label>
                        <input type="number" step="any" name="prest_ctr_bail_caution" id="prest_ctr_bail_caution" class="form-control prest_ctr_bail_caution" placeholder=". . .">
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_montant_contrat" class="font-weight-bold mt-3">Montant contrat</label>
                        <input type="text" readonly name="prest_ctr_montant_contrat" id="prest_ctr_montant_contrat" class="form-control" placeholder=". . .">
                        <input type="hidden" id="prest_ctr_montant_mois">
                    </div>
                    <div class="col-md-6">
                        <label for="prest_ctr_delai_change" class="font-weight-bold mt-3">Définir un delai (jour) pour signaler des changements avant la fin du contrat </label>
                        <input type="number" step="any" name="prest_ctr_delai_change" id="prest_ctr_delai_change" class="form-control" placeholder="15 (par défaut)">
                    </div>
                </div>
                <div class="w-100 text-right mt-5 barre_dashed p-3">
                    <button type="button" class="btn btn-warning text-white px-3 btn-sm prev-btn"><i class="fa fa-arrow-left"></i>&nbsp;Précédent</button>
                    <button type="button" class="btn btn-warning text-white px-3 btn-sm next-btn">Suivant&nbsp;<i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
            <div id="step5" class="step">
                <h4 class="text-black text-uppercase mt-4">Récapitulatif</h4>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 mt-2">
                            <ul class="list-unstyled">
                                <li>Nom du bailleur : </li>
                                <li>Tel : </li>
                                <li>Adresse : </li>
                                <li>Nom de la Propriété : </li>
                            </ul>
                        </div>
                        <div class="col-md-6 mt-2">
                            <ul class="list-unstyled">
                                <li>Nom du Locataire : </li>
                                <li>Tel : </li>
                                <li>Adresse : </li>
                                <li>Email : </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-2">
                            <ul class="list-unstyled">
                                <li>Type de Location : </li>
                                <li>Nom du Bail : </li>
                                <li>Adresse : </li>
                                <li>Dimension : </li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-100">
                        <h5 class="title_form text-black text-uppercase mt-2">Contrat</h5>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="font-weight-bold mt-3">Cycle</label>
                                <input type="text" class="form-control" readonly value="MENSUEL" >
                            </div>
                            <div class="col-md-3">
                                <label class="font-weight-bold mt-3">Forfait</label>
                                <input type="text" class="form-control" readonly value="par Mois" >
                            </div>
                            <div class="col-md-3">
                                <label class="font-weight-bold mt-3">Montant par Mois</label>
                                <input type="text" class="form-control" readonly value="450000" >
                            </div>
                            <div class="col-md-3">
                                <label class="font-weight-bold mt-3">Durée</label>
                                <input type="text" class="form-control" readonly value="2" >
                            </div>
                            <div class="col-md-3">
                                <label class="font-weight-bold mt-3">Période</label>
                                <input type="text" class="form-control" readonly value="MOIS" >
                            </div>
                            <div class="col-md-3">
                                <label class="font-weight-bold mt-3">Date Début</label>
                                <input type="text" class="form-control" readonly value="30/06/2023" >
                            </div>
                            <div class="col-md-3">
                                <label class="font-weight-bold mt-3">Date Fin</label>
                                <input type="text" class="form-control" readonly value="31/07/2023" >
                            </div>
                            <div class="col-md-3">
                                <label class="font-weight-bold mt-3">Poucentage à retenir(%)</label>
                                <input type="text" class="form-control" readonly value="" >
                            </div>
                            <div class="col-md-3">
                                <label class="font-weight-bold mt-3">Renouvellement</label>
                                <input type="text" class="form-control" readonly value="RENOUVELLEMENT ANNUELLE" >
                            </div>
                            <div class="col-md-3">
                                <label class="font-weight-bold mt-3">Mode de paiement Loyer</label>
                                <input type="text" class="form-control" readonly value="Paiement à l'entrée" >
                            </div>
                            <div class="col-md-3">
                                <label class="font-weight-bold mt-3">Délai (jour) après début du mois</label>
                                <input type="text" class="form-control" readonly value="5" >
                            </div>
                            <div class="col-md-3">
                                <label class="font-weight-bold mt-3">Caution</label>
                                <input type="text" class="form-control" readonly value="300000" >
                            </div>
                            <div class="col-md-3">
                                <label class="font-weight-bold mt-3">Montant Contrat</label>
                                <input type="text" class="form-control" readonly value="1400000" >
                            </div>
                            <div class="col-md-6">
                                <label class="font-weight-bold mt-3">Délai (jour) changement avant fin du mois</label>
                                <input type="text" class="form-control w-50" readonly value="15" >
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="table-responsive mt-4">
                            <table class="table table-sm table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Designation</th>
                                        <th>Montant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Loyer</td>
                                        <td>1100000</td>
                                    </tr>
                                    <tr>
                                        <td>Caution</td>
                                        <td>300000</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Montant Total</th>
                                        <th class="bg-primary">1400000</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                                <div class="row">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-5"> 
                                        <label for="nom" class="mt-1 font-weight-bold text-uppercase">à,</label>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-location"></i></span>
                                            </div>
                                            <input type="text" class="form-control ctr_lieu" name="ctr_lieu" value="Moroni" placeholder=". . ." aria-label="Lieu Contrat" id="ctr_lieu">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-5"> 
                                        <label for="nom" class="mt-1 font-weight-bold">Le,</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                                            </div>
                                            <input type="text" class="form-control ctr_date" name="ctr_date" value="{{ 'now'|date('d/m/Y') }}" placeholder=". . ." aria-label="Date Contrat" id="ctr_date">
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
                {% if with_foot %}
                    <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                        <button type="button" class="btn btn-warning text-white px-3 btn-sm prev-btn"><i class="fa fa-arrow-left"></i>&nbsp;Précédent</button>
                        <button type="submit" class="btn btn-sm ml-3 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
                    </div>
                {% endif %}
            </div>  
        </form>
    </div>
</div>
{% endblock %}


