 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/location.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <form id="formContrat">
            <h5 class="title_form text-black text-uppercase">Information Bailleur</h5>
            <div id="captionContratBailleur">
                <div class="row">
                    <div class="col-md-4">
                        <label for="prest_ctr_prop_nom" class="font-weight-bold">Nom Propriétaire</label>
                        <select name="prest_ctr_prop_nom" class="custom-select chosen_select custom-select-sm" id="prest_ctr_prop_nom">
                            <option value="">-</option>
                            {% for bailleur in bailleurs %}
                                <option value="{{bailleur.id}}">{{bailleur.nom}} | {{bailleur.telephone}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_prop_phone" class="font-weight-bold">Téléphone</label>
                        <input type="text" readonly name="prest_ctr_prop_phone" id="prest_ctr_prop_phone" class="form-control" placeholder=". . .">
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_prop_adresse" class="font-weight-bold">Adresse</label>
                        <input type="text" readonly name="prest_ctr_prop_adresse" id="prest_ctr_prop_adresse" class="form-control" placeholder=". . .">
                        <input type="hidden" name="prest_ctr_prop_nouveau" value="NON">
                    </div>
                    <div class="col-md-2">
                        <label class="font-weight-bold">&nbsp;</label>
                        <button type="button" class="btn btn-sm btn-primary btn-block" id="prest_ctr_new_prop" ><i class="fa fa-plus-circle"></i>&nbsp;Nouveau</button>
                    </div>
                </div>
            </div>
            <h5 class="title_form text-black text-uppercase mt-3">Information Client</h5>
            <div class="row">
                <div class="col-md-3">
                    <label for="prest_ctr_clt_nom" class="font-weight-bold">Nom Client</label>
                    <input type="text" name="prest_ctr_clt_nom" id="prest_ctr_clt_nom" class="form-control" placeholder=". . .">
                </div>
                <div class="col-md-3">
                    <label for="prest_ctr_clt_telephone" class="font-weight-bold">Téléphone</label>
                    <input type="text" name="prest_ctr_clt_telephone" id="prest_ctr_clt_telephone" class="form-control" placeholder=". . .">
                </div>
                <div class="col-md-3">
                    <label for="prest_ctr_clt_adresse" class="font-weight-bold">Adresse</label>
                    <input type="text" name="prest_ctr_clt_adresse" id="prest_ctr_clt_adresse" class="form-control" placeholder=". . .">
                </div>
                <div class="col-md-3">
                    <label for="prest_ctr_clt_email" class="font-weight-bold">Email</label>
                    <input type="email" name="prest_ctr_clt_email" id="prest_ctr_clt_email" class="form-control" placeholder=". . .">
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-sm btn-info btn-block mt-3"><i class="fa fa-users"></i>&nbsp;Existant</button>
                </div>
            </div>
            <h5 class="title_form text-black text-uppercase mt-3">Information de Location</h5>
            <div  id="captionBailLocation">
                <div class="row">
                    <div class="col-md-3">
                        <label for="prest_ctr_bail_type_location" class="font-weight-bold">Type location</label>
                        <select name="prest_ctr_bail_type_location" class="custom-select chosen_select custom-select-sm" id="prest_ctr_bail_type_location">
                            <option value="">-</option>
                            {% for type_loc in type_locs %}
                                <option value="{{type_loc.id}}">{{type_loc.nom|upper}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_bail_location" class="font-weight-bold">Location du bailleur</label>
                        <select name="prest_ctr_bail_location" class="custom-select chosen_select custom-select-sm" id="prest_ctr_bail_location">
                            <option value="">-</option>
                            {# {% for type_loc in type_locs %}
                                <option value="{{type_loc.id}}">{{type_loc.nom|upper}}</option>
                            {% endfor %} #}
                        </select>
                        <input type="hidden" name="prest_ctr_bail_nouveau" value="NON">
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_bail_adresse" class="font-weight-bold">Adresse</label>
                        <input type="text" readonly name="prest_ctr_bail_adresse" id="prest_ctr_bail_adresse" class="form-control" placeholder=". . .">
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_bail_dimension" class="font-weight-bold">Dimension</label>
                        <input type="text" readonly name="prest_ctr_bail_dimension" id="prest_ctr_bail_dimension" class="form-control" placeholder=". . .">
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_bail_montant" class="font-weight-bold mt-3">Montant</label>
                        <input type="number" step="any" readonly name="prest_ctr_bail_montant" id="prest_ctr_bail_montant" class="form-control" placeholder=". . .">
                    </div>
                    <div class="col-md-3">
                        <label for="prest_ctr_bail_caution" class="font-weight-bold mt-3">Caution</label>
                        <input type="number" step="any" name="prest_ctr_bail_caution" id="prest_ctr_bail_caution" class="form-control prest_ctr_bail_caution" placeholder=". . .">
                    </div>
                    <div class="col-md-3">
                        <label class="font-weight-bold mt-3">&nbsp;</label>
                        <button type="button" class="btn btn-sm btn-primary btn-block" id="prest_ctr_new_bail"><i class="fa fa-plus-circle"></i>&nbsp;Ajouter une location</button>
                    </div>
                </div>
            </div>
            <h5 class="title_form text-black text-uppercase mt-3">Information contrat</h5>
            <div class="row">
                <div class="col-md-3">
                    <label for="prest_ctr_duree" class="font-weight-bold">Durée</label>
                    <input type="number" name="prest_ctr_duree" id="prest_ctr_duree" class="form-control prest_ctr_duree" placeholder=". . .">
                </div>
                <div class="col-md-3">
                    <label for="prest_ctr_periode" class="font-weight-bold">Période</label>
                    <select name="prest_ctr_periode" class="custom-select chosen_select custom-select-sm " id="prest_ctr_periode">
                        <option value="" data-reference="">-</option>
                        {% for periode in periodes %}
                            <option value="{{periode.id}}" data-reference="{{periode.reference}}" >{{periode.nom|upper}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="prest_ctr_renouvellement" class="font-weight-bold">Renouvellement</label>
                    <select name="prest_ctr_renouvellement" class="custom-select chosen_select custom-select-sm" id="prest_ctr_renouvellement">
                        <option value="">-</option>
                        {% for renouv in renouvs %}
                            <option value="{{renouv.id}}">{{renouv.nom|upper}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="prest_ctr_date_debut" class="font-weight-bold">Date Début</label>
                    <input type="text" name="prest_ctr_date_debut" id="prest_ctr_date_debut" class="form-control" placeholder=". . .">
                </div>
                <div class="col-md-3">
                    <label for="prest_ctr_date_fin" class="font-weight-bold mt-2">Date Fin</label>
                    <input type="text" readonly name="prest_ctr_date_fin" id="prest_ctr_date_fin" class="form-control" placeholder=". . .">
                </div>
                <div class="col-md-3">
                    <label for="prest_ctr_montant_contrat" class="font-weight-bold mt-2">Montant contrat</label>
                    <input type="text" readonly name="prest_ctr_montant_contrat" id="prest_ctr_montant_contrat" class="form-control" placeholder=". . .">
                </div>
            </div>
            {% if with_foot %}
                <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                    {# <button type="button" class="btn btn-sm effacerTout btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button> #}
                    <button type="submit" class="btn btn-sm btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
                </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}


