 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <h5 class="title_form text-black text-uppercase">Identification des informations du bailleur</h5>
        <div class="row">
            <div class="col-md-5">
                <label for="nom" class="font-weight-bold">Nom propriétaire</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
            <div class="col-md-3">
                <label for="nom" class="font-weight-bold">Téléphone</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
            <div class="col-md-4">
                <label for="nom" class="font-weight-bold">Adresse</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
        </div>
        <h5 class="title_form text-black text-uppercase mt-3">Identification des informations du client</h5>
        <div class="row">
            <div class="col-md-5">
                <label for="nom" class="font-weight-bold">Nom client</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
            <div class="col-md-3">
                <label for="nom" class="font-weight-bold">Téléphone</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
            <div class="col-md-4">
                <label for="nom" class="font-weight-bold">Adresse</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
        </div>
        <h5 class="title_form text-black text-uppercase mt-3">Information de liée a la location</h5>
        <div class="row">
            <div class="col-md-3">
                <label for="nom" class="font-weight-bold">Type location</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
            <div class="col-md-4">
                <label for="nom" class="font-weight-bold">Nom location du bailleur</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
            <div class="col-md-2">
                <label for="nom" class="font-weight-bold">Dimension location</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
            <div class="col-md-3">
                <label for="nom" class="font-weight-bold">Montant location</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
            <div class="col-md-3">
                <label for="nom" class="font-weight-bold mt-2">Caution location</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
        </div>
        <h5 class="title_form text-black text-uppercase mt-3">Informations sur le contrat</h5>
        <div class="row">
            <div class="col-md-3">
                <label for="nom" class="font-weight-bold">Montant contrat</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
            <div class="col-md-3">
                <label for="nom" class="font-weight-bold">Durée Contrat</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
            <div class="col-md-3">
                <label for="nom" class="font-weight-bold">Type de renouvellement</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
        </div>
        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="button" class="btn btn-sm effacerTout btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button>
                <button type="submit" class="btn btn-sm ml-3 enregistre_create_menu btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}


