 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}} N° : <span class="text-white px-2 py-1 rounded badge-warning">{{contrat.numContrat}}</span></h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled mb-3">
                    <li>Nom du bailleur :&nbsp;<span class="recap_prop_nom text-primary font-weight-bold">{{bailleur.nom|upper}}</span></li>
                    <li>Tel :&nbsp;<span class="recap_prop_tel text-primary font-weight-bold">{{bailleur.telephone}}</span></li>
                    <li>Adresse :&nbsp;<span class="recap_prop_adresse text-primary font-weight-bold">{{bailleur.adresse|upper}}</span></li>
                </ul>
                <ul class="list-unstyled">
                    <li>Type de Location :&nbsp;<span class="recap_bail_type text-primary font-weight-bold">{{contrat.typeLocation|upper}}</span></li>
                    <li>Nom du Bail :&nbsp;<span class="recap_bail_nom text-primary font-weight-bold">{{bail.nom|upper}}</span></li>
                    <li>Adresse :&nbsp;<span class="recap_bail_adresse text-primary font-weight-bold">{{bail.adresse|upper}}</span></li>
                    <li>Dimension :&nbsp;<span class="recap_bail_dimension text-primary font-weight-bold">{{bail.dimension}}</span></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li>Nom du Locataire :&nbsp;<span class="recap_loctr_nom text-primary font-weight-bold">{{locataire.nom|upper}}</span></li>
                    <li>Tel :&nbsp;<span class="recap_loctr_tel text-primary font-weight-bold">{{locataire.telephone}}</span></li>
                    <li>Adresse :&nbsp;<span class="recap_loctr_adresse text-primary font-weight-bold">{{locataire.adresse|upper}}</span></li>
                    <li>Email :&nbsp;<span class="recap_loctr_email text-primary font-weight-bold">{{locataire.email}}</span></li>
                </ul>
            </div>
        </div>
        <div class="w-100">
            <div class="row">
                <div class="col-md-2">
                    <label class="font-weight-bold mt-3">Cycle</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_cycle" value="{{contrat.cycle|upper}}" >
                </div>
                <div class="col-md-2">
                    <label class="font-weight-bold mt-3">Type de paiement</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_forfait" value="{{contrat.typePaiement|upper}}" >
                </div>
                <div class="col-md-3">
                    <label class="font-weight-bold mt-3">Montant par Mois</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_montant_forfait" value="{{contrat.montantForfait}}" >
                </div>
                <div class="col-md-2">
                    <label class="font-weight-bold mt-3">Durée du contrat</label>
                    <input type="text" class="form-control" id="recap_ctr_duree" readonly value="{{contrat.duree}}" >
                </div>
                <div class="col-md-3">
                    <label class="font-weight-bold mt-3">Période du contrat</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_periode" value="{{contrat.periode}}" >
                </div>
                <div class="col-md-3">
                    <label class="font-weight-bold mt-3">Date Début</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_date_debut" value="{{contrat.dateDebut}}" >
                </div>
                <div class="col-md-3">
                    <label class="font-weight-bold mt-3">Date Fin</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_date_fin" value="{{contrat.dateFin}}" >
                </div>
                <div class="col-md-3">
                    <label class="font-weight-bold mt-3">Pourcentage à retenir(%)</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_percent" value="{{contrat.retenu}}" >
                </div>
                <div class="col-md-3">
                    <label class="font-weight-bold mt-3">Renouvellement</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_renouvment" value="{{contrat.renouveau|upper}}" >
                </div>
                {% if contrat.isModeP %}
                    <div class="col-md-3">
                        <label class="font-weight-bold mt-3">Mode de paiement Loyer</label>
                        <input type="text" class="form-control" readonly id="recap_ctr_mode" value="{{contrat.modePaiement|upper}}" >
                    </div>
                    <div class="col-md-3">
                        <label class="font-weight-bold mt-3">Date Limite Paiement</label>
                        <input type="text" class="form-control" readonly id="recap_ctr_date_limite" value="{{contrat.dateLimite}}" >
                    </div>
                {% endif %}
                <div class="col-md-3">
                    <label class="font-weight-bold mt-3">Caution</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_caution" value="{{contrat.caution}}" >
                </div>
                <div class="col-md-3">
                    <label class="font-weight-bold mt-3">Montant Contrat</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_montant_contrat" value="{{contrat.montantContrat}}" >
                </div>
                <div class="col-md-4">
                    <label class="font-weight-bold mt-3">Changement avant fin du contrat</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_changement" value="{{contrat.changement}}" >
                </div>
            </div>
        </div> 
        <div class="w-100">
            <label class="font-weight-bold">Description</label>
            <textarea name="paiement_editor" class="form-control"  id="paiement_editor" cols="30" rows="10"></textarea>
        </div>

        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                {% if contrat.refStatut == "ENCR" %}
                    <button type="button" class="btn btn-sm btn-danger btn_delete_contrat text-white" value="{{contrat.id}}"><i class="fa fa-trash"></i>&nbsp;Supprimer</button>
                    <a href="{{path('prest_edit_contrat_location',{'id':contrat.id})}}" type="button" class="btn btn-sm ml-3 btn-purple text-white"><i class="fa fa-edit"></i>&nbsp;Modifier</a>
                    <button type="button" class="btn btn-sm ml-3 btn-secondary btn_annule_contrat text-white" value="{{contrat.id}}"><i class="fa fa-times"></i>&nbsp;Annuler</button>
                {% elseif contrat.refStatut == "ANL" or contrat.refStatut == "EXP" %}
                    <button type="button" class="btn btn-sm btn-danger btn_delete_contrat text-white" value="{{contrat.id}}"><i class="fa fa-trash"></i>&nbsp;Supprimer</button>
                {% endif %}
                <button type="button" class="btn btn-sm ml-3 btn-primary"><i class="fa fa-print"></i>&nbsp;Imprimer</button>
            </div>
        {% endif %} 

    </div>
</div>
{% endblock %}