 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}} N° : <span class="text-white px-2 py-1 rounded badge-warning">{{contrat.numContrat}}</span></h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled mb-3">
                    <li>Nom du bailleur :&nbsp;<span class="recap_prop_nom text-primary font-weight-bold">{{bailleur.nom|upper}}</span></li>
                    <li>Tel :&nbsp;<span class="recap_prop_tel text-primary font-weight-bold">{{bailleur.telephone}}</span></li>
                    <li>Adresse :&nbsp;<span class="recap_prop_adresse text-primary font-weight-bold">{{bailleur.adresse|upper}}</span></li>
                </ul>
                <ul class="list-unstyled">
                    <li>Type de Location :&nbsp;<span class="recap_bail_type text-primary font-weight-bold">{{contrat.typeLocation|upper}}</span></li>
                    <li>Nom du Bail :&nbsp;<span class="recap_bail_nom text-primary font-weight-bold">{{bail.nom|upper}}</span></li>
                    <li>Adresse :&nbsp;<span class="recap_bail_adresse text-primary font-weight-bold">{{bail.adresse|upper}}</span></li>
                    <li>Dimension :&nbsp;<span class="recap_bail_dimension text-primary font-weight-bold">{{bail.dimension}}</span></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li>Nom du Locataire :&nbsp;<span class="recap_loctr_nom text-primary font-weight-bold">{{locataire.nom|upper}}</span></li>
                    <li>Tel :&nbsp;<span class="recap_loctr_tel text-primary font-weight-bold">{{locataire.telephone}}</span></li>
                    <li>Adresse :&nbsp;<span class="recap_loctr_adresse text-primary font-weight-bold">{{locataire.adresse|upper}}</span></li>
                    <li>Email :&nbsp;<span class="recap_loctr_email text-primary font-weight-bold">{{locataire.email}}</span></li>
                </ul>
            </div>
        </div>
        <div class="w-100">
            <div class="row">
                <div class="col-md-2">
                    <label class="font-weight-bold mt-3">Cycle</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_cycle" value="{{contrat.cycle|upper}}" >
                </div>
                <div class="col-md-2">
                    <label class="font-weight-bold mt-3">Type de paiement</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_forfait" value="{{contrat.typePaiement|upper}}" >
                </div>
                <div class="col-md-3">
                    <label class="font-weight-bold mt-3">Montant par Mois</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_montant_forfait" value="{{contrat.montantForfait}}" >
                </div>
                <div class="col-md-2">
                    <label class="font-weight-bold mt-3">Durée du contrat</label>
                    <input type="text" class="form-control" id="recap_ctr_duree" readonly value="{{contrat.duree}}" >
                </div>
                <div class="col-md-3">
                    <label class="font-weight-bold mt-3">Période du contrat</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_periode" value="{{contrat.periode}}" >
                </div>
                <div class="col-md-3">
                    <label class="font-weight-bold mt-3">Date Début</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_date_debut" value="{{contrat.dateDebut}}" >
                </div>
                <div class="col-md-3">
                    <label class="font-weight-bold mt-3">Date Fin</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_date_fin" value="{{contrat.dateFin}}" >
                </div>
                <div class="col-md-3">
                    <label class="font-weight-bold mt-3">Pourcentage à retenir(%)</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_percent" value="{{contrat.retenu}}" >
                </div>
                <div class="col-md-3">
                    <label class="font-weight-bold mt-3">Renouvellement</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_renouvment" value="{{contrat.renouveau|upper}}" >
                </div>
                {% if contrat.isModeP %}
                    <div class="col-md-3">
                        <label class="font-weight-bold mt-3">Mode de paiement Loyer</label>
                        <input type="text" class="form-control" readonly id="recap_ctr_mode" value="{{contrat.modePaiement|upper}}" >
                    </div>
                    <div class="col-md-3">
                        <label class="font-weight-bold mt-3">Date Limite Paiement</label>
                        <input type="text" class="form-control" readonly id="recap_ctr_date_limite" value="{{contrat.dateLimite}}" >
                    </div>
                {% endif %}
                <div class="col-md-3">
                    <label class="font-weight-bold mt-3">Caution</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_caution" value="{{contrat.caution}}" >
                </div>
                <div class="col-md-3">
                    <label class="font-weight-bold mt-3">Montant Contrat</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_montant_contrat" value="{{contrat.montantContrat}}" >
                </div>
                <div class="col-md-3">
                    <label class="font-weight-bold mt-3">Changement avant fin du mois</label>
                    <input type="text" class="form-control" readonly id="recap_ctr_changement" value="{{contrat.changement}}" >
                </div>
            </div>
        </div> 
        <div class="w-100">
            <label class="font-weight-bold">Description</label>
            <textarea name="paiement_editor" class="form-control"  id="paiement_editor" cols="30" rows="10"></textarea>
        </div>
        <div class="table-responsive mt-4">
            <h5 class="title_form text-black text-uppercase">Calendrier des paiements</h5>
            <table class="table-sm table table-bordered">
                <thead class="thead-dark">
                    <tr class="text-uppercase">
                        <th>Désignation</th>
                        <th>Jours / Mois</th>
                        <th>Montant payé</th>
                        <th>Statut</th>
                    </tr>
                </thead>
                <tbody>
                    {% set totalPayee = 0 %}
                    {% for repartition in repartitions %}
                        <tr>
                            <td>{{ repartition.designation | upper}}</td>
                            <td>{{ repartition.moment | upper }}</td>
                            <th>{{ repartition.montant }}</th>
                            <th>{{ repartition.statut | upper }}</th>
                        </tr>
                        {% set totalPayee = totalPayee + repartition.montant %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2" class="text-uppercase">Montant Total Payée</th>
                        <th colspan="2" class="text-white bg-primary" >{{ totalPayee }}</th>
                    </tr>
                </tfoot>
            </table>
            <div class="w-100">
                Arrêté la présente facture à la somme de <span id="cmd_somme_lettre" class="font-weight-bold text-uppercase">{{ lettreReleve | upper}}</span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-7"></div>
            <div class="col-md-5"> 
                <label for="nom" class="mt-1 font-weight-bold text-uppercase">à,</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-location"></i></span>
                    </div>
                    <input type="text" class="form-control ctr_lieu" name="ctr_lieu" value="{{contrat.lieu}}" placeholder=". . ." aria-label="Lieu Contrat" id="ctr_lieu">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5"> 
                <label for="nom" class="mt-1 font-weight-bold">Le,</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" class="form-control ctr_date" readonly name="ctr_date" value="{{ contrat.date }}" placeholder=". . ." aria-label="Date Contrat" id="ctr_date">
                </div>
            </div>
        </div>
        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                {% if contrat.isCaution %}
                    <button type="button" class="btn btn-sm btn-purple text-white"><i class="fa fa-print"></i>&nbsp;Fiche de caution</button>
                {% endif %}
                <button type="button" class="btn btn-sm ml-3 btn-primary"><i class="fa fa-print"></i>&nbsp;Imprimer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}


