<div class="row">
    <div class="col-md-3">
        <label for="prest_ctr_bail_type_location" class="font-weight-bold">Type location</label>
        <select name="prest_ctr_bail_type_location" class="custom-select chosen_select custom-select-sm" id="prest_ctr_bail_type_location">
            <option value="">-</option>
            {% for type_loc in type_locs %}
                <option value="{{type_loc.id}}">{{type_loc.nom|upper}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <label for="prest_ctr_bail_location" class="font-weight-bold">Location du bailleur</label>
        <select name="prest_ctr_bail_location" class="custom-select chosen_select custom-select-sm" id="prest_ctr_bail_location">
            <option value="">-</option>
            {% for bail in bails %}
                <option value="{{bail.id}}">{{bail.nom|upper}} | {{bail.lieu|upper}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="prest_ctr_bail_nouveau" id="prest_ctr_bail_nouveau" value="NON">
    </div>
    <div class="col-md-3">
        <label for="prest_ctr_bail_adresse" class="font-weight-bold">Adresse</label>
        <input type="text" readonly name="prest_ctr_bail_adresse" id="prest_ctr_bail_adresse" class="form-control" placeholder=". . .">
    </div>
    <div class="col-md-3">
        <label for="prest_ctr_bail_dimension" class="font-weight-bold">Dimension</label>
        <input type="text" readonly name="prest_ctr_bail_dimension" id="prest_ctr_bail_dimension" class="form-control" placeholder=". . .">
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-sm btn-primary btn-block mt-3" id="prest_ctr_new_bail"><i class="fa fa-plus-circle"></i>&nbsp;Ajouter une location</button>
    </div>
</div>
<script>
    $(".chosen_select").chosen({
            no_results_text: "Aucun resultat trouvé : "
        });
</script>