 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/location.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase d-flex flex-row align-items-center entete_page text-black">
        {{titlePage}}
        <a href="{{path('prest_location_contrat_commissions')}}" class="btn ml-auto font-weight-bold text-uppercase btn-purple btn-sm"><i class="fa fa-cubes"></i>&nbsp;Liste des commissions</a>
        </h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <div class="row">
            <div class="col-md-3">
                <label for="location_search_numContrat" class="font-weight-bold text-uppercase">N° Contrat</label>
                <select name="location_search_numContrat" class="custom-select chosen_select custom-select-sm" id="location_search_numContrat">
                    <option value="">TOUS</option>
                    {% for contrat in contrats %}
                        <option value="{{contrat.id}}">{{contrat.numContrat}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="location_search_bailleur" class="font-weight-bold text-uppercase">Bailleur</label>
                <select name="location_search_bailleur" class="custom-select chosen_select custom-select-sm" id="location_search_bailleur">
                    <option value="">TOUS</option>
                    {% for bailleur in bailleurs %}
                        <option value="{{bailleur.id}}">{{bailleur.nom|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="location_search_bail" class="font-weight-bold text-uppercase">Bail</label>
                <select name="location_search_bail" class="custom-select chosen_select custom-select-sm" id="location_search_bail">
                    <option value="">TOUS</option>
                    {% for bail in bails %}
                        <option value="{{bail.id}}">{{bail.nom|upper}} | {{bail.adresse|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="location_search_locataire" class="font-weight-bold text-uppercase">Locataire</label>
                <select name="location_search_locataire" class="custom-select chosen_select custom-select-sm" id="location_search_locataire">
                    <option value="">TOUS</option>
                    {% for locataire in locataires %}
                        <option value="{{locataire.id}}">{{locataire.nom|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="location_search_dateContrat" class="font-weight-bold text-uppercase mt-3">Date Contrat</label>
                <div class="input-group">
                    <input type="text" name="location_search_dateContrat" id="location_search_dateContrat" class="form-control" placeholder=". . .">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-secondary search_vider font-smaller" type="button" onclick="document.querySelector('#location_search_dateContrat').value=''"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label for="location_search_dateDebut" class="font-weight-bold text-uppercase mt-3">Date Début</label>
                <div class="input-group">
                    <input type="text" name="location_search_dateDebut" id="location_search_dateDebut" class="form-control" placeholder=". . .">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-secondary search_vider font-smaller" type="button" onclick="document.querySelector('#location_search_dateDebut').value=''"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label for="location_search_dateFin" class="font-weight-bold text-uppercase mt-3">Date Fin</label>
                <div class="input-group">
                    <input type="text" name="location_search_dateFin" id="location_search_dateFin" class="form-control" placeholder=". . .">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-secondary search_vider font-smaller" type="button" onclick="document.querySelector('#location_search_dateFin').value=''"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label for="location_search_statut" class="font-weight-bold text-uppercase mt-3">Statut Contrat</label>
                <select name="location_search_statut" class="custom-select chosen_select custom-select-sm" id="location_search_statut">
                    <option value="">TOUS</option>
                    {% for statut in statuts %}
                        {% if statut.reference != "RNV" and statut.reference != "DEL"  %}
                            <option value="{{statut.reference}}">{{statut.nom|upper}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="table-responsive mt-4">
            <table class="table table-sm table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Numéro</th>
                        <th>Date Contrat</th>
                        <th>Bailleur</th>
                        <th>Bail</th>
                        <th>Locataire</th>
                        <th>Cycle</th>
                        <th>Date Début</th>
                        <th>Date Fin</th>
                        <th>Durée contrat</th>
                        <th class="text-center">Nb. Renouv</th>
                        <th>Montant contrat</th>
                        <th class="text-center">Statut</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="elem_contrat">
                    {% for contrat in contrats %}
                        {% if contrat.refStatut == "ENCR" %}
                            {% set statutClass = "text-success" %}
                        {% elseif contrat.refStatut == "ANL" %}
                            {% set statutClass = "text-secondary" %}
                        {% else %}
                            {% set statutClass = "text-danger" %}
                        {% endif %}
                        <tr>
                            <td class="align-middle">{{contrat.numContrat}}</td>
                            <td class="align-middle">{{contrat.dateContrat}}</td>
                            <td class="align-middle">{{contrat.bailleur}}</td>
                            <td class="align-middle">{{contrat.bail}}</td>
                            <td class="align-middle">{{contrat.locataire}}</td>
                            <td class="align-middle">{{contrat.cycle|upper}}</td>
                            <td class="align-middle">{{contrat.dateDebut}}</td>
                            <td class="align-middle">{{contrat.dateFin}}</td>
                            <td class="align-middle">{{contrat.dureeContrat}}</td>
                            <td class="align-middle text-center">{{contrat.frequence}}</td>
                            <td class="align-middle">{{contrat.montantContrat}}</td>
                            <th class="text-center {{statutClass}} align-middle">{{contrat.statut|upper}}</th>
                            <td class="text-center align-middle">
                                <div class="d-flex flex-column align-items-center justify-content-center p-2">
                                    {% if contrat.refStatut == "ENCR" %}
                                        <a href="{{path('prest_location_contrat_releve_loyer',{'id':contrat.encodedId})}}" class="btn btn-sm btn-outline-info font-smaller"><i class="fa fa-file-invoice"></i></a>
                                    {% elseif contrat.refStatut == "ANL" %}
                                        <button class="btn btn-sm btn-outline-success active_contrat font-smaller" value="{{contrat.id}}"><i class="fa fa-toggle-off"></i></button>
                                    {% else %}
                                        <a href="{{path('prest_location_contrat_releve_loyer',{'id':contrat.encodedId})}}" class="btn btn-sm btn-outline-info font-smaller"><i class="fa fa-file-invoice"></i></a>
                                        <button class="btn btn-sm btn-outline-purple refresh_contrat mt-2 font-smaller" value="{{contrat.id}}"><i class="fa fa-refresh"></i></button>
                                    {% endif %}
                                    <a href="{{path('prest_location_contrat_detail',{'id':contrat.id})}}" class="btn btn-sm mt-2 btn-outline-warning font-smaller"><i class="fa fa-edit"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="13" class="p-1 bg-light"> </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="button" class="btn btn-sm effacerTout btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button>
                <button type="submit" class="btn btn-sm ml-3 enregistre_create_menu btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}


