<div class="table-responsive mt-3">
    <table class="table-sm table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Date prévu paiement </th>
                <th>Désignation </th>
                <th>Date de paiement </th>
                <th>Mois</th>
                <th>Année</th>
                <th>Montant payé</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody id="listePaiement">
            {% for tableauM in tableauMois %}
                <tr>
                    <td>{{tableauM.debutLimite}}
                    <input type="hidden" name="partie_date_debut[]" id="partie_date_debut" value="{{ tableauM.debutLimite }}">
                    </td>
                    <td>LOCATION&nbsp;{{ bail|upper }}&nbsp;|&nbsp;{{ adresse|upper }}
                    <input type="hidden" name="partie_designation[]" id="partie_designation" value="LOCATION&nbsp;{{ bail|upper }}&nbsp;|&nbsp;{{ adresse|upper }}">
                    <input type="hidden" name="partie_montant_payee[]" id="partie_montant_payee">
                    <input type="hidden" name="partie_statut[]" id="partie_statut">
                    </td>
                    <td class="datePaiement">-</td>
                    <td>
                    {{ tableauM.mois | upper }}
                    <input type="hidden" name="partie_mois[]" id="partie_mois" value="{{ tableauM.indexMois }}">
                    </td>
                    <td>
                    {{ tableauM.annee | upper }}
                    <input type="hidden" name="partie_annee[]" id="partie_annee" value="{{ tableauM.annee }}">
                    </td>
                    <td class="montantPayee">-</td>
                    <td class="statutPment">{{ tableauM.statut | raw }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="6" class="text-uppercase">Montant Total Payé</th>
                <th colspan="2" id="montantTotalPayee" class="text-success"></th>
            </tr>
            {# <tr>
                <th colspan="6" class="text-uppercase">Montant à rembourser</th>
                <th colspan="2" id="montantRestant" class="text-warning"></th>
            </tr> #}
        </tfoot>
    </table>
</div>
@##@
{% set lenItem = item | length %}
{% set i = 0 %}
[{
{% for key,value in item  %}
    {% if i == lenItem - 1 %}
        "{{key}}" : "{{value}}"
    {% else %}
        "{{key}}" : "{{value}}",
    {% endif %}
    {% set i = i + 1 %}
{% endfor %}
}]