<div class="table-responsive mt-3">
    <table class="table-sm table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th colspan="2">Date prévu paiement (Date Limite : Jusqu'au {{dateLimite}} du mois)</th>
                <th>Date de paiement </th>
                <th>Mois</th>
                <th>Année</th>
                <th>Montant payé</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody id="listePaiement">
            {% for tableauM in tableauMois %}
                <tr>
                    <td> Debut :&emsp;{{ tableauM.debutLimite }}</td>
                    <td>Date Limite :&emsp;{{ tableauM.finLimite }}</td>
                    <td class="datePaiement">-</td>
                    <td>{{ tableauM.mois | upper }}</td>
                    <td>{{ tableauM.annee | upper }}</td>
                    <td class="montantPayee">-</td>
                    <td class="statutPment">{{ tableauM.statut | raw }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
@##@
{% set lenItem = item | length %}
{% set i = 0 %}
[{
{% for key,value in item  %}
    {% if i == lenItem - 1 %}
        "{{key}}" : "{{value}}"
    {% else %}
        "{{key}}" : "{{value}}",
    {% endif %}
    {% set i = i + 1 %}
{% endfor %}
}]