 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page d-flex flex-row align-items-center text-black">
        {{titlePage}} Facture N° : <span class="text-white px-2 py-1 rounded badge-warning">{{annulation.numFacture}}</span>
        </h4>
    </div>
    <div class="container-fluid px-3">   
        <div class="w-100 mt-3 d-flex flex-row align-items-center text-left flex-wrap">
            <h5 class="font-medium" >Client : <span class="text-primary">{{annulation.client|upper}}</span></h5>
            <h5 class="font-medium ml-3" >Specification : <span class="text-primary">{{annulation.spec|upper}}</span></h5>
            <h5 class="font-medium ml-3" >Motif : <span class="text-primary">{{annulation.motif|upper}}</span></h5>
        </div>
        <div class="table-responsive mt-4">
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Type</th>
                        <th>Désignation</th>
                        <th>Qte/Durée</th>
                        <th>Format</th>
                        <th>Prix Unitaire HT</th>
                        <th>Montant TVA</th>
                        <th>Type Remise</th>
                        <th>Valeur Remise</th>
                        <th>Montant Total</th>
                    </tr>
                </thead>
                <tbody> 
                    {% for factureDetail in factureDetails %}
                        <tr>
                            <td>{{ factureDetail.type|upper }}</td>
                            <td>{{ factureDetail.designation }}</td>
                            <td>{{ factureDetail.quantite }}</td>
                            <td>{{ factureDetail.format }}</td>
                            <td>{{ factureDetail.prix }}</td>
                            <td>{{ factureDetail.tva }}</td>
                            <td>{{ factureDetail.typeRemise }}</td>
                            <td>{{ factureDetail.valRemise }}</td>
                            <td>{{ factureDetail.total }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="8">Total</th>
                        <th class="bg-light">{{annulation.totalHt}}</th>
                    </tr>
                    <tr>
                        <th colspan="8">Total TVA</th>
                        <th class="bg-light">{{annulation.totalTva}}</th>
                    </tr>
                    <tr>
                        <th colspan="8">Total Facture Annulé</th>
                        <th class="bg-secondary text-white">{{annulation.total}}</th>
                    </tr>
                    {% if annulation.refSpec != "ACN" %}
                        <tr>
                            <th colspan="8">Total Retenu</th>
                            <th class="bg-success text-white">{{annulation.retenu}}{{annulation.signe}}</th>
                        </tr>
                        <tr>
                            <th colspan="8">Total {% if annulation.refSpec == "AVR" %}
                                                Avoir
                                            {% else %} 
                                                Remboursé
                                            {% endif %}
                            </th>
                            <th class="bg-primary text-white">{{annulation.remboursee}}</th> 
                        </tr>
                    {% endif %}
                </tfoot>
            </table>
            <div class="w-100">
                Arrêté la présente facture à la somme de <span id="cmd_somme_lettre" class="font-weight-bold text-uppercase">{{annulation.lettre}}</span> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5"> 
                <label for="nom" class="mt-1 font-weight-bold text-uppercase">à,</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-location"></i></span>
                    </div>
                    <input type="text" class="form-control sav_anl_lieu" readonly name="sav_anl_lieu" value="{{ annulation.lieu }}" placeholder=". . ." aria-label="Lieu Facture" id="sav_anl_lieu">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5"> 
                <label for="nom" class="mt-1 font-weight-bold">Le,</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" class="form-control sav_anl_date" readonly name="sav_anl_date" value="{{ annulation.date }}" placeholder=". . ." aria-label="Date Facture" id="sav_anl_date">
                </div>
            </div>
        </div>
        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                {# <button onclick="history.back()" class="btn btn-sm ml-2 btn-secondary text-white"><i class="fa fa-arrow-left"></i>&nbsp;Retour</button> #}
                {# <button type="button" class="btn btn-sm ml-2 btn-danger text-white"><i class="fa fa-trash"></i>&nbsp;Supprimer</button> #}
                <button type="button" class="btn btn-sm ml-2 btn-info text-white"><i class="fa fa-print"></i>&nbsp;Imprimer</button>
                {# <button type="submit" class="btn btn-sm ml-2 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Mettre à jour</button> #}
            </div>
        {% endif %} 
        </form>
    </div>
</div>
{% endblock %}


