
<div style="width: 740px !important">
    <div class="modelePdf">
        {{contentEntete|raw}}
    </div>
    <div class="pt-4 pb-5">
        <div class="text-center">
            <h5 class="title_form text-black text-uppercase">Facture {{facture.type}} N° {{facture.numFact}}</h5>
        </div>
        <div class="row mt-4">
            <div class="col-md-7"></div>
            <div class="col-md-5">
                <ul class="list-unstyled" style="line-height: 20px ;">
                    <li><b>DOIT</b></li>
                    <li><span class="font-weight-bold">Client</span>&nbsp;:&nbsp;<span>{{client.nom}}</span></li>
                    <li><span class="font-weight-bold">Adresse</span>&nbsp;:&nbsp;<span>{{client.adresse}}</span></li>
                    <li><span class="font-weight-bold">Tel</span>&nbsp;:&nbsp;<span>{{client.telephone}}</span></li>
                </ul>
            </div>
        </div>
        <div class="table-responsive mt-3">
            <table class="table table-sm table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-left">Désignation</th>
                        <th class="text-right">Qte/Durée</th>
                        <th class="text-right">Prix Unitaire</th>
                        <th class="text-right">Montant TVA</th>
                        <th class="text-right">Type Remise</th>
                        <th class="text-right">Valeur Remise</th>
                        <th class="text-right">Montant Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in details %}
                        <tr>
                            <td>{{detail.designation}}</td>
                            <td class="text-right">{{detail.quantite}}</td>
                            <td class="text-right">{{detail.prix}}</td>
                            <td class="text-right">{{detail.tva}}</td>
                            <td class="text-right">{{detail.typeRemise}}</td>
                            <td class="text-right">{{detail.valRemise}}</td>
                            <td class="text-right">{{detail.total}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% set totalTTC = facture.totalHt + facture.totalTva - facture.remise  %}
                <tfoot>
                    <tr>
                        <th colspan="6">Total HT</th>
                        <th class="bg-light text-right">{{facture.totalHt}}</th>
                    </tr>
                    <tr>
                        <th colspan="6">Remise</th>
                        <th class="bg-light text-right">{{facture.remise}}</th>
                    </tr>
                    <tr>
                        <th colspan="6">Total TVA</th>
                        <th class="bg-light text-right">{{facture.totalTva}}</th> 
                    </tr>
                    <tr>
                        <th colspan="6">Total TTC</th>
                        <th class="bg-primary text-white text-right">{{totalTTC}}</th>
                    </tr>
                    {% if facture.devise %}
                        <tr>
                            <th colspan="6">Montant en {{facture.deviseCaption}}</th>
                            <th class="bg-light text-right">{{facture.deviseValue}}</th>
                        </tr>
                    {% endif %}
                </tfoot>
            </table>
            <div class="w-100 mt-2">
                Arrêté la présente facture à la somme de <span id="cmd_somme_lettre" class="font-weight-bold text-uppercase">{{facture.lettre}}&nbsp;{{facture.devise}}</span>
            </div>
        </div>
        <div class="w-100 text-right mt-5">
            <span>A {{facture.lieu}}, le {{facture.date}}</span>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 ">
                <h5 class="title_form text-black text-uppercase text-left pl-3">Le Client</h5>
            </div>
            <div class="col-md-6 ">
                <h5 class="title_form text-black text-uppercase text-right pr-3">Pour la société</h5>
            </div>
        </div>
    </div>
    <div class="modelePdf mt-4">
        {{contentBas|raw}}
    </div>
</div>

