 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <div class="row">
            <div class="col-3">
                <label for="nom" class="font-weight-bold">Nom Ingrédient</label>
                <select name="resto_search_nom" class="custom-select chosen_select custom-select-sm" id="resto_search_nom">
                    <option value="">-</option>
                </select>
            </div>
            <div class="col-3">
                <label for="nom" class="font-weight-bold">Unité</label>
                <select name="resto_search_unite" class="custom-select chosen_select custom-select-sm" id="resto_search_unite">
                    <option value="">-</option>
                </select>
            </div>
        </div>
        <div class="w-100">
            <div class="table-responsive mt-3">
                <table class="table table-sm table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nom</th>
                            <th>Stock</th>
                            <th>Unité</th>
                            <th>Expiration</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td class="text-center">
                                <button class="btn btn-outline-warning font-smaller btn-sm"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-outline-danger ml-2 font-smaller btn-sm"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="submit" class="btn btn-sm ml-3 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}


