 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <form id="formDataImport">
            <div class="row">
                <div class="col-4">
                    <label for="import_agence" class="mt-2 font-weight-bold">Agence</label>
                    {% if dispAgence %}
                        <select name="import_agence" class="custom-select chosen_select custom-select-sm" id="import_agence">
                            <option value="">-</option> 
                            {% for agence in agences %}
                                <option value="{{agence.id}}" >{{agence.nom|upper}}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <input type="hidden" name="import_agence" id="import_agence" value="{{app.session.get('user')["agence"]}}">
                        <input type="text" name="nom_agence" readonly id="nom_agence" class="form-control text-success font-weight-bold" value="{{nomAgence|upper}}">
                    {% endif %}
                </div>
                <div class="col-4">
                    <label for="import_module" class="mt-2 font-weight-bold">Module</label>
                    <select name="import_module" class="custom-select chosen_select custom-select-sm" id="import_module">
                        <option value="">-</option>
                        {% for module in modules %}
                            <option value="{{module.id}}" >{{module.nom|upper}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <input type="hidden" name="import_produit_annulee" id="import_produit_annulee">
            <div class="contentData"></div>
            <input type="file" name="file_to_import" id="file_to_import" class="d-none" > 
            {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                    <button type="button" class="btn btn_import_data px-4 btn-sm ml-3 btn-success"><i class="fa fa-download"></i>&nbsp;Importer les données (format Excel : "nomFichier".xlsx)</button>
                </div>
            {% endif %} 
        </form>
    </div>
</div>
{% endblock %}