
{% for dataToImport in dataToImports %}
    <div class="border rounded parent_bloc_elem mt-3 p-3">
        <button data-value="0" class="btn btn-outline-danger btn-sm btn_close_elem"><i class="fa fa-times"></i></button>
        <h5 class="title_form mt-3 mb-2 text-black text-uppercase">Facture {{dataToImport.modele_fact}} N° <span class="badge badge-warning">{{dataToImport.num_fact}}</span></h5>
        <div class="w-100">
            <ul class="list-unstyled list-inline">
                <li class="text-primary mx-3 list-inline-item text-uppercase"><span class="text-decoration-underline">N° Facture</span> : <span class="font-weight-bold">{{dataToImport.num_fact}}</span></li>
                <li class="text-primary mx-3 list-inline-item text-uppercase"><span class="text-decoration-underline">Type</span> : <span class="font-weight-bold">{{dataToImport.type_fact}}</span></li>
                <li class="text-primary mx-3 list-inline-item text-uppercase"><span class="text-decoration-underline">Mode de Paiement</span> : <span class="font-weight-bold">{{dataToImport.mode_paiement}}</span></li>
                <li class="text-primary mx-3 list-inline-item text-uppercase"><span class="text-decoration-underline">Client</span> : <span class="font-weight-bold">{{dataToImport.nom_client}}</span></li>
                {% if dataToImport.mode_paiement == "CREDIT" %}
                    <li class="text-primary mx-3 list-inline-item text-uppercase"><span class="text-decoration-underline">-</span> : <span class="font-weight-bold">{{dataToImport.info1_paiement}}</span></li>
                    <li class="text-primary mx-3 list-inline-item text-uppercase"><span class="text-decoration-underline">-</span> : <span class="font-weight-bold">{{dataToImport.info2_paiement}}</span></li>
                {% endif %}
                <li class="text-primary mx-3 list-inline-item text-uppercase"><span class="text-decoration-underline">Date Facture</span> : <span class="font-weight-bold">{{dataToImport.label_date_fact}}</span></li>
                <li class="text-primary mx-3 list-inline-item text-uppercase"><span class="text-decoration-underline">Lieu Facture</span> : <span class="font-weight-bold">{{dataToImport.lieu_fact}}</span></li>
            </ul>
        </div>
        <h5 class="title_form mt-2 mb-2 text-black text-uppercase">Détails (Modèle)</h5>
        <div class="table-responsive">
            <table class="table table-sm table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Désignation</th>
                        <th>Quantite</th>
                        <th>Prix Unitaire HT</th>
                        <th>Montant Tva (%)</th>
                        <th>Type Remise</th>
                        <th>Val Remise</th>
                        <th>Montant Total</th>
                    </tr>
                </thead>  
                <tbody>
                    {% for detail in dataToImport.details %}
                        <tr>
                            <td>{{detail.designation}}</td>
                            <td>{{detail.quantite}}</td>
                            <td>{{detail.prix_unitaire}}</td>
                            <td>{{detail.montant_tva}}</td>
                            <td>{{detail.type_remise}}</td>
                            <td>{{detail.val_remise}}</td>
                            <td>{{detail.total_ligne}}</td>
                        </tr>
                    {% endfor %}
                </tbody> 
                <tfoot>
                    <tr>
                        <th colspan="6">Total HT</th>
                        <th class="bg-light">{{dataToImport.totalHt}}</th>
                    </tr>
                    <tr>
                        <th colspan="6">Remise</th>
                        <th class="bg-light">{{dataToImport.remiseGen}}</th>
                    </tr>
                    <tr>
                        <th colspan="6">Total après déduction</th>
                        <th class="bg-light">{{dataToImport.totalHt - dataToImport.remiseGen}}</th>
                    </tr>
                    <tr>
                        <th colspan="6">Total TVA</th>
                        <th class="bg-light">{{dataToImport.totalTva}}</th> 
                    </tr>
                    <tr>
                        <th colspan="6">Total TTC</th>
                        <th class="bg-primary text-white">{{dataToImport.totalHt + dataToImport.totalTva - dataToImport.remiseGen}}</th>
                    </tr>
                </tfoot> 
            </table>
        </div>
    </div>
{% endfor %}