 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/modele.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/modele.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <form id="formModele">
            <div class="row">
                <div class="col-md-4">
                    <label for="modele_nom" class="font-weight-bold">Nom Modèle</label>
                    <input type="text" name="modele_nom" oninput="this.value = this.value.toUpperCase();" id="modele_nom" class="form-control" placeholder=". . .">
                </div>
                <div class="col-md-4">
                    <h5 class="title_form text-black text-uppercase mt-1">Sélectionner le modèle à créer</h5>
                    <div class="w-100 d-flex flex-row align-items-center">
                        <button type="button" data-content="<i class='fa fa-diamond'></i>&nbsp;Entête de page" class="btn btn-outline-primary text-uppercase edit_modele mx-1 w-100 btn-sm" data-value="ENTETE" data-class="btn-primary"><i class="fa fa-diamond"></i>&nbsp;Entête de page</button>
                        <button type="button" data-content="<i class='fa fa-diamond'></i>&nbsp;Bas de page" class="btn btn-outline-primary text-uppercase edit_modele mx-1 w-100 btn-sm" data-value="BAS" data-class="btn-primary"><i class='fa fa-diamond'></i>&nbsp;Bas de page</button>
                    </div>
                </div>
            </div>
            {# <div name="pdf_apercu_modele" class="pdf_apercu_modele d-none"></div> #}
            <input type="hidden" name="pdf_contenu_modele" class="pdf_contenu_modele" >
            <div class="d-flex flex-wrap align-items-center mt-3">
                <div class=" select_modele p-3">
                    <img src="{{asset('data/pdf/modele-1.png')}}" class="img img-fluid border" alt="">
                </div>
                <div class=" select_modele p-3">
                    <img src="{{asset('data/pdf/modele-2.png')}}" class="img img-fluid  border" alt="">
                </div>
                <div class=" select_modele p-3">
                    <img src="{{asset('data/pdf/modele-3.png')}}" class="img img-fluid  border" alt="">
                </div>
                <div class=" select_modele p-3">
                    <img src="{{asset('data/pdf/modele-4.png')}}" class="img img-fluid  border" alt="">
                </div>
                <div class="select_modele p-3">
                    <img src="{{asset('data/pdf/modele-5.png')}}" class="img img-fluid  border" alt="">
                </div>
                <div class=" select_modele p-3">
                    <img src="{{asset('data/pdf/modele-6.png')}}" class="img img-fluid  border" alt="">
                </div>
                <div data-indice="7" class="select_modele p-3">
                    <img src="{{asset('data/pdf/modele-7.png')}}" class="img img-fluid  border" alt="">
                </div>
            </div>
            {# <div class="w-100 p-3 mt-2">
                <div class="row">
                    <div class="col-md-9">
                        <label class=" font-weight-bold">&nbsp;</label>
                        <label for="modele_editor" class="font-weight-bold text-uppercase d-block caption_modele">-</label>
                    </div>
                    <div class="col-md-3">
                        <label class=" font-weight-bold">&nbsp;</label>
                        <button type="button" class="btn btn-sm btn-success btn-block btnInsertImage"><i class="fa fa-image"></i>&nbsp;Insérer une image</button>
                        <input type="file" name="fileImage" id="imageInsert" class="d-none">
                    </div>
                    <div class="col-md-2">
                        <label class=" font-weight-bold">&nbsp;</label>
                        <button type="button" class="btn-sm btn btn-danger modele_bordure btn-block"><i class="fa fa-square"></i>&nbsp;Sans bordure</button>
                    </div>
                    <div class="col-md-2">
                        <label for="modele_forme" class=" font-weight-bold">Colonne</label>
                        <input type="number" name="modele_forme" id="modele_forme" class="form-control" placeholder="ex: 1,2, ...">
                    </div>
                    <div class="col-md-2">
                        <label class=" font-weight-bold">&nbsp;</label>
                        <button type="button" class="btn-sm btn btn-warning btn-block" id="insert_modele_forme" ><i class="fa fa-plus-square"></i>&nbsp;Insérer</button>
                    </div>
                </div>
                    <button type="button" class="btn btn-sm ml-auto px-3 btn-info modele_info_societe" data-value="SOCIETE" ><i class="fa fa-info-circle"></i>&nbsp;Information société</button>
                    <button type="button" class="btn btn-sm ml-3 px-3 btn-info modele_info_societe" data-value="PERSONNEL" ><i class="fa fa-info-circle"></i>&nbsp;Coordonées personnel</button>
            </div> #}
            <input type="hidden" name="modele_value" id="modele_value">
            <div id="contentModele" class="barre_dashed mt-3 py-3">
                <div class="modele_image border">
                    <img src="{{asset('data/images/default.jpg')}}" class="img img-fluid" alt="">
                </div>
                <input type="file" name="fileImage" id="modele_image_file" class="d-none">
                <div class="row mt-3">
                    <div class="col-md-7">
                        <input type="text" name="modele_editor" id="modele_editor" class="form-control" placeholder=". . .">
                    </div>
                </div>
            </div>
            {% if with_foot %}
                <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                    {# <button type="button" class="btn btn-sm ml-3 btn-info apercu_modele"><i class="fa fa-print"></i>&nbsp;Aperçu</button> #}
                    <button type="submit" class="btn btn-sm ml-3 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
                </div>
            {% endif %} 
        </form> 
    </div>
</div>
{% endblock %}


