 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-2 pb-3">
        <label for="nom" class="font-weight-bold">Agenda</label>
        <div class="w-100 d-flex flex-row align-items-center flex-wrap">
            <button class="btn btn-outline-primary mx-2 text-uppercase px-3 btn-sm">Tous</button> 
            <button class="btn btn-outline-primary mx-2 text-uppercase px-3 btn-sm">Agenda financier</button>
            <button class="btn btn-outline-primary mx-2 text-uppercase px-3 btn-sm">Evènement</button>
            <button class="btn btn-outline-primary mx-2 text-uppercase px-3 btn-sm">Rendez-vous</button>
        </div>
        <div class="row mb-3 mt-3"> 
            <div class="col-md-3">
                <label for="agd_search_mois" class="font-weight-bold">Mois</label>
                {% set unmois = 'now'|date('m')  %}
                <select name="agd_search_mois" class="custom-select chosen_select custom-select-sm" id="agd_search_mois">
                    <option value="" >-</option>
                    {% for key,value in mois %}
                        <option value="{{key}}" {{ unmois == key ? "selected" : "" }} >{{value|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <label for="agd_search_annee" class="font-weight-bold">Année</label>
                <input type="number" name="agd_search_annee" id="agd_search_annee" value="{{'now'|date('Y') }}" class="form-control" placeholder=". . .">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <input type="hidden" id="calendarPath" value="{{asset(calendarFile)}}">
                <button class="btn btn-sm btn-warning font-weight-bold font-smaller text-uppercase" data-toggle="collapse" data-target="#agd_indication" role="button" aria-expanded="false" aria-controls="myprofile"><i class="fa fa-info-circle"></i>&nbsp;Voir les indications</button>
                <div id="agd_indication" class="collapse">
                    <h5 class="title_form text-black text-uppercase mt-2">Indications</h5>
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered">
                            <tr class="text-center">
                                <th class="bg-dark text-white"></th>
                                <th class="bg-dark text-white">Crédit</th>
                                <th class="bg-dark text-white">Acompte</th>
                                <th class="bg-dark text-white">Loyer</th>
                                <th class="bg-dark text-white">Livraison</th>
                                <th class="bg-dark text-white">Evènement</th>
                                <th class="bg-dark text-white">Rendez-vous</th>
                            </tr>
                            <tr>
                                <th class="bg-dark text-white">En cours (Actif)</th>
                                <td class="text-warning align-middle text-center"><span class="badge bg-info p-1 text-white"><i class="fa fa-percent"></i></span></td>
                                <td class="text-warning align-middle text-center"><span class="badge bg-info p-1 text-white"><i class="fa fa-layer-group"></i></span></td>
                                <td class="text-warning align-middle text-center"><span class="badge bg-info p-1 text-white"><i class="fa fa-house"></i></span></td>
                                <td class="text-warning align-middle text-center"><span class="badge bg-info p-1 text-white"><i class="fa fa-truck"></i></span></td>
                                <td class="text-warning align-middle text-center"><span class="badge bg-purple p-1 text-white"><i class="fa fa-star"></i></span></td>
                                <td class="text-warning align-middle text-center"><span class="badge bg-purple p-1 text-white"><i class="fa fa-clock"></i></span></td>
                            </tr>
                            <tr>
                                <th class="bg-dark text-white">En Alerte (Non traité)</th>
                                <td class="text-warning align-middle text-center"><span class="badge bg-danger p-1 text-white"><i class="fa fa-percent"></i></span></td>
                                <td class="text-warning align-middle text-center"><span class="badge bg-danger p-1 text-white"><i class="fa fa-layer-group"></i></span></td>
                                <td class="text-warning align-middle text-center"><span class="badge bg-danger p-1 text-white"><i class="fa fa-house"></i></span></td>
                                <td class="text-warning align-middle text-center">-</td>
                                <td class="text-warning align-middle text-center">-</td>
                                <td class="text-warning align-middle text-center">-</td>
                            </tr>
                            <tr>
                                <th class="bg-dark text-white">Date d'echéance dépassé</th>
                                <td class="text-warning align-middle text-center"><span class="badge bg-dark p-1 text-white"><i class="fa fa-percent"></i></span></td>
                                <td class="text-warning align-middle text-center"><span class="badge bg-dark p-1 text-white"><i class="fa fa-layer-group"></i></span></td>
                                <td class="text-warning align-middle text-center"><span class="badge bg-dark p-1 text-white"><i class="fa fa-house"></i></span></td>
                                <td class="text-warning align-middle text-center"><span class="badge bg-dark p-1 text-white"><i class="fa fa-truck"></i></span></td>
                                <td class="text-warning align-middle text-center"><span class="badge bg-dark p-1 text-white"><i class="fa fa-star"></i></span></td>
                                <td class="text-warning align-middle text-center"><span class="badge bg-dark p-1 text-white"><i class="fa fa-clock"></i></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="monCalendrier" class="table-responsive"></div>
            </div>
        </div>
        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="button" class="btn btn-sm effacerTout btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button>
                <button type="submit" class="btn btn-sm ml-3 enregistre_create_menu btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}


