 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
{% set type = "" %}
{% set nom = "" %}
{% set date = "" %}
{% set heure = "" %}
{% set lieu = "" %}
{% set objet = "" %}
{% set description = "" %}
{% set nomType = "-" %}
{% set nomObjet = "-" %}
{% set readonly = "" %}
{% if agenda is not empty %}
    {% set type = agenda.type.id %}
    {% set nom = agenda.clientNom %}
    {% set date = agenda.date|date('d/m/Y') %}
    {% set heure = agenda.heure %}
    {% set lieu = agenda.lieu %}
    {% set objet = agenda.objet %}
    {% set description = agenda.description %}
    {% set nomType = agenda.type.designation %}
    {% set nomObjet = agenda.type.objet %}    
    {% set readonly = "readonly" %}
{% endif %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <form id="formAgenda" >
            <div class="row px-2">
                <div class="col-md-2">
                    <label for="agd_type" class="w-100 font-weight-bold text-uppercase">Type</label>
                    <select name="agd_type"  class="custom-select chosen_select custom-select-sm" id="agd_type">
                        <option value="" data-libelle="-" data-objet="-" data-reference="-">-</option>
                        {% for agdType in agdTypes %}
                            <option {{type == agdType.id ? "selected" : "" }} value="{{agdType.id}}" data-libelle="{{agdType.designation}}" data-objet="{{agdType.objet}}" data-reference="{{agdType.reference}}">{{agdType.nom|upper}}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="agd_nom" id="agd_nom">
                    {% if agenda is not empty %}
                        <input type="hidden" name="agd_code_agenda" value="{{agenda.id}}" >
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <label for="agd_client" class="font-weight-bold text-uppercase agdDesignation">{{nomType}}</label>
                    <input type="text" {{readonly}} value="{{nom}}" name="agd_client" oninput="this.value = this.value.toUpperCase();" id="agd_client" class="form-control" placeholder=". . .">
                </div>
                <div class="col-md-2">
                    <label for="agd_date" class="font-weight-bold text-uppercase">Date</label>
                    <input type="text" value="{{date}}" name="agd_date" id="agd_date" class="form-control" placeholder=". . .">
                </div>
                <div class="col-md-2">
                    <label for="agd_heure" class="font-weight-bold text-uppercase">Heure</label>
                    <input type="time" {{readonly}} value="{{heure}}" name="agd_heure" id="agd_heure" class="form-control" placeholder=". . .">
                </div>
                <div class="col-md-3">
                    <label for="agd_lieu" class="font-weight-bold text-uppercase">Lieu</label>
                    <input type="text" {{readonly}} value="{{lieu}}" name="agd_lieu" id="agd_lieu" class="form-control" placeholder=". . .">
                </div>
                <div class="col-md-3">
                    <label for="agd_objet" class="font-weight-bold text-uppercase mt-2" id="agdCaptionObjet">{{nomObjet}}</label>
                    <input type="text" {{readonly}} value="{{objet}}" name="agd_objet" id="agd_objet" class="form-control" placeholder=". . .">
                    <input type="hidden" name="agd_refobjet" id="agd_refobjet">
                </div>
            </div>
            <div class="w-100 px-2">
                <label for="agenda_editor" class="mt-2 font-weight-bold text-uppercase">Description</label>
                <textarea name="agenda_editor" class="form-control agenda_editor" id="" cols="10" rows="5">{{description}}</textarea>
            </div>
            {% if with_foot %}
                <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                    {% if agenda is empty %}
                        <button type="button" class="btn btn-sm effacerTout btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button>
                    {% endif %}
                        <button type="submit" class="btn btn-sm ml-3 enregistre_create_menu btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
                </div>
            {% endif %} 
        </form>
    </div>
</div>
{% endblock %}


