 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}} N° : <span class="text-white px-2 py-1 rounded badge-warning">{{numBonCommande}}</span></h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <form id="formBonCommande">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <label for="cmd_facture" class="font-weight-bold">Facture</label>
                <select name="cmd_facture" class="custom-select custom-select-sm cmd_facture" id="cmd_facture">
                    <option value="">-</option>
                    {% for facture in factures %}
                        <option value="{{facture.id}}">{{facture.numFact}} | FACTURE {{facture.modele|upper}} | {{facture.client|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-5">
                {# <label for="nom" class="font-weight-bold">Client</label>
                <select name="cmd_client" class="custom-select custom-select-sm cmd_client" id="cmd_client">
                    <option value=""></option>
                </select> #}
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <label for="nom" class="font-weight-bold mt-2">Description</label>
                <textarea name="cmd_creation_description" id="cmd_creation_description" class="cmd_creation_description form-control" cols="30" rows="10"></textarea>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="container-fluid elem_bon_commande mt-4">
            
        </div>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5"> 
            <label for="nom" class="mt-1 font-weight-bold text-uppercase">à,</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-location"></i></span>
                </div>
                <input type="text" class="form-control cmd_lieu" name="cmd_lieu" value="Moroni" placeholder=". . ." aria-label="Lieu Facture" id="cmd_lieu">
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5"> 
                <label for="nom" class="mt-1 font-weight-bold">Le,</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" class="form-control cmd_date" name="cmd_date" value="{{ 'now'|date('d/m/Y') }}" placeholder=". . ." aria-label="Date Facture" id="cmd_date">
                </div>
            </div>
        </div>
        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="button" onclick="location.reload()" class="btn btn-sm btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button>
                <button type="submit" class="btn btn-sm ml-3 commande_bon_save btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
        </form>
    </div>
</div>
{% endblock %}


