 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/approvisionnement.js')}}"></script>
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/impression.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/detailStock.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/creation.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/entrepot.js')}}" ></script>
    {# stock_variation_produit_save #}
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-2">
        <div class="w-100 d-flex flex-row p-3 align-items-center justify-content-center mb-2">
            <button type="button" caption="Nouveau" data-class="btn-info" class="btn btn-sm btn-outline-info appr_ajout px-3"><i class="fa fa-plus-circle"></i>&nbsp;Nouveau</button>
            <button type="button" caption="Existant" data-class="btn-primary" class="btn btn-sm btn-outline-primary ml-2 appr_ajout px-3"><i class="fa fa-plus"></i>&nbsp;Existant</button>
            <button type="button" data-class="btn-warning" class="btn btn-sm btn-outline-warning ml-2 entrepot_transfert px-3" style="display: none;"><i class="fa fa-exchange"></i>&nbsp;Transfert / Migration</button>
            <button type="button" class="btn btn-sm btn-outline-warning ml-2 px-3 depot_vers_entrepot"><i class="fa fa-cubes"></i>&nbsp;Depôt-Dépot Produit</button>
            <h5 class="title_form text-black ml-auto text-uppercase">Type d'approvisionnement : <span class="text-warning font-weight-bold appro_caption">Default</span></h5>
        </div>
        <div class="content_transfert"></div>
        <div class="content_operation mt-4"></div>
        <div id="elemAppro" class="w-100 mb-3 container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <label for="appro_search_entrepot" class="font-weight-bold">Entrepôt</label>
                    <select name="appro_search_entrepot" class="custom-select appro_search_entrepot custom-select-sm" id="appro_search_entrepot">
                        <option value=""></option>
                        {% for entrepot in entrepots %}
                            <option value="{{entrepot.id}}">{{entrepot.nom|upper}}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" class="appro_entrepot_text" id="appro_entrepot_text">
                </div>
                <div class="col-md-4">
                    <label for="appro_search_produit" class="font-weight-bold">Produit</label>
                    <select name="appro_search_produit" class="custom-select appro_search_produit custom-select-sm" id="appro_search_produit">
                        <option value=""></option>
                        {% for stockGeneral in stockGenerales %}
                            <option value="{{stockGeneral.id}}">{{stockGeneral.codeProduit}} | {{stockGeneral.nomType|upper}} | {{stockGeneral.nom}} | stock : {{stockGeneral.stock}}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" class="appro_produit_text" id="appro_produit_text">
                </div>
                <div class="col-md-3">
                    <label for="appro_prix_produit" class="font-weight-bold">Prix Produit</label>
                    <select name="appro_prix_produit" class="custom-select appro_prix_produit custom-select-sm" id="appro_prix_produit" >
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="appro_indice" class="font-weight-bold">Indice</label>
                    <input type="text" oninput="this.value = this.value.toUpperCase();" name="appro_indice" id="appro_indice" class="form-control appro_indice" placeholder=". . .">
                </div>
                <div class="col-md-2">
                    <label for="appro_quantite" class="mt-3 font-weight-bold">Quantité</label>
                    <input type="number" name="appro_quantite" id="appro_quantite" class="form-control appro_quantite" placeholder=". . .">
                </div>
                <div class="col-md-2">
                    <label for="appro_prix_achat" class="mt-3 font-weight-bold">Prix Achat</label>
                    <input type="number" name="appro_prix_achat" id="appro_prix_achat" class="form-control appro_prix_achat" placeholder=". . .">
                </div>
                <div class="col-md-2">
                    <label for="appro_charge" class="mt-3 font-weight-bold">Charge</label>
                    <input type="number" name="appro_charge" id="appro_charge" class="form-control appro_charge" placeholder=". . .">
                </div>
                <div class="col-md-2">
                    <label for="appro_calcul" class="mt-3 font-weight-bold">Calcul</label>
                    <select name="appro_calcul" class="custom-select chosen_select appro_calcul custom-select-sm" id="appro_calcul">
                        <option value="1" selected>Montant</option>
                        <option value="2">%</option>
                        <option value="3">COEFF</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="appro_marge" class="mt-3 font-weight-bold">Marge</label>
                    <input type="number" name="appro_marge" id="appro_marge" class="form-control appro_marge" placeholder=". . .">
                </div>
                <div class="col-md-2">
                    <label for="appro_prix_revient" class="mt-3 font-weight-bold">Prix de revient</label>
                    <input type="number" name="appro_prix_revient" id="appro_prix_revient" class="form-control appro_prix_revient" placeholder=". . .">
                </div>
                <div class="col-md-3">
                    <label for="appro_fournisseur" class="mt-3 font-weight-bold">Fournisseurs</label>
                    <select name="appro_fournisseur" class="custom-select appro_fournisseur custom-select-sm" multiple id="appro_fournisseur">
                        <option value=""></option>
                        {% for fournisseur in fournisseurs %}
                            <option value="{{fournisseur.id}}">{{fournisseur.nom | upper}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="appro_expireeLe" class="mt-3 font-weight-bold">Expirée le</label>
                    <input type="text" name="appro_expireeLe" id="appro_expireeLe" class="form-control appro_expireeLe" placeholder=". . .">
                </div>
                <div class="col-md-3">
                    <label for="appro_prix_vente" class="mt-3 font-weight-bold">Prix de vente</label>
                    <input type="number" name="appro_prix_vente" id="appro_prix_vente" class="form-control appro_prix_vente" placeholder=". . .">
                </div>
                {# <div class="col-md-3">
                    <label for="appro_montant_total" class="mt-3 font-weight-bold">Montant Total</label>
                    <input type="number" name="appro_montant_total" class="form-control appro_montant_total" placeholder=". . ." readonly="true">
                </div> #}
            </div>
            <div class="w-100 text-right mt-3">
                <button type="button" class="btn btn-success btn-sm px-5 appro_ajoute_elem text-uppercase"><i class="fa fa-database"></i>&nbsp;Ajouter</button>
            </div>
        </div>
        <form id="formAppro">
            <div class="table-responsive barre_dashed pt-2">
                <table class="table table-sm font-smaller table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Entrepôt</th>
                            <th>Type</th>
                            <th>Produit</th>
                            <th>Indice</th>
                            <th>Fournisseur</th>
                            <th>Expirée le</th>
                            <th>Qte</th>
                            <th>Prix Achat</th>
                            <th>Charge</th>
                            <th>Prix Revient</th>
                            <th>Calcul</th>
                            <th>Marge</th>
                            <th>Prix Vente</th>
                            <th>Montant total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="elem_appro">
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="13">Total Géneral</th>
                            <th class="bg-secondary text-right text-white appro_total_general" id="appro_total_general">0</th>
                            <td class="bg-secondary"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5"> 
                    <label for="nom" class="mt-1 font-weight-bold">Approvisionnement le,</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input type="text"  value="{{ 'now'|date('d/m/Y') }}" class="form-control enr_appro_date" placeholder=". . ." name="enr_appro_date" id="enr_appro_date" aria-label="dateAppro" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            {% if with_foot %}
                <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                    <button type="button" class="btn btn-sm effacerTout btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button>
                    <button type="submit" class="btn btn-sm ml-3 enregistre_create_menu btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
                </div>
            {% endif %} 
        </form>
    </div>
</div>
{% endblock %}
