 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <div class="d-flex flex-row align-items-center">
            <button class="btn btn-sm search_btn_suivi_type btn-outline-primary mx-2 px-3 text-uppercase">TOUS</button>
            <button class="btn btn-sm search_btn_suivi_type btn-outline-primary mx-2 px-3 text-uppercase">APPROVISIONNEMENT</button>
            <button class="btn btn-sm search_btn_suivi_type btn-outline-primary mx-2 px-3 text-uppercase">VENTE</button>
            <button class="btn btn-sm search_btn_suivi_type btn-outline-primary mx-2 px-3 text-uppercase">DEDUCTION</button>
            <button class="btn btn-sm search_btn_suivi_type btn-outline-primary mx-2 px-3 text-uppercase">FACTURE DEFINITIF</button>
        </div>
        <input type="hidden" name="search_suivi_type" id="search_suivi_type" >
        <div class="row mt-3">
            <div class="col-md-5"> 
                <label for="search_suivi_produit" class="mt-2 font-weight-bold text-uppercase">Désignation Produit</label>
                <select name="search_suivi_produit" class="custom-select chosen_select custom-select-sm" id="search_suivi_produit">
                    <option value="">TOUS</option>
                    {% for stockGenerale in stockGenerales %}
                        <option value="{{stockGenerale.id}}">{{stockGenerale.codeProduit}} | {{stockGenerale.nomType|upper}}  | {{stockGenerale.nom|upper}} | stock : {{stockGenerale.stock}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="search_suivi_entrepot" class="mt-2 font-weight-bold text-uppercase">Entrepot</label>
                <select name="search_suivi_entrepot" class="custom-select chosen_select custom-select-sm" id="search_suivi_entrepot">
                    <option value="">TOUS</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="search_suivi_entrepot" class="mt-2 font-weight-bold text-uppercase">Date</label>
                <select name="search_suivi_entrepot" class="custom-select chosen_select custom-select-sm" id="search_suivi_entrepot">
                    <option value="">TOUS</option>
                </select>
            </div>
        </div>
        <div class="content_suivi_produit">
            <div class="table-responsive mt-4">
                <table class="table-sm table table-hover table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Entrepot</th>
                            <th>Indice</th>
                            <th>Quantité</th>
                            <th>Prix de vente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6">
                                <div class="alert alert-info text-center h6 mb-0">
                                    <i class="fa fa-info-circle"></i><br>
                                    Le fichier est trop volumineux pour être traité dans son ensemble.<br>
                                    Veuillez sélectionner un produit spécifique ci-dessus pour effectuer votre recherche
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {# <div class="table-responsive mt-3">
            <table class="table table-sm table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Date</th>
                        <th>Type Appro</th>
                        <th>Entrepôt</th>
                        <th>Désingation</th>
                        <th class="text-right">Quantité</th>
                        <th class="text-right">Prix vente</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% set premier = (appros is not empty) ? appros[0].date : "" %}
                    {% set passe = true %}
                    {% set compteur = 1 %}
                    {% set totalHT = 0 %}
                    {% set totalGeneral = 0 %}
                    {% for appro in appros %}
                        {% set annee_actuel = 'now'|date('Y') %}
                        {% if appro.annee == annee_actuel %}
                            {% if appro.date != premier %}
                                {% set premier = appro.date %}
                                {% set passe = true %}
                                {% set compteur = 1 %}
                                {% set totalHT = 0 %}
                            {% endif %}
                            <tr>
                                {% set elements = appros|filter(o => o.date == premier) %}
                                {% set ligne = elements|length %}
                                {% if passe %}
                                    <td rowspan="{{ligne + 1}}" class="align-middle">{{appro.date}}</td>
                                    {% set passe = false %}
                                {% endif %}
                                <td>{{appro.nomTypeAppro|upper}}</td>
                                <td>{{appro.entrepot}}</td>
                                <td>{{appro.produit}}</td>
                                <td>{{appro.quantite}}</td>
                                <td>{{appro.prixVente}}</td>
                                <td>{{appro.total}}</td>
                                {% set totalHT = totalHT + appro.total %}
                            </tr>
                            {% if compteur == ligne %}
                                <tr>
                                    <th colspan="5">Total Partiel</th>
                                    <th class="bg-secondary text-right text-white">{{totalHT}}</th>
                                </tr>
                                <tr class="bg-light border_dark">
                                    <td colspan="7"></td>
                                </tr>
                                {% set totalGeneral = totalGeneral + totalHT %}
                            {% endif %}
                            {% if appro.date == premier %}
                                {% set compteur = compteur + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="6">Total Géneral</th>
                        <th class="bg-primary text-right text-white">{{totalGeneral}}</th>
                    </tr>
                </tfoot>
            </table>
        </div> #}

        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="button" class="btn btn-sm effacerTout btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button>
                <button type="submit" class="btn btn-sm ml-3 enregistre_create_menu btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}
