<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SHISSAB SYSTEME Website" />
    <meta name="Author" content="Razafimiadana Edouardo Stevano" />
    <link rel="shortcut icon" href="{{asset('tools/accueil/assets/SHISSAB_Logo.png')}}" type="image/x-icon==">
    <link rel="stylesheet" href="{{asset('tools/accueil/style/_style.css')}}">
    <link rel="stylesheet" href="{{asset('tools/accueil/style/_color_Variables.css')}}">
    <!-- <link rel="stylesheet" href="{{asset('tools/bootstrap/css/bootstrap.css')}}"> -->
    <link rel="stylesheet" href="{{asset('tools/personnal/css/style.css')}}">
    <title>SHISSAB SYSTEME</title>
</head>

<body>
    <div class="Container">
        <div class="navbar" style="background-image: url({{asset('tools/accueil/assets/HeadBack.png')}});">
            <div class="logo">
                <img src="{{asset('tools/accueil/assets/SHISSAB_LogoLarge.png')}}" alt="SHISSAB Logo" width="280px" class="headLogo">
                <img src="{{asset('tools/accueil/assets/Nav_Form.png')}}" alt="SHISSAB Logo back" width="600px" class="headBack">
                <a href="{{path('app_login')}}" class="btn_connecter">Se connecter</a>
            </div>
        </div>
    </div>

    <div class="banner">
        <div class="Banner-content">
            <h1>SHISSAB</h1>
            <span>SYSTEME</span>
            <p>SHISSAB-SYSTEME est un logiciel connecté offrant plusieurs modules. Il est conçu pour être utilisé dans
                un cadre de sur-mesure et maîtrisé afin d’offrir une large visibilité au client pour mieux organiser la
                gestion des activités de son entreprise. L’expérience des clients est exploitée pour en faire un
                challenge et améliorer le service pour un meilleur rendement. Et les suggestions des clients sont prises
                en compte pour leur faire vivre le meilleur des expériences. </p>
            <img src="{{asset('tools/accueil/assets/BrochureIllustration.png')}}" alt="Brochure Illustration" class="Brochure_Illustration"
                width="500px">
        </div>
        <img src="{{asset('tools/accueil/assets/Banner_Illustration.png')}}" alt="Banner Illustration" class="Banner_Illustration">
        <!-- <img src="./assets/SHISSAB_Logo.png" alt="Banner Illustration" class="SHISSAB_Illustration"> -->
    </div>

    <div class="services" style="background-image: url({{asset('tools/accueil/assets/CalltoAction_Back.png')}});">
        <img src="{{asset('tools/accueil/assets/SHISSAB_Logo3D.png')}}" alt="SHISSAB Logo 3D" class="FloatLogo_3D">
        <div class="contentServices">
            <div class="titleServices">
                <h3>Les privilèges</h3>
                <h1>SHISSAB-SYSTEME :</h1>
            </div>

            <div class="service-list">
                <div class="leftside">
                    <ul>
                        <li><img src="{{asset('tools/accueil/assets/ArrowIcon2.png')}}" alt="arrow" width="40px"> Il offre un Dashboard
                            permettant en un clic d’avoir une visibilité à 360° sur le fonctionnement et la rentabilité
                            de votre activité.</li>
                        <li><img src="{{asset('tools/accueil/assets/ArrowIcon2.png')}}" alt="arrow" width="40px"> Unique en son genre, le
                            logiciel s’adapte aux particularités du client permettant d’associer gestion standard et
                            spécification afin de respecter l’organisation particulière votre activité.</li>
                        <li><img src="{{asset('tools/accueil/assets/ArrowIcon2.png')}}" alt="arrow" width="40px"> Il vous permet de suivre et
                            mettre à jour vos activités avec un simple appareil partout dans le monde mais aussi mieux
                            adapter vos prises de décisions.</li>
                    </ul>
                </div>

                <div class="rightside">
                    <ul>
                        <li><img src="{{asset('tools/accueil/assets/ArrowIcon2.png')}}" alt="arrow" width="40px"> Il dispose d’un mode
                            particulier pour organiser et suivre vos activités tout en simplifiant la connectivité et la
                            transparence des données.</li>
                        <li><img src="{{asset('tools/accueil/assets/ArrowIcon2.png')}}" alt="arrow" width="40px"> Un logiciel connecté, simple
                            qui vous permet de travailler et d’accéder aux données partout où vous êtes avec n’importe
                            quel appareil. Il est adapté au système Windows, IOS, linux et Android.</li>
                        <li><img src="{{asset('tools/accueil/assets/ArrowIcon2.png')}}" alt="arrow" width="40px"> Il est évolutif offrant
                            régulièrement des mises à jour permettant des rajouts de modules supplémentaires.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="contentServices2">
            <div class="title">
                <h1>SHISSAB-SYSTEME 2.1</h1>
                <span> est la nouvelle version de notre système offrant deux packages : </span>
            </div>


            <div class="introSHISSAB2">
                Ce sont deux packages permettant à nos différents clients de s’adapter selon leurs activités et leurs
                diversités ; le système permet de gérer une multitude de domaines dont la gestion commerciale,
                administrative, technique, immobilière etc.
            </div>

            <img src="{{asset('tools/accueil/assets/Coin.png')}}" alt="coin" width="120px" class="float_coin">

            <div class="packList">
                <div class="leftside">
                    <div class="head">
                        Pack 1
                    </div>

                    <div class="content">
                        <ul>
                            <ol>
                                - Gestion client
                            </ol>
                            <ol>
                                - Facturation
                            </ol>
                            <ol>
                                - Gestion de la prestation standard (Un module au choix)
                            </ol>
                            <ol>
                                - SAV (Services après ventes)
                            </ol>
                        </ul>
                    </div>
                </div>

                <div class="rightside">
                    <div class="head">
                        Pack 2
                    </div>

                    <div class="content">
                        <ul>
                            <ol>
                                - Gestion client
                            </ol>
                            <ol>
                                - Gestion de stock
                            </ol>
                            <ol>
                                - Caisse
                            </ol>
                            <ol>
                                - SAV (Services après ventes)
                            </ol>
                        </ul>
                    </div>
                </div>

            </div>

            <button type="button" class="contact-btn">Contactez-nous</button>
        </div>
    </div>

    <div class="modules">
        <div class="content">
            <div class="title">
                <h3>Descriptifs des modules :</h3>
                <p>A travers un des packages, vous avez en tant que client la possibilité de rajouter des modules
                    supplémentaires afin d’avoir un outil de gestion complète et harmonisée de vos activités.</p>
            </div>

            <div class="table">
                <div class="tableline head">
                    <div class="left">
                        MODULES
                    </div>
                    <div class="separator">

                    </div>
                    <div class="right">
                        FONCTIONALITES
                    </div>
                </div>

                <div class="tableline">
                    <div class="left">
                        Gestion client
                    </div>
                    <div class="separator">

                    </div>
                    <div class="right">
                        Création & archivage des informations client
                    </div>
                </div>

                <div class="tableline">
                    <div class="left">
                        Facturation
                    </div>
                    <div class="separator">

                    </div>
                    <div class="right">
                        Edition, impression et archivage
                    </div>
                </div>

                <div class="tableline">
                    <div class="left">
                        Gestion de la prestation standard <div>Module au chois</div>

                    </div>
                    <div class="separator">

                    </div>
                    <div class="right">
                        <ul>
                            <ol>
                                - Système de gestion standard
                            </ol>
                            <ol>
                                - Système de gestion Bâtiment
                            </ol>
                            <ol>
                                - Système de gestion immobilière
                            </ol>
                        </ul>
                    </div>
                </div>

                <div class="tableline">
                    <div class="left">
                        Caisse
                    </div>
                    <div class="separator">

                    </div>
                    <div class="right">
                        <ul>
                            <ol>
                                - Poste Caisse
                            </ol>
                            <ol>
                                - Liste des ventes caisse
                            </ol>
                            <ol>
                                - Archivage
                            </ol>
                        </ul>
                    </div>
                </div>

                <div class="tableline">
                    <div class="left">
                        Gestion de stock
                    </div>
                    <div class="separator">

                    </div>
                    <div class="right">
                        <ul>
                            <ol>
                                - Système de catégorisation des produits
                            </ol>
                            <ol>
                                - Gestion des entrepôts
                            </ol>
                            <ol>
                                - Liste de sélection préférentielle des catégories
                            </ol>
                            <ol>
                                - Système de création produits
                            </ol>
                            <ol>
                                - Stock général
                            </ol>
                            <ol>
                                - Stock par entrepôt
                            </ol>
                            <ol>
                                - Approvisionnement
                            </ol>
                            <ol>
                                - Inventaire
                            </ol>
                            <ol>
                                - Gestion fournisseur
                            </ol>
                            <ol>
                                - Stock interne
                            </ol>
                        </ul>
                    </div>
                </div>

                <div class="tableline">
                    <div class="left">
                        Bon de Commande
                    </div>
                    <div class="separator">

                    </div>
                    <div class="right">
                        Création, consultation, impression et archivage
                    </div>
                </div>

                <div class="tableline">
                    <div class="left">
                        Bon de Livraison
                    </div>
                    <div class="separator">

                    </div>
                    <div class="right">
                        Création, consultation, impression et archivage
                    </div>
                </div>


                <div class="tableline">
                    <div class="left">
                        Achat
                    </div>
                    <div class="separator">

                    </div>
                    <div class="right">
                        <ol>
                            - Création marchandise
                        </ol>
                        <ol>
                            - Bon de commande
                        </ol>
                        <ol>
                            - Suivi des crédits fournisseur
                        </ol>
                    </div>
                </div>

                <div class="tableline">
                    <div class="left">
                        Crédit et Acompte
                    </div>
                    <div class="separator">

                    </div>
                    <div class="right">
                        <ol>
                            - Affectation de crédit
                        </ol>
                        <ol>
                            - Suivi des crédits de créances (en cours, soldé, en souffrances)
                        </ol>
                        <ol>
                            - Affectation dépôt des acomptes
                        </ol>
                        <ol>
                            - Suivie des dépôts des acomptes (en cours, terminé, annulé)
                        </ol>
                    </div>
                </div>

                <div class="tableline">
                    <div class="left">
                        Agenda
                    </div>
                    <div class="separator">

                    </div>
                    <div class="right">
                        Création & consultation
                    </div>
                </div>

                <div class="tableline">
                    <div class="left">
                        Pilotage d’Activité<div>Gestion des taches</div>
                    </div>
                    <div class="separator">

                    </div>
                    <div class="right">
                        Création & suivi des tâches
                    </div>
                </div>

                <div class="tableline">
                    <div class="left">
                        SAV
                    </div>
                    <div class="separator">

                    </div>
                    <div class="right">
                        <ol>
                            - Création de type de motif
                        </ol>
                        <ol>
                            - Opération (annulation, remboursement, avoir & crédit)
                        </ol>

                    </div>
                </div>

                <div class="tableline">
                    <div class="left">
                        Comptabilité
                    </div>
                    <div class="separator">

                    </div>
                    <div class="right">
                        <ol>
                            - Rapprochement bancaire
                        </ol>
                        <ol>
                            - Gestion des dépenses
                        </ol>
                        <ol>
                            - Suivie des chèques
                        </ol>
                        <ol>
                            - Recette
                        </ol>
                        <ol>
                            - Journal de caisse
                        </ol>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="Intersect-footer" style="background-image: url({{asset('tools/accueil/assets/Form.png')}});"></div>

    <div class="footer" style="background-image: url({{asset('tools/accueil/assets/BlurBackground.png')}});">
        <div class="offer">
            <h1>Offres</h1>
            <div class="separator"></div>
            <p>Notre prestation vous offre un très bon rapport qualité/prix pour le meilleur outil de gestion de votre
                entreprise.</p>
            <div class="offer-list">
                <div class="offer-item">
                    Offre incluant le package 1 & 2
                </div>
                <div class="offer-item">
                    Formation
                </div>
                <div class="offer-item">
                    3 comptes utilisateurs
                </div>
                <div class="offer-item">
                    Prix / compte utilisateur supplémentaire
                </div>
                <div class="offer-item">
                    Assistance & maintenance annuelles inclues
                </div>
            </div>
        </div>

        <div class="Contact">
            <div class="contact-line">
                <h1>Contact</h1>
                <div class="tabs">
                    <div class="tab" onclick="showInfo('mayotte')">MAYOTTE</div>
                    <div class="tab" onclick="showInfo('moroni')">MORONI</div>
                </div>
        
                <div id="mayotteInfo" class="info active">
                    <h2>Entreprise à Mayotte</h2>
                    <p>Siège: 3 rue Andrianantsouli 97 615 Pamandri</p>
                    <p>Contact: +262639253031</p>
                    <p>Email: <a href="mailto:contactmoroni@hikamsm.com">contactmoroni@hikamsm.com</a></p>
                    <p>Site Web: <a href="shissabsysteme.com">shissabsysteme.com</a></p>
                </div>
        
                <div id="moroniInfo" class="info">
                    <h2>Entreprise à Moroni</h2>
                    <p>Siège : Moroni Hamramba </p>
                    <p>Contact : +(269)387 4071 / 359 2414</p>
                    <p>WhatsApp : +(269)3592414</p>
                    <p>Email : <a href="mailto:contactmoroni@hikamsm.com"></a>contactmoroni@hikamsm.com</a></p>
                    <p>Site Web: <a href="shissabsysteme.com" title="shissabsysteme" target="_blank">shissabsysteme.com</a></p>
                </div>
            </div>
        </div>

        

        <img src="{{asset('tools/accueil/assets/Footer_Form_Background.png')}}" alt="footer image">
    </div>

    <script>
        function showInfo(tab) {
            // Masquer toutes les informations
            document.querySelectorAll('.info').forEach(function (info) {
                info.style.display = 'none';
            });

            // Afficher les informations correspondantes
            document.getElementById(tab + 'Info').style.display = 'block';
        }
    </script>

</body>

</html>