 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-4 pb-3">
        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="button" class="btn btn-sm ml-3 int_sortie_enregistre btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
        <div class="barre_dashed w-100"></div>
        <div class="row mt-3">
            <div class="col-md-8">
                <form id="formIntSortie">
                    <input type="hidden" name="int_mouvement_type" value="SORTIE">
                    <div class="table-responsive mt-2">
                        <table class="table table-sm table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Désignation</th>
                                    <th>Stock Sorti</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="elemIntSortie">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th >Total <input type="hidden" id="int_sortie_total_general" value="0" </th>
                                    <th colspan="2" class="bg-dark text-white sortie_caption_total_general"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-7"></div>
                        <div class="col-md-5"> 
                            <label for="nom" class="mt-1 font-weight-bold">Mouvement le,</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                                </div>
                                <input type="text"  value="{{ 'now'|date('d/m/Y') }}" class="form-control enr_int_sortie_date" placeholder=". . ." name="enr_int_sortie_date" id="enr_int_sortie_date" aria-label="dateAppro" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 pt-2">
                <select name="int_sortie_designation" class="custom-select chosen_select custom-select-sm" id="int_sortie_designation">
                    <option value="" disabled selected>DESIGNATION</option>
                    {% for materiel in materiels %}
                        <option value="{{materiel.id}}">{{materiel.nom|upper}} | {{materiel.unite}} | {{materiel.libelle|upper}}</option>
                    {% endfor %}
                </select>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <input type="number" step="any" name="int_sortie_stock" id="int_sortie_stock" class="form-control mt-3" placeholder="Stock Sorti">
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-success int_sortie_ajouter btn-block btn-sm mt-3"><i class="fa fa-database"></i>&nbsp;Ajouter</button>
                    </div>
                </div>
                <div class="w-100 mt-3 text-center pt-3 barre_dashed">
                    <button type="button" class="btn caisse_perso_btn btn-outline-secondary">1</button>
                    <button type="button" class="btn ml-2 caisse_perso_btn btn-outline-secondary">2</button>
                    <button type="button" class="btn ml-2 caisse_perso_btn btn-outline-secondary">3</button><br>
                    <button type="button" class="btn mt-2 caisse_perso_btn btn-outline-secondary">4</button>
                    <button type="button" class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">5</button>
                    <button type="button" class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">6</button><br>
                    <button type="button" class="btn mt-2 caisse_perso_btn btn-outline-secondary">7</button>
                    <button type="button" class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">8</button>
                    <button type="button" class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">9</button><br>
                    <button type="button" value="1" class="btn mt-2 caisse_perso_btn btn-outline-secondary">CE</button>
                    <button type="button" class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">0</button>
                    <button type="button" value="0" class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">DEL</button>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}


