 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <div class="row mb-3">
            <div class="col-3">
                <label for="nom" class="mt-2 font-weight-bold">Utilisateur</label>
                <select name="prod_categorie" class="custom-select chosen_select custom-select-sm" id="prod_categorie">
                    <option value="">-</option>
                    {% for utilisateur in utilisateurs %}
                        <option value="{{utilisateur.id}}">{{utilisateur.username|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3">
                <label for="nom" class="mt-2 font-weight-bold">Action</label>
                <select name="prod_categorie" class="custom-select chosen_select custom-select-sm" id="prod_categorie">
                    <option value="">-</option>
                    {% for action in actions %}
                        <option value="{{action.id}}">{{action.nom|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3">
                <label for="nom" class="mt-2 font-weight-bold">Filtre</label>
                <select name="prod_categorie" class="custom-select chosen_select custom-select-sm" id="prod_categorie">
                    <option value="">-</option>
                    {% for module in modules %}
                        <option value="{{module.id}}">{{module.nom|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-3">
                <label for="nom" class="mt-2 font-weight-bold">Date</label>
                <select name="prod_categorie" class="custom-select chosen_select custom-select-sm" id="prod_categorie">
                    <option value="">-</option>
                </select>
            </div>
        </div>
        <div class="w-100 table-responsive">
            <table class="table table-sm table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Utilisateur</th>
                        <th>Action</th>
                        <th>Filtre</th>
                        <th>Description</th>
                    </tr>
                </thead> 
                <tbody>
                    {% for historique in historiques %}
                        <tr>
                            <td>{{historique.date}}</td>
                            <td>{{historique.heure}}</td>
                            <td>{{historique.utilisateur}}</td>
                            <td>{{historique.action}}</td>
                            <td>{{historique.module}}</td>
                            <td>{{historique.description}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="submit" class="btn btn-sm ml-3 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}


