 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <div class="row">
            <div class="col-md-3">
                <label for="nom" class="font-weight-bold">Banque</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
            <div class="col-md-3">
                <label for="nom" class="font-weight-bold">Numéro de compte</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
            <div class="col-md-3">
                <label for="nom" class="font-weight-bold">Opération</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
            <div class="col-md-3">
                <label for="nom" class="font-weight-bold">Date</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
        </div>
        <div class="mt-2">
            <div class="table-responsive">
                <table class="table table-sm table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date</th>
                            <th>Banque</th>
                            <th>N° Opération</th>
                            <th>Type</th>
                            <th>Compte Bancaire</th>
                            <th>Personne concerné</th>
                            <th>Opération</th>
                            <th>Montant</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set total = 0 %}
                        {% for operation in operations %}
                            {% if operation.refCategorie == "DEP" %}
                                {% set statutClass = "text-success" %}
                            {% else %}
                                {% set statutClass = "text-danger" %}
                            {% endif %}
                            <tr class="{{statutClass}}">
                                <td>{{operation.date}}</td>
                                <td>{{operation.banque}}</td>
                                <td>{{operation.numero}}</td>
                                <td>{{operation.type|upper}}</td>
                                <td>{{operation.compte}}</td>
                                <td>{{operation.personne|upper}}</td>
                                <td>{{operation.categorie|upper}}</td>
                                <td>{{operation.montant}}</td>
                                <td class="text-center align-middle">
                                    <button class="btn btn-sm btn-outline-danger ml-1 font-smaller"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            {% set total = total + operation.montant %}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="7">Montant Total</th>
                            <th colspan="2" class="text-white bg-primary">{{total}}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                {# <button type="button" class="btn btn-sm effacerTout btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button> #}
                <button type="submit" class="btn btn-sm ml-3 enregistre_create_menu btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}


