 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/recettes.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pb-3">
        <div class="row">
            <div class="col-md-3">
                <label for="search_recette" class="mt-2 font-weight-bold text-uppercase">Entrepôt</label>
                <select name="trans_entrepot_source" class="custom-select chosen_select custom-select-sm" id="trans_entrepot_source">
                    <option value="">-</option>
                    {% for entrepot in entrepots %}
                        <option value="{{entrepot.id}}">{{entrepot.nom|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-9">
                <label for="search_recette" class="mt-2 font-weight-bold text-uppercase">Type de paiement</label>
                <div class="w-100 d-flex flex-row align-items-center">
                    {% for paiement in paiements %}
                        <button data-value="{{paiement.id}}" class="btn btn-sm btn-outline-info mx-2">{{paiement.nom|upper}}</button>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3">
                <label for="search_recette" class="mt-3 font-weight-bold text-uppercase">Type Recette</label>
                <select name="search_recette" class="custom-select chosen_select custom-select-sm" id="search_recette">
                    <option value="">TOUS</option>
                    <option value="">CAISSE</option>
                    <option value="">FACTURE PRODUIT</option>
                    <option value="">FACTURE STANDARD</option>
                    <option value="">FACTURE BATIMENT</option>
                    <option value="">FACTURE LOCATION</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="search_recette" class="mt-3 font-weight-bold text-uppercase">Numéro</label>
                <select name="search_recette" class="custom-select chosen_select custom-select-sm" id="search_recette">
                    <option value="" data-critere="">TOUS</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="search_recette" class="mt-3 font-weight-bold text-uppercase">Date</label>
                <select name="search_recette" class="custom-select chosen_select custom-select-sm" id="search_recette">
                    <option value="" data-critere="">TOUS</option>
                    {% for critereDate in critereDates %}
                        <option value="{{critereDate.id}}" data-critere="{{critereDate.critere}}">{{critereDate.nom|upper}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mt-3">
            <div class="table-responsive general_height pb-0 ">
                <table class="table table-sm mb-0 table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date</th>
                            <th>Numero</th>
                            <th>Entrepot</th>
                            <th>Type Paiement</th>
                            <th>Type Recette</th>
                            {# <th>Client</th> #}
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody class="elemRecette">
                        {% set totalGeneral = 0 %}
                        {% for recette in recettes %}
                            {% set anneeNow = 'now'|date('Y') %}
                            {% set anneeActuel = recette.date|split('/') %}
                            {% if anneeActuel[2] == anneeNow  %}
                                <tr>
                                    <td>{{recette.date}}</td>
                                    <td>{{recette.numero}}</td>
                                    <td>{{"-"}}</td>
                                    <td>{{"-"}}</td>
                                    <td>{{recette.operation|upper}}</td>
                                    {# <td>{{recette.client|upper}}</td> #}
                                    <td>{{recette.montant}}</td>
                                </tr>
                                {% set totalGeneral = totalGeneral + recette.montant %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <table class="table table-sm table-bordered" style="font-size: 0.95em;">
                <tr>
                    <th>Total General</th>
                    <th class="bg-primary text-white" style="width: 120px;">{{totalGeneral}}</th>
                </tr>
            </table>
        </div>

        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="submit" class="btn btn-sm ml-3 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}


