{% for recette in recettes %}
    <tr>
        <td>{{recette.date}}</td>
        <td>{{recette.numero}}</td>
        <td>{{recette.operation|upper}}</td>
        <td>{{recette.client|upper}}</td>
        <td>{{recette.montant}}</td>
    </tr>
{% endfor %}