
{% for key, value in recetteJournlaiers %}
    <h5 class="title_form text-black text-uppercase font-weight-bold mt-3 mb-2">Type de Paiement : <span class="text-primary">{{value[0].typePaiement}}</span></h5>
    <div class="table-responsive pb-0 ">
        <table class="table table-sm mb-0 table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>Numero</th>
                    <th>Entrepot</th>
                    <th>Type Paiement</th>
                    <th>Type Recette</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% set totalGeneral = 0 %}
                {% for recetteGenerale in value %}
                    {% set anneeNow = 'now'|date('Y') %}
                    {% set anneeActuel = recetteGenerale.date|split('/') %}
                    {% if anneeActuel[2] == anneeNow  %}
                        <tr>
                            <td>{{recetteGenerale.date}}</td>
                            <td>{{recetteGenerale.numero}}</td>
                            <td>{{recetteGenerale.entrepot|upper}}</td>
                            <td>{{recetteGenerale.typePaiement|upper}}</td>
                            <td>{{recetteGenerale.recette|upper}}</td>
                            <td>{{recetteGenerale.montant}}</td>
                        </tr>
                        {% set totalGeneral = totalGeneral + recetteGenerale.montant %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <table class="table table-sm table-bordered" style="font-size: 0.95em;">
        <tr>
            <th>Total</th>
            <th class="bg-primary text-white" style="width: 120px;">{{totalGeneral}}</th>
        </tr>
    </table>
{% endfor %}
<h5 class="title_form text-black text-uppercase font-weight-bold mt-3 mb-2">Récapitulatif</h5>
<div class="table-responsive pb-0 ">
    <table class="table table-sm mb-0 table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Type de paiement</th>
                <th>Montant</th>
            </tr>
        </thead>
        <tbody>
            {% set totalCaisse = 0 %}
            {% for recapitulatif in recapitulatifs %}
                    <tr>
                        <td>{{recapitulatif.paiement|upper}}</td>
                        <td>{{recapitulatif.montant}}</td>
                    </tr>
                    {% set totalCaisse = totalCaisse + recapitulatif.montant %}
            {% endfor %}
        </tbody>
        <tr>
            <th>Total</th>
            <th class="bg-primary text-white" style="width: 120px;">{{totalCaisse}}</th>
        </tr>
    </table>
</div>
