 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/impression.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/detailStock.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/creation.js')}}" ></script>
{% endblock %}
{% block body %} 
{% set image = infoProduit.images %} 
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}} : <span class="text-white px-2 py-1 rounded badge-warning">{{infoProduit.designation}}</span></h4>
    </div>
    <div class="container-fluid px-3 py-3">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link font-smaller text-uppercase font-weight-bold active" id="pills-home-tab" data-toggle="pill" data-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Details</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link font-smaller text-uppercase font-weight-bold" id="pills-profile-tab" data-toggle="pill" data-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Variation de Produit</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link font-smaller text-uppercase font-weight-bold" id="pills-contact-tab" data-toggle="pill" data-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Approvisionnements et Ventes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link font-smaller text-uppercase font-weight-bold" id="pills-actuality-tab" data-toggle="pill" data-target="#pills-actuality" type="button" role="tab" aria-controls="pills-actuality" aria-selected="false">Statistiques</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active px-3" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                {# Details #}
                <form id="formDetailProduit">
                    <input type="hidden" name="prod_idProduit" value="{{infoProduit.id}}">
                    <div class="row">
                        <div class="col-md-4 d-flex flex-column align-items center justify-content-center px-3">
                            <div class="w-100 p-4 d-flex align-items center justify-content-center">
                                <img src="{{image}}" class="img image_categorie img-thumbnail img-fluid" alt="">
                            </div>
                            <button type="button" class="btn btn-info btn-sm btn-block importImage">Importer une image . . .</button>
                            <input type="file" name="image" id="imageImport" class="form-control d-none" placeholder=". . .">
                            <input type="hidden" name="prod_image" id="prod_image">
                        </div>
                        <div class="col-md-4 d-flex flex-column align-items center justify-content-center px-3">
                            <div class="qr_block mt-2 w-100 d-flex flex-row align-items-center justify-content-center">
                            </div>
                        </div>
                        <div class="col-md-4 d-flex flex-column align-items center justify-content-center overflow-auto px-3">
                            <div id="mybarCode" class="mt-5 mybarCode mx-auto overflow-auto"></div>
                            <div class="mt-2 w-100 text-center">
                                {# <button type="button" class="btn btn-sm btn-outline-info" id="stock_print_barcode"><i class="fa fa-print"></i>&nbsp;<i class="fa fa-barcode"></i>&nbsp;Imprimer</button> #}
                                <button type="button" class="btn btn-sm btn-outline-purple" id="stock_print_barcode"><i class="fa fa-download"></i>&nbsp;Télécharger</button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <label for="prod_categorie" class="mt-2 font-weight-bold">Catégories</label>
                            <select name="prod_categorie" class="custom-select custom-select-sm" id="prod_categorie">
                                <option value="">-</option>
                                {% for categorie in categories %}
                                    <option value="{{categorie.id}}" {{ infoProduit.categorie == categorie.id ? "selected" : "" }}>{{categorie.nom|upper}}</option>
                                {% endfor %} 
                            </select>
                        </div>
                        <div class="col-md-3 overflow-auto">
                            <label for="code_produit" class="mt-2 font-weight-bold">Code</label>
                            <input type="text" readonly value="{{infoProduit.codeProduit}}" name="code_produit" oninput="this.value = this.value.toUpperCase();" id="code_produit" class="form-control code_produit" placeholder=". . .">
                            <input type="hidden" name="qr_code_produit" class="qr_code_produit">
                            <input type="hidden" name="barcode_produit" class="barcode_produit">
                            <input type="hidden" name="details_qr_code_produit" class="details_qr_code_produit" value="{{infoProduit.codeProduit}}">
                            <input type="hidden" name="details_barcode_produit" class="details_barcode_produit" value="{{infoProduit.codeProduit}}">
                        </div>
                        <div class="col-md-3">
                            <label for="stock_produit" class="mt-2 unite_produitunite_produit font-weight-bold">Stock disponible</label>
                            <input type="text" readonly value="{{infoProduit.stock}}" name="stock_produit" id="stock_produit" class="form-control" placeholder=". . .">
                        </div>
                        <div class="col-md-3">
                            <label for="unite_produit" class="mt-2 unite_produitunite_produit font-weight-bold">Unité</label>
                            <input type="text" name="unite_produit" value="{{infoProduit.unite}}" id="unite_produit" class="form-control" placeholder=". . .">
                        </div> 
                        <div class="col-md-6">
                            <label for="prod_nom" class="mt-3 font-weight-bold">Nom du Produit</label>
                            <div class="contenPrdType">
                                <div class="row">
                                    <div class="col-md-9">
                                        <select name="prod_type" class="custom-select not-reload chosen_select custom-select-sm" id="prod_type">
                                            <option value="">-</option>
                                            <option value="NA" {{ infoProduit.nomProduit == "NA" ? "selected" : "" }} >NON ASSIGNEE</option>
                                            {% for type in types %}
                                                <option value="{{type.id}}" {{ infoProduit.nomProduit == type.id ? "selected" : "" }}>{{type.nom|upper}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="hidden" name="add_new_type" value="NON" id="add_new_type">
                                        <button type="button" class="btn btn-sm prd_new_type btn-primary btn-block"><i class="fa fa-plus-circle"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="prod_nom" class="mt-3 font-weight-bold">Designation du Produit</label>
                            <div class="contentPrdDesignation">
                                <div class="row">
                                    <div class="col-md-9">
                                        <input type="text" name="prod_nom" oninput="this.value = this.value.toUpperCase();" id="prod_nom" class="form-control" value="{{infoProduit.designation}}">
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-sm prd_new_designation btn-primary btn-block"><i class="fa fa-edit"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 mt-3">
                        <label for="produit_editor" class="mt-2 font-weight-bold text-uppercase">Description</label>
                        <textarea name="produit_editor" class="form-control produit_details_editor" id="produit_editor" cols="10" rows="5">{{infoProduit.description}}</textarea>
                    </div>
                    {% if with_foot %}
                        <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                            <button type="button" data-value="{{infoProduit.id}}" class="btn btn-sm ml-3 stock_supprimer_produit btn-danger"><i class="fa fa-trash"></i>&nbsp;Supprimer</button>
                            <button type="submit" class="btn btn-sm ml-3 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Mettre à jour</button>
                        </div>
                    {% endif %}
                </form>
                {# Fin Details #}
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                {# Variation de Produit #}
                <div class="container"> 
                    <div class="detailVariationProduit">
                    </div>
                    <div class="barre_dashed pt-3">
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Entrepôt</th>
                                        <th>Code</th>
                                        <th>Prix de Vente</th>
                                        <th>Solde</th>
                                        <th>Stock</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set totalVariation = 0 %}
                                    {% for variationProduit in variationProduits %}
                                        <tr>
                                            <td class="prd_list_entrepot">{{variationProduit.entrepot|upper}}</td>
                                            <td>
                                            {{variationProduit.code}}
                                            <input type="hidden" class="prd_list_code" value="{{variationProduit.codeProduit}}">
                                            <input type="hidden" class="prd_list_indice" value="{{variationProduit.indice}}">
                                            <input type="hidden" class="prd_list_id" value="{{variationProduit.id}}">
                                            <input type="hidden" class="prd_list_solde_type" value="{{variationProduit.soldeType}}">
                                            <input type="hidden" class="prd_list_qte_solde" value="{{variationProduit.soldeQte}}">
                                            <input type="hidden" class="prd_list_solde_date" value="{{variationProduit.soldeDate}}">
                                            </td> 
                                            {# <td>{{variationProduit.}}</td> #}
                                            <td class="prd_list_prix">{{variationProduit.prix}}</td>
                                            <td class="prd_list_solde">{{variationProduit.solde}}</td>
                                            <td class="prd_list_stock">{{variationProduit.stock}}</td>
                                            <td class="text-center align-middle">
                                                <button class="btn btn-sm btn-outline-warning prod_edit_variation font-smaller"><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-sm btn-outline-danger ml-1 font-smaller"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        {% set totalVariation = totalVariation + variationProduit.stock %}
                                    {% endfor %}
                                </tbody>
                                <tfoot> 
                                    <tr>
                                        <th colspan="4">Total</th>
                                        <th colspan="2" class="bg-info text-white">{{totalVariation}}</th>
                                    </tr>
                                </tfoot> 
                            </table>
                        </div>
                    </div>
                </div>
                {# Fin Variation de Produit #}
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                {# Achats et Ventes #}
                <div class="container barre_dashed pt-3">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Date</th>
                                    <th>Entrepôt</th>
                                    <th>Produit</th>
                                    <th>Qte</th>
                                    <th>Prix Unitaire</th>
                                    <th>Total</th>
                                    <th class="text-center align-middle">Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set totalQte = 0 %}
                                {% set totalCredit = 0 %}
                                {% set totalDebit = 0 %}
                                {% for liste in listes %}
                                    <tr>
                                        <td>{{liste.date}}</td>
                                        <td>{{liste.entrepot}}</td>
                                        <td>{{liste.produit}}</td>
                                        <td>{{liste.quantite}}</td>
                                        <td>{{liste.prix}}</td>
                                        <td>{{liste.total}}</td>
                                        <td class="text-center align-middle">{{liste.type|upper}}</td>
                                    </tr>
                                    {% if liste.indice == "CREDIT" %}
                                        {% set totalCredit = totalCredit + liste.quantite %}
                                        {% set totalQte = totalQte - liste.quantite %}
                                    {% else %}
                                        {% set totalDebit = totalDebit + liste.quantite %}
                                        {% set totalQte = totalQte + liste.quantite %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="3">Total</th>
                                    {# <th colspan="4">{{totalQte}}({{totalDebit}}-{{totalCredit}})</th> #}
                                    <th colspan="4">{{totalQte}}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                {# Fin Achats et Ventes #}
            </div>
            <div class="tab-pane fade" id="pills-actuality" role="tabpanel" aria-labelledby="pills-actuality-tab">
                {# Statistiques #}
                {# Fin Statistiques #}
            </div>
        </div>
    </div>
</div>
{% endblock %}


