 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase d-flex flex-row align-items-center entete_page text-black">
        {{titlePage}}
        {# <a href="{{path('ftr_retenu_consultation')}}" class="btn ml-auto font-weight-bold text-uppercase btn-perso-one btn-sm"><i class="fa fa-file"></i>&nbsp;Facture retenus</a> #}
        </h4>
    </div>
    <div class="container-fluid px-3 pt-2">
        <div class="row">
            <div class="col-md-12">
                <label for="nom" class="font-weight-bold ml-1 text-uppercase">Statut</label>
                <div class="w-100 d-flex flex-wrap flex-row align-items-center justify-content-left">
                    <button type="button" data-text="" data-class="btn-info" data-target="#crd_statut" value="" class="btn crd_btn_statut btn-sm mt-2 px-3 btn-outline-info mx-1">TOUS</button>
                    {% for crdStatut in crdStatuts %}
                        <button type="button" data-class="btn-info" data-target="#crd_statut" value="{{crdStatut.id}}" class="btn crd_btn_statut btn-sm mt-2 px-3 btn-outline-info text-uppercase mx-1">{{ crdStatut.nom|upper }}</button>
                    {% endfor %}
                    <input type="hidden" id="crd_statut" name="crd_statut">
                    <input type="hidden" id="refPaiement" name="refPaiement" value="{{refPaiement}}">
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-3">
                <label for="fact_search_client" class="mt-2 font-weight-bold w-100 text-uppercase">Client</label>
                <select name="fact_search_client" class="custom-select chosen_select custom-select-sm" id="fact_search_client">
                    <option value="">TOUS</option>
                    {% for client in clients %}
                        <option value="{{client.id}}">{{client.nom|upper}}</option>
                    {% endfor %}
                </select>
            </div>
             <div class="col-md-3">
                <label for="fact_search_date" class="mt-2 font-weight-bold w-100 text-uppercase">Date</label>
                <select name="fact_search_date" class="custom-select chosen_select fact_search_date custom-select-sm" id="fact_search_date">
                    <option value="" data-critere="">TOUS</option>
                    {% for critereDate in critereDates %}
                        <option value="{{critereDate.id}}" data-critere="{{critereDate.critere}}">{{critereDate.nom|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold">&nbsp;</label>
                <button class="btn btn-block btn-secondary btn-sm"><i class="fa fa-file-excel"></i>&nbsp;Exporter Excel</button>
            </div>
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold">&nbsp;</label>
                <button class="btn btn-block btn-danger btn-sm"><i class="fa fa-file-pdf"></i>&nbsp;Exporter Pdf</button>
            </div>
        </div>
        <div class="row mt-2 elem_date"></div>
        <div class="table-responsive mt-4">
            <table class="table table-sm table-bordered">
                <thead class="thead-light text-uppercase">
                    <tr>
                        <th>Date</th>
                        <th>N° Credit</th>
                        <th>Client</th>
                        <th>Designation</th>
                        <th>Qte</th>
                        <th>Prix HT</th>
                        <th>TVA</th>
                        <th>Remise</th>
                        <th>Total</th>
                        <th>Statut</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="elem_finance">
                    {% set premier = (credits is not empty) ? credits[0].numFnc : "" %}
                    {% set passe = true %}
                    {% set passeM = true %}
                    {% set compteur = 1 %}
                    {% set totalHT = 0 %}
                    {% set totalGeneral = 0 %}
                    {% for credit in credits %}
                        {% if credit.numFnc != premier %}
                            {% set premier = credit.numFnc %}
                            {% set passe = true %}
                            {% set passeM = true %}
                            {% set compteur = 1 %}
                            {% set totalHT = 0 %}
                        {% endif %}
                    <tr>
                        {% set elements = credits|filter(o => o.numFnc == premier) %}
                        {% set ligne = elements|length %}
                        
                        {% if passe %}
                            <td rowspan="{{ligne + 6}}" class="align-middle">{{credit.date}}</td>
                            <td rowspan="{{ligne + 6}}" class="align-middle">{{credit.numFnc}}</td>
                            <td rowspan="{{ligne + 6}}" class="align-middle">{{credit.client|upper}}</td>
                            {% set passe = false %}
                        {% endif %}
                        <td>{{credit.designation}}</td>
                        <td>{{credit.qte}}</td>
                        <td>{{credit.prix}}</td>
                        <td>{{credit.tva}}</td>
                        <td>{{credit.remise}}</td>
                        <td>{{credit.total}}</td>
                        {% set totalHT = totalHT + credit.total %}
                        {% if passeM %}
                            {% if refPaiement == "CR" %}
                                {% if credit.refStatut == "ECR"  %}
                                    {% set statutClass = "text-info" %}
                                {% else %}
                                    {% set statutClass = "text-success" %}
                                {% endif %}
                            {% else %}
                                {% if credit.refStatut == "ECR"  %}
                                    {% set statutClass = "text-info" %}
                                {% elseif credit.refStatut == "TRM" %}
                                    {% set statutClass = "text-success" %}
                                {% elseif credit.refStatut == "ANL" %}
                                    {% set statutClass = "text-secondary" %}
                                {% else %}
                                    {% set statutClass = "text-danger" %}
                                {% endif %}
                            {% endif %}
                            <td rowspan="{{ligne + 6}}" class="align-middle {{statutClass}} font-weight-bold text-center">{{credit.statut|upper}}</td>
                            <td rowspan="{{ligne + 6}}" class="align-middle text-center">
                                <div class="d-flex flex-column align-items-center justify-content-center">
                                    {% if refPaiement == "CR" %}
                                        {% if credit.refStatut == "ECR" %}
                                            <a href="{{path('crd_details_credit',{'id':credit.id})}}" class="btn m-1 btn-outline-success btn-sm font-smaller"><i class="fa fa-dollar"></i></a>  
                                        {% else %}
                                            <a href="{{path('crd_details_credit',{'id':credit.id})}}" class="btn m-1 btn-outline-warning btn-sm font-smaller"><i class="fa fa-edit"></i></a>
                                        {% endif %}
                                    {% else %}
                                        {% if credit.refStatut == "ECR"  %}
                                            <a href="{{path('crd_details_credit',{'id':credit.id})}}" class="btn m-1 btn-outline-success btn-sm font-smaller"><i class="fa fa-dollar"></i></a>
                                            <button value="{{ credit.id }}" class="btn m-1 btn-outline-secondary crd_btn_annule_acompte btn-sm font-smaller"><i class="fa fa-times"></i></button>   
                                        {% elseif credit.refStatut == "TRM" %}
                                            <a href="{{path('crd_details_credit',{'id':credit.id})}}" class="btn m-1 btn-outline-warning btn-sm font-smaller"><i class="fa fa-edit"></i></a>
                                            <button class="btn m-1 btn-outline-info btn-sm font-smaller font-weight-bold">DF</button>
                                        {% elseif credit.refStatut == "ANL" %}
                                            <a href="{{path('crd_details_credit',{'id':credit.id})}}" class="btn m-1 btn-outline-purple annule btn-sm font-smaller"><i class="fa fa-edit"></i></a>
                                        {% else %}
                                            <button class="btn m-1 btn-outline-danger btn-sm font-smaller"><i class="fa fa-warning"></i></button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                            {% set passeM = false %}
                        {% endif %}
                    </tr>
                        {% if compteur == ligne %}
                            <tr>
                                <th colspan="5">Total HT</th>
                                <td class="bg-light">{{totalHT}}</td>
                            </tr>
                            <tr>
                                <th colspan="5">Remise</th>
                                <td class="bg-light">{{credit.remiseG}}</td>
                            </tr>
                            <tr>
                                <th colspan="5">Total TVA</th>
                                <td class="bg-light">{{credit.totalTva}}</td>
                            </tr>
                            <tr>
                                <th colspan="5">Total TTC</th>
                                <th class="bg-dark text-white">{{credit.totalTtc}}</th>
                            </tr>
                            <tr>
                                <th colspan="5">Total Payée</th>
                                <th class="bg-success text-white">{{(credit.totalPayee == 0) ? "-" : credit.totalPayee}}</th>
                            </tr>
                            <tr>
                                <th colspan="5">TTC Restant</th>
                                <th class="bg-info text-white">{{credit.totalTtc - credit.totalPayee}}</th>
                            </tr>
                            <tr class="bg-light border_dark">
                                <td colspan="11"></td>
                            </tr>
                            {% set totalGeneral = totalGeneral + credit.totalTtc %}
                        {% endif %}
                        {% if credit.numFnc == premier %}
                            {% set compteur = compteur + 1 %}
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <th colspan="8">Total General</th>
                        <th colspan="3" class="bg-primary text-white">{{totalGeneral}}</th>
                    </tr>
                </tbody>
            </table>
        </div>

        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="button" class="btn btn-sm effacerTout btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button>
                <button type="submit" class="btn btn-sm ml-3 enregistre_create_menu btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}
