 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page d-flex flex-row align-items-center text-black">
        {{titlePage}} N° :&nbsp;<span class="text-white px-2 py-1 rounded badge-warning">{{facture.numFnc}}</span>
            {% if refPaiement == "CR" %}
                {% if facture.refStatut == "ECR"  %}
                    {% set statutClass = "text-info" %}
                {% else %}
                    {% set statutClass = "text-success" %}
                {% endif %}
            {% else %}
                {% if facture.refStatut == "ECR"  %}
                    {% set statutClass = "text-info" %}
                {% elseif facture.refStatut == "TRM" %}
                    {% set statutClass = "text-success" %}
                {% elseif facture.refStatut == "ANL" %}
                    {% set statutClass = "text-secondary" %}
                {% else %}
                    {% set statutClass = "text-danger" %}
                {% endif %}
            {% endif %}
        <span class="ml-auto {{statutClass}} font-weight-bold">{{facture.statut|upper}}</span>
        {% if facture.refStatut == "ATN" %}
            &nbsp;|&nbsp;
            <button value="{{facture.id}}" class="btn btn-outline-info cmd_btn_check btn-sm font-smaller"><i class="fa fa-check"></i>&nbsp;Valider</button>
        {% endif %}
        </h4>
    </div>
    <div class="container-fluid px-3">   
        <div class="row"> 
            <div class="col-md-3 mt-3">
                <h5 class="font-medium" >N° Facture : <span class="text-primary">{{facture.numFact|upper}}</span></h5>
            </div>
            <div class="col-md-3 mt-3">
                <h5 class="font-medium" >Client : <span class="text-primary">{{facture.client|upper}}</span></h5>
            </div>
        </div>
        <div class="table-responsive mt-4">
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Type</th>
                        <th>Désignation</th>
                        <th>Qte/Durée</th>
                        <th>Format</th>
                        <th>Prix Unitaire HT</th>
                        <th>Montant TVA</th>
                        <th>Type Remise</th>
                        <th>Valeur Remise</th>
                        <th>Montant Total</th>
                    </tr>
                </thead>
                <tbody> 
                    {% for factureDetail in factureDetails %}
                        <tr>
                            <td>{{ factureDetail.type|upper }}</td>
                            <td>{{ factureDetail.designation }}</td>
                            <td>{{ factureDetail.quantite }}</td>
                            <td>{{ factureDetail.format }}</td>
                            <td>{{ factureDetail.prix }}</td>
                            <td>{{ factureDetail.tva }}</td>
                            <td>{{ factureDetail.typeRemise }}</td>
                            <td>{{ factureDetail.valRemise }}</td>
                            <td>{{ factureDetail.total }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="8">Total HT</th>
                        <th class="bg-light">{{facture.totalHt}}</th>
                    </tr>
                    <tr>
                        <th colspan="8">Remise</th>
                        <th class="bg-light">{{facture.remise}}</th>
                    </tr>
                    <tr>
                        <th colspan="8">Total TVA</th>
                        <th class="bg-light">{{facture.totalTva}}</th> 
                    </tr>
                    <tr>
                        <th colspan="8">Total TTC</th>
                        <th class="bg-primary text-white">{{facture.totalTtc}}</th>
                    </tr>
                    {% if facture.devise %}
                        <tr>
                            <th colspan="8">Montant en {{facture.deviseCaption}}</th>
                            <th class="bg-light">{{facture.deviseValue}}</th>
                        </tr>
                    {% endif %}
                </tfoot>
            </table>
            <div class="w-100">
                Arrêté la présente facture à la somme de <span id="cmd_somme_lettre" class="font-weight-bold text-uppercase">{{facture.lettre}}</span> Francs Comorien
            </div>
        </div>
        {% if facture.refStatut != "ATN" %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="button" class="btn btn-sm ml-2 btn-info text-white"><i class="fa fa-print"></i>&nbsp;Imprimer</button>
            </div>
            <div class="barre_dashed w-100">
                {% if refPaiement == "AC" and facture.refStatut != "ANL" %} 
                    <form id="formAgdAcompte">
                        <div class="p-3">
                            <h5 class="title_form text-black text-uppercase">Planification de l'acompte sur l'agenda</h5>
                            {% set dateAgdAcp = "" %}
                            {% set objetAgdAcp = "" %}
                            {% if unAgdAcompte is not empty %}
                                {% set dateAgdAcp = unAgdAcompte.date|date('d/m/Y') %}
                                {% set objetAgdAcp = unAgdAcompte.objet|upper %}
                            {% endif %}
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="agd_acp_date" class="font-weight-bold text-uppercase">Fixer une date</label>
                                    <input type="text" name="agd_acp_date" id="agd_acp_date" class="form-control" value="{{dateAgdAcp}}" placeholder=". . .">
                                    <input type="hidden" name="agd_acp_id" value="{{facture.id}}" >
                                </div>
                                <div class="col-md-6">
                                    <label for="agd_acp_objet" class="font-weight-bold text-uppercase">Objet</label>
                                    <input type="text" name="agd_acp_objet" id="agd_acp_objet" value="{{objetAgdAcp}}" oninput="this.value = this.value.toUpperCase();" class="form-control" placeholder=". . .">
                                </div>
                                <div class="col-md-3">
                                    <label for="nom" class="font-weight-bold">&nbsp;</label>
                                    <button type="submit" class="btn btn-sm btn-success btn-block"><i class="fa fa-save"></i>&nbsp; {{ unAgdAcompte is empty ? "Enregistrer" : "Reporter" }} </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="barre_dashed"></div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% if facture.refStatut == "ECR" %}
                        <form id="formPaiementCredit">
                            <h5 class="title_form mt-3 text-black text-uppercase">Enregistrement {{ refPaiement == "CR" ? "Paiement" : "Dépôt"}}</h5>
                            <div class="row mb-2">
                                <div class="col-md-3">
                                    <label for="crd_paiement_date" class="font-weight-bold">Date</label>
                                    <input type="text" name="crd_paiement_date" id="crd_paiement_date" class="form-control crd_paiement_date" placeholder=". . .">
                                </div>
                                <div class="col-md-3">
                                    <label for="crd_paiement_montant" class="font-weight-bold">Montant</label>
                                    <input type="number" name="crd_paiement_montant" id="crd_paiement_montant" class="form-control crd_paiement_montant" placeholder=". . .">
                                    <input type="hidden" name="crd_paiement_id" value="{{facture.id}}">
                                </div>
                                {% if refPaiement == "CR" %}
                                    <div class="col-md-3">
                                        <label for="crd_type" class="font-weight-bold">Type</label>
                                        <select name="crd_type" id="crd_type" class="custom-select custom-select-sm chosen_select">
                                            <option value="">-</option>
                                            <option value="DIRECT">{{ refPaiement == "CR" ? "Paiement"|upper : "Dépot"|upper }}</option>
                                            <option value="ECHEANCE">{{"échéance"|upper}}</option>
                                        </select>
                                    </div>
                                {% else %}
                                    <input type="hidden" name="crd_type" value="DIRECT">
                                {% endif %}
                                <div class="col-md-3">
                                    <label for="nom" class="font-weight-bold">&nbsp;</label>
                                    <button type="submit" class="btn btn-sm btn-perso-one btn-block"><i class="fa fa-save"></i>&nbsp;{{ refPaiement == "CR" ? "Payé" : "Déposé"}}</button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                    <h5 class="title_form mt-3 text-black text-uppercase">Liste des {{ refPaiement == "CR" ? "Paiements" : "Dépôts"}}</h5>
                    <div class="table-responsive {{ refPaiement == "CR" ? "w-100" : "w-75"}}">
                        <table class="table-sm table table-bordered">
                            <thead class="text-uppercase thead-dark">
                                <tr>
                                    <th>Date de {{ refPaiement == "CR" ? "Paiement" : "Dépôt"}}</th>
                                    {% if refPaiement == "CR" %}
                                        <th class="text-center">Type</th>
                                    {% endif %}
                                    <th>Montant {{ refPaiement == "CR" ? "Payé" : "Déposé"}}</th>
                                    {% if refPaiement == "CR" %}
                                        <th></th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                            {% set totalPayee = 0 %}
                                {% for financeDetail in financeDetails %}
                                    <tr>
                                        <td>{{ financeDetail.date|date('d/m/Y') }}</td>
                                        {% if refPaiement == "CR" %}
                                            <td class="align-middle text-center">
                                                <b class="text-uppercase">Paiement</b>
                                            </td>
                                        {% endif %}
                                        <td>{{ financeDetail.montant }}</td>
                                        {% if refPaiement == "CR" %}
                                            <td class="align-middle text-center">
                                                <label for="" class="font-weight-bold text-success text-uppercase">OK</label>
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% set totalPayee = totalPayee + financeDetail.montant %}
                                {% endfor %}
                                {% if refPaiement == "CR" %}
                                    {% for echeance in echeances %}
                                        <tr class="bg-info text-white" >
                                            <td>{{ echeance.date|date('d/m/Y') }}</td>
                                            <td class="align-middle text-center">
                                                <b class="text-uppercase" >Echéance</b>
                                            </td>
                                            <td>{{ echeance.montant }}</td>
                                            <td class="align-middle text-center">
                                                <button value="{{echeance.id}}" class="btn btn-sm agd_btn_valid_check btn-purple font-smaller"><i class="fa fa-check"></i>&nbsp;{{"Payé"|upper}}</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                            <tfoot class="text-uppercase">
                                <tr>
                                    <th {% if refPaiement == "CR" %} colspan="2" {% endif %}>Total Payée</th>
                                    <th colspan="2" class="bg-success text-white">{{ totalPayee == 0 ? "-" : totalPayee }}</th>
                                </tr>
                                <tr>
                                    <th {% if refPaiement == "CR" %} colspan="2" {% endif %}>Total Restant</th>
                                    <th colspan="2" class="bg-primary text-white">{{ facture.totalTtc - totalPayee }}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                        <button type="button" class="btn btn-sm ml-2 btn-info text-white"><i class="fa fa-print"></i>&nbsp;Imprimer</button>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5"> 
                    <label for="nom" class="mt-1 font-weight-bold text-uppercase">à,</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-location"></i></span>
                        </div>
                        <input type="text" class="form-control cmd_lieu" name="cmd_lieu" value="{{ facture.lieu }}" placeholder=". . ." aria-label="Lieu Facture" id="cmd_lieu">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5"> 
                    <label for="nom" class="mt-1 font-weight-bold">Le,</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input type="text" class="form-control cmd_date" name="cmd_date" value="{{ facture.date }}" placeholder=". . ." aria-label="Date Facture" id="cmd_date">
                    </div>
                </div>
            </div>

            {% if with_foot %}
                <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                    <button type="button" class="btn btn-sm ml-2 btn-info text-white"><i class="fa fa-print"></i>&nbsp;Imprimer</button>
                </div>
            {% endif %} 
        {% endif %}
        
        </form>
    </div>
</div>
{% endblock %}


