 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
    <div class="barre_top rounded shadow mb-5">
        <div class="w-100 border-bottom pt-2 px-3">
            <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
        </div>
        <div class="container-fluid px-3 pb-4">
            <div class="row">
                <div class="col-3">
                    <label for="fact_search_credit" class="mt-2 font-weight-bold w-100 text-uppercase">N° Crédit</label>
                    <select name="fact_search_credit" class="custom-select chosen_select custom-select-sm" id="fact_search_credit">
                        <option value="">TOUS</option>
                        {% for finance in finances %}
                            <option value="{{finance.id}}">{{finance.num_credit}} | {{finance.client}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-3">
                    <label for="fact_search_client" class="mt-2 font-weight-bold w-100 text-uppercase">Client</label>
                    <select name="fact_search_client" class="custom-select chosen_select custom-select-sm" id="fact_search_client">
                        <option value="">TOUS</option>
                        {% for client in clients %}
                            <option value="{{client.id}}">{{client.nom|upper}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-3">
                    <label for="fact_search_entrepot" class="mt-2 font-weight-bold w-100 text-uppercase">Entrepôt</label>
                    <select name="fact_search_entrepot" class="custom-select chosen_select custom-select-sm" id="fact_search_entrepot">
                        <option value="">TOUS</option>
                        {% for entrepot in entrepots %}
                            <option value="{{entrepot.id}}">{{entrepot.nom|upper}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="fact_search_mode_paiement" class="font-weight-bold mt-2 text-uppercase">Mode de paiement</label>
                    <select name="fact_search_mode_paiement" class="custom-select chosen_select custom-select-sm" id="fact_search_mode_paiement">
                        <option value="">-</option>
                        {% for paiement in paiements %}
                            {% if paiement.reference != "CR" and paiement.reference != "AC" %}
                                <option value="{{paiement.id}}">{{paiement.nom|upper}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="credit_search_date_suivi" class="mt-2 font-weight-bold text-uppercase">Date</label>
                    <select name="credit_search_date_suivi" class="custom-select chosen_select custom-select-sm" id="credit_search_date_suivi">
                        <option value="" data-critere="">TOUS</option>
                        {% for critereDate in critereDates %}
                            <option value="{{critereDate.id}}" data-critere="{{critereDate.critere}}">{{critereDate.nom|upper}}</option>
                        {% endfor %} 
                    </select>
                </div> 
            </div>
            <div class="row mt-2 elem_date"></div>
            <div class="contentSuiviCredit">
                <div class="table-responsive limit_tbody overflow-auto pt-3 mt-4">
                    <table class="table table-bordered table-hover table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th>N° Crédit</th>
                                <th>Client</th>
                                <th>Entrepot</th>
                                <th>Description</th>
                                <th>Date Paiement/Echéance</th>
                                <th>Mode de Paiement</th>
                                <th>Montant</th>
                                <th class="text-center">Type</th>
                                <th></th>
                            </tr>
                        </thead> 
                        <tbody class="">
                            {% set totalGPayee = 0 %}
                            {% set totalGRestant = 0 %}
                            {% set totalGCredit = 0 %}
                            {% for finance in finances %}
                                <tr>
                                    <td rowspan="{{finance.nbRow + 2 }}" class="align-middle">{{finance.num_credit}}</td>
                                    <td rowspan="{{finance.nbRow + 2 }}" class="align-middle">{{finance.client|upper}}</td>
                                    <td rowspan="{{finance.nbRow + 2 }}" class="align-middle">{{finance.entrepot|upper}}</td>
                                </tr>
                                    {% set isFirst = true %}
                                    {% set totalPayee = 0 %}
                                    {% set totalRestant = 0 %}
                                    {% for detail in finance.details %}
                                            {% set ligneClass = "" %}
                                            {% if detail.refType == "ECH" %}
                                                {% if detail.statut == "SFR" %}
                                                    {% set ligneClass = "bg-danger text-white" %}
                                                {% else %}
                                                    {% set ligneClass = "bg-info text-white" %}
                                                {% endif %}
                                            {% endif %}
                                                <tr class="{{ligneClass }}">
                                                <td class="align-middle">{{detail.description}}</td>
                                                <td class="align-middle">{{detail.date}}</td>
                                                <td class="align-middle">{{detail.paiement|upper}}</td>
                                                <td class="align-middle text-right">{{detail.montant|format_number}}</td>
                                                <td class="align-middle txt-center">{{ detail.type|upper }}</td>
                                                {% if isFirst %}
                                                    <td rowspan="{{finance.nbRow + 2 }}" class="text-center bg-white align-middle">
                                                        <a href="{{path('crd_details_credit',{'id':finance.id})}}" class="btn m-1 btn-outline-warning btn-sm font-smaller"><i class="fa fa-edit"></i></a>
                                                    </td>
                                                    {% set isFirst = false %}
                                                {% endif %}
                                            </tr>
                                            {% if detail.refType == "PAIEMENT" %}
                                                {% set totalPayee = totalPayee + detail.montant %}
                                            {% else %}
                                                {% set totalRestant = totalRestant + detail.montant %}
                                            {% endif %}

                                    {% endfor %}
                                {% set totalCredit = totalPayee + totalRestant %}
                                <tr>
                                    <th colspan="3" class="bg-light">Total Crédit</th>
                                    <th class="bg-dark text-white text-right">{{totalCredit|format_number}}</th>
                                    <th class="bg-dark text-white"></th> 
                                </tr>
                                <tr>
                                    <th colspan="3" class="bg-light">Total Payé</th>
                                    <th class="bg-success text-white text-right">{{totalPayee|format_number}}</th>
                                    <th class="bg-success text-white"></th>
                                </tr>
                                <tr>
                                    <th colspan="3" class="bg-light">Total Restant</th>
                                    <th class="bg-primary text-white text-right">{{totalRestant|format_number}}</th>
                                    <th class="bg-primary text-white"></th>
                                </tr>
                                {% set totalGPayee = totalGPayee + totalPayee %}
                                {% set totalGRestant = totalGRestant + totalRestant %}
                                {% set totalGCredit = totalGCredit + totalCredit %}
                                <tr>
                                    <td class="bg-light" colspan="9"></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <h5 class="title_form text-black text-uppercase mt-4">Récapitulatif</h5>
                <table class="table table-sm table-bordered" style="font-size: 0.95em;">
                    <tr>
                        <th>Total Crédit</th>
                        <th class="bg-dark text-white text-right" style="width: 120px;">{{totalGCredit|format_number}}</th>
                        <th class="bg-dark text-white" style="width: 145px;"></th>
                    </tr>
                    <tr>
                        <th>Total Payé</th>
                        <th class="bg-success text-white text-right" style="width: 120px;">{{totalGPayee|format_number}}</th>
                        <th class="bg-success text-white" style="width: 145px;"></th>
                    </tr>
                    <tr>
                        <th>Total Restant</th>
                        <th class="bg-primary text-white text-right" style="width: 120px;">{{totalGRestant|format_number}}</th>
                        <th class="bg-primary text-white" style="width: 145px;"></th>
                    </tr>
                </table>
            </div>

            {% if with_foot %}
                <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                    <button type="submit" class="btn btn-sm ml-3 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
                </div>
            {% endif %} 
        </div>
    </div>
{% endblock %}