 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
    <div class="barre_top rounded shadow mb-5">
        <div class="w-100 border-bottom pt-2 px-3">
            <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
        </div>
        <div class="container-fluid px-3">
            <div class="row">
                <div class="col-3">
                    <label for="fact_search_client" class="mt-2 font-weight-bold w-100 text-uppercase">Client</label>
                    <select name="fact_search_client" class="custom-select chosen_select custom-select-sm" id="fact_search_client">
                        <option value="">TOUS</option>
                        {# {% for client in clients %}
                            <option value="{{client.id}}">{{client.nom|upper}}</option>
                        {% endfor %} #}
                    </select>
                </div>
                <div class="col-3">
                    <label for="fact_search_client" class="mt-2 font-weight-bold w-100 text-uppercase">Entrepôt</label>
                    <select name="fact_search_client" class="custom-select chosen_select custom-select-sm" id="fact_search_client">
                        <option value="">TOUS</option>
                        {# {% for client in clients %}
                            <option value="{{client.id}}">{{client.nom|upper}}</option>
                        {% endfor %} #}
                    </select>
                </div>
                <div class="col-3">
                    <label for="fact_search_client" class="mt-2 font-weight-bold w-100 text-uppercase">Date</label>
                    <select name="fact_search_client" class="custom-select chosen_select custom-select-sm" id="fact_search_client">
                        <option value="">TOUS</option>
                        {# {% for client in clients %}
                            <option value="{{client.id}}">{{client.nom|upper}}</option>
                        {% endfor %} #}
                    </select>
                </div>
            </div>
            <div class="table-responsive mt-4">
                <table class="table table-bordered table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>N° Crédit</th>
                            <th>Date</th>
                            <th>Client</th>
                            <th>Entrepot</th>
                            <th>Date Paiement/Echéance</th>
                            <th>Montant</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            {% if with_foot %}
                <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                    <button type="submit" class="btn btn-sm ml-3 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
                </div>
            {% endif %} 
        </div>
    </div>
{% endblock %}