<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
		<meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
            <link rel="stylesheet" href="{{asset('tools/bootstrap/css/bootstrap.css')}}">
            <link rel="stylesheet" href="{{asset('tools/personnal/home/css/style.css')}}">
			<link rel="stylesheet" href="{{asset('tools/personnal/sidebar/css/style.css')}}">
			<link rel="stylesheet" href="{{asset('tools/confirm/css/jquery-confirm.css')}}">
			<link rel="stylesheet" href="{{asset('tools/chosen/chosen.css')}}">
			{# <link rel="stylesheet" href="{{asset('tools/chosen/chosen.min.css')}}"> #}
		{% endblock %}
	</head>
	<body version="1.0">
		{% block menu %}
			{# Voir dans le fichier templates/menu/index.html.twig #}
		{% endblock %}
		{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.js"></script>
			<script src="{{asset('tools/personnal/sidebar/js/popper.js')}}"></script>
			<script src="{{asset('tools/bootstrap/js/bootstrap.js')}}"></script>
			<script src="{{asset('tools/personnal/sidebar/js/bootstrap.min.js')}}"></script>
			<script src="{{asset('tools/confirm/js/jquery-confirm.js')}}"></script>
			<script src="{{asset('tools/personnal/sidebar/js/main.js')}}"></script>
			<script src="{{asset('tools/chosen/chosen.jquery.js')}}"></script>
			{# <script src="{{asset('tools/chosen/chosen.jquery.min.js')}}"></script> #}
			<script>
				const routes = {
					jsonPath : "{{asset('files/json/menu/' ~ app.session.get('user').username|lower ~ '.json')}}",
					app_login : "{{path('app_login')}}",
					app_admin : "{{path('app_admin')}}",
					admin_add_societe: "{{path('admin_add_societe')}}",
					admin_saveSociete : "{{path('admin_saveSociete')}}",
					getRandomPass : "{{path('getRandomPass')}}",
					admin_listSociete:"{{path('admin_listSociete')}}",
					menu_attribution: "{{path('menu_attribution')}}",
					admin_save_attribution: "{{path('admin_save_attribution')}}",
					admin_menu_creation: "{{path('admin_menu_creation')}}",
					disp_edit_menu: "{{path('disp_edit_menu')}}",
					admin_validCreation: "{{path('admin_validCreation')}}"
				};
				const files = {
					loading : "{{asset('data/images/loading.svg')}}"
				}	
			</script>
			<script src="{{asset('tools/personnal/js/main.js')}}"></script>
		{% endblock %}

	</body>
</html>
