<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
		<meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
			<link rel="stylesheet" href="{{asset('tools/cdn/fontawesome/css/all.min.css')}}"/>
			<link rel="stylesheet" href="{{asset('tools/bootstrap/css/bootstrap.css')}}">
            <link rel="stylesheet" href="{{asset('tools/personnal/home/css/style.css')}}">
			<link rel="stylesheet" href="{{asset('tools/personnal/sidebar/css/style.css')}}">
			<link rel="stylesheet" href="{{asset('tools/confirm/css/jquery-confirm.css')}}">
			<link rel="stylesheet" href="{{asset('tools/chosen/chosen.css')}}">
			<link rel="stylesheet" href="{{asset('tools/linecontrol/editor.css')}}">
			<link rel="stylesheet" href="{{asset('tools/datePicker/datePicker.css')}}">
			<link rel="stylesheet" href="{{asset('tools/tagsInput/tagsinput.css')}}">
			<link rel="stylesheet" href="{{asset('tools/calendar/zabuto_calendar.css')}}">
			{# <link rel="stylesheet" href="{{asset('tools/chosen/chosen.min.css')}}"> #}
		{% endblock %}
		<script src="{{asset('tools/numToLetter/NumberToLetter.js')}}"></script>
		<script src="{{asset('tools/linecontrol/LineEditor.js')}}"></script>
		<script src="{{asset('tools/personnal/js/CustomImage.js')}}"></script>
		<script src="{{asset('tools/personnal/js/Loading.js')}}"></script>
		<script src="{{asset('tools/personnal/js/AppBase.js')}}"></script>
	</head>
	<body version="1.0">
		{% block menu %}
			{# Voir dans le fichier templates/menu/index.html.twig #}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="{{asset('tools/cdn/js/jquery.js')}}"></script>
			<script src="{{asset('tools/personnal/sidebar/js/popper.js')}}"></script>
			<script src="{{asset('tools/bootstrap/js/bootstrap.js')}}"></script>
			{# <script src="{{asset('tools/personnal/sidebar/js/bootstrap.min.js')}}"></script> #}
			{# <script src="{{asset('tools/cdn/fontawesome/js/all.min.js')}}"></script> #}
			<script src="{{asset('tools/confirm/js/jquery-confirm.js')}}"></script>
			<script src="{{asset('tools/personnal/sidebar/js/main.js')}}"></script>
			<script src="{{asset('tools/chosen/chosen.jquery.js')}}"></script>
			<script src="{{asset('tools/linecontrol/editor.js')}}"></script>
			<script src="{{asset('tools/jqueryQrCode/jquery-qrcode.js')}}"></script>
			<script src="{{asset('tools/datePicker/datePicker.js')}}"></script>
			<script src="{{asset('tools/datePicker/jquery.ui.datepicker-fr.js')}}"></script>
			<script src="{{asset('tools/tagsInput/tagsinput.js')}}"></script>
			<script src="{{asset('tools/calendar/zabuto_calendar.js')}}"></script>
			{# <script src="{{asset('tools/chosen/chosen.jquery.min.js')}}"></script> #}
			<script>
				const routes = {
					jsonPath : "{{asset('files/json/menu/' ~ app.session.get('user').username|lower ~ '.json')}}",
					getRandomPass : "{{path('getRandomPass')}}",
					disp_edit_menu: "{{path('disp_edit_menu')}}",
					restore_menu_corbeille:"{{path('restore_menu_corbeille')}}",
					manager_agence:"{{path('manager_agence')}}",
					app_home:"{{path('app_home')}}",
					app_login : "{{path('app_login')}}",
					app_admin : "{{path('app_admin')}}",
					admin_add_societe: "{{path('admin_add_societe')}}",
					admin_saveSociete : "{{path('admin_saveSociete')}}",
					admin_listSociete:"{{path('admin_listSociete')}}",
					admin_save_attribution: "{{path('admin_save_attribution')}}",
					admin_menu_creation: "{{path('admin_menu_creation')}}",
					admin_validCreation: "{{path('admin_validCreation')}}",
					menu_attribution: "{{path('menu_attribution')}}",
					soc_details:"{{path('soc_details')}}",
					clt_creation: "{{path('clt_creation')}}",
					clt_consultation: "{{path('clt_consultation')}}",
					ftr_creation : "{{path('ftr_creation')}}",
					ftr_consultation : "{{path('ftr_consultation')}}",
					stock_creationproduit:"{{path('stock_creationproduit')}}",
					stock_general:"{{path('stock_general')}}",
					stock_cat_creation:"{{path('stock_cat_creation')}}",
					stock_cat_consultation:"{{path('stock_cat_consultation')}}",
					stock_preferences :"{{path('stock_preferences')}}",
					stock_inventaire :"{{path('stock_inventaire')}}",
					stock_entrepot :"{{path('stock_entrepot')}}",
					stock_fournisseur :"{{path('stock_fournisseur')}}",
					stock_stockentrepot :"{{path('stock_stockentrepot')}}",
					stock_int_libellee :"{{path('stock_int_libellee')}}",
					stock_int_creation :"{{path('stock_int_creation')}}",
					stock_int_stock :"{{path('stock_int_stock')}}",
					stock_int_approvisionnement :"{{path('stock_int_approvisionnement')}}",
					stock_int_sorties :"{{path('stock_int_sorties')}}",
					stock_int_entreesortie :"{{path('stock_int_entreesortie')}}",
					stock_appr_ajouter:"{{path('stock_appr_ajouter')}}",
					stock_appr_liste:"{{path('stock_appr_liste')}}",
					stock_save_categorie:"{{path('stock_save_categorie')}}",
					stock_delete_categorie:"{{path('stock_delete_categorie')}}",
					stock_save_entrepot:"{{path('stock_save_entrepot')}}",
					stock_edit_entrepot:"{{path('stock_edit_entrepot')}}",
					stock_delete_entrepot:"{{path('stock_delete_entrepot')}}",
					stock_search_entrepot:"{{path('stock_search_entrepot')}}",
					stock_save_prefs:"{{path('stock_save_prefs')}}",
					stock_delete_prefs:"{{path('stock_delete_prefs')}}",
					stock_save_creationProduit:"{{path('stock_save_creationProduit')}}",
					stock_save_fournisseur:"{{path('stock_save_fournisseur')}}",
					stock_check_codeProduit:"{{path('stock_check_codeProduit')}}",
					stock_search_stock_general:"{{path('stock_search_stock_general')}}",
					stock_get_produit_et_entrepot:"{{path('stock_get_produit_et_entrepot')}}",
					stock_search_stock_entrepot:"{{path('stock_search_stock_entrepot')}}",
					stock_find_produit_in_entrepot:"{{path('stock_find_produit_in_entrepot')}}",
					stock_get_prix_produitE:"{{path('stock_get_prix_produitE')}}",
					stock_details_variation_prix:"{{path('stock_details_variation_prix')}}",
					stock_save_approvisionnement:"{{path('stock_save_approvisionnement')}}",
					stock_get_produit_prix:"{{path('stock_get_produit_prix')}}",
					stock_get_produit:"{{path('stock_get_produit')}}",
					caisse_activity:"{{path('caisse_activity')}}",
					caisse_save_activites:"{{path('caisse_save_activites')}}",
					caisse_liste_vente:"{{path('caisse_liste_vente')}}",
					param_general:"{{path('param_general')}}",
					param_agence_update:"{{path('param_agence_update')}}",
					param_devise_save:"{{path('param_devise_save')}}",
					param_tva_creation_type:"{{path('param_tva_creation_type')}}",
					param_tva_definir_plage:"{{path('param_tva_definir_plage')}}",
					param_tva_save_type:"{{path('param_tva_save_type')}}",
					param_display_elem_type_tva:"{{path('param_display_elem_type_tva')}}",
					param_search_prd_in_tva_type:"{{path('param_search_prd_in_tva_type')}}",
					param_tva_update_produit:"{{path('param_tva_update_produit')}}",
					cmd_creation:"{{path('cmd_creation')}}",
					cmd_facture_display:"{{path('cmd_facture_display')}}",
					cmd_save_bon_commande:"{{path('cmd_save_bon_commande')}}",
					cmd_bon_commande_consultation:"{{path('cmd_bon_commande_consultation')}}",
					cmd_check_bon_commande:"{{path('cmd_check_bon_commande')}}",
					lvr_livraison:"{{path('lvr_livraison')}}",
					lvr_display_source_creation:"{{path('lvr_display_source_creation')}}",
					lvr_facture_display:"{{path('lvr_facture_display')}}",
					lvr_save_bon_livraison:"{{path('lvr_save_bon_livraison')}}",
					lvr_consultation_livraison:"{{path('lvr_consultation_livraison')}}",
					lvr_check_bon_livraison:"{{path('lvr_check_bon_livraison')}}",
					app_s_a_v:"{{path('app_s_a_v')}}",
					sav_facture_display:"{{path('sav_facture_display')}}",
					sav_creation_motif:"{{path('sav_creation_motif')}}",
					sav_save_motif:"{{path('sav_save_motif')}}",
					sav_update_motif:"{{path('sav_update_motif')}}",
					sav_delete_motif:"{{path('sav_delete_motif')}}",
					sav_save_fact_annulation:"{{path('sav_save_fact_annulation')}}",
					crd_consultation_credit:"{{path('crd_consultation_credit')}}",
					crd_consultation_acompte:"{{path('crd_consultation_acompte')}}",
					crd_paiement_credit_save:"{{path('crd_paiement_credit_save')}}",
					crd_consultation_acompte:"{{path('crd_consultation_acompte')}}",
					crd_acompte_annule:"{{path('crd_acompte_annule')}}",
					crd_acompte_credit_search_items:"{{path('crd_acompte_credit_search_items')}}",
					prest_creation_prestation:"{{ path('prest_creation_prestation') }}",
					prest_consultation_prestation:"{{ path('prest_consultation_prestation') }}",
					prest_service_save:"{{ path('prest_service_save') }}",
					prest_batiment_creation:"{{ path('prest_batiment_creation') }}",
					prest_location_creation:"{{ path('prest_location_creation') }}",
					prest_location_consultation:"{{ path('prest_location_consultation') }}",
					agd_agenda_creation:"{{ path('agd_agenda_creation') }}",
					agd_agenda_consultation:"{{ path('agd_agenda_consultation') }}",
					agd_activites_save:"{{ path('agd_activites_save') }}",
					agd_activites_details_date:"{{ path('agd_activites_details_date') }}",
					agd_commenataire_save:"{{ path('agd_commenataire_save') }}",
					agd_echeance_check:"{{ path('agd_echeance_check') }}",
					agd_acompte_agenda_save:"{{ path('agd_acompte_agenda_save') }}",
					prest_batiment_mesure_save:"{{ path('prest_batiment_mesure_save') }}",
					prest_batiment_element_save:"{{ path('prest_batiment_element_save') }}",
					prest_bat_prix_save:"{{ path('prest_bat_prix_save') }}",
					prest_batiment_enoncee_save:"{{ path('prest_batiment_enoncee_save') }}",
					prest_batiment_enoncee:"{{ path('prest_batiment_enoncee') }}",
					prest_batiment_mesure:"{{ path('prest_batiment_mesure') }}",
					prest_batiment_categorie_save:"{{ path('prest_batiment_categorie_save') }}",
					prest_btp_update_mesure:"{{ path('prest_btp_update_mesure') }}",
					prest_service_prix_save:"{{ path('prest_service_prix_save') }}",
					prest_service_duree_get:"{{ path('prest_service_duree_get') }}",
					prest_get_service_prix:"{{path('prest_get_service_prix')}}",
					ftr_creation_prest_batiment:"{{ path('ftr_creation_prest_batiment') }}",
					ftr_creation_produit:"{{ path('ftr_creation_produit') }}",
					ftr_batiment_categorie_get_opt:"{{ path('ftr_batiment_categorie_get_opt') }}",
					ftr_btm_element_prix_get_opt:"{{ path('ftr_btm_element_prix_get_opt') }}",
					ftr_modele_get:"{{ path('ftr_modele_get') }}",
					ftr_creation_prest_service:"{{ path('ftr_creation_prest_service') }}",
					fact_save_activites:"{{path('fact_save_activites')}}",
					facture_search_items:"{{path('facture_search_items')}}",
				};  

				const files = { 
					loading : "{{asset('data/images/loading.svg')}}",
					search : "{{asset('data/images/search.svg')}}"
				}	
			</script>
			<script src="{{asset('tools/personnal/js/main.js')}}"></script>
		{% endblock %}

	</body>
</html>
