<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
		<meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="{{asset('data/images/logo.ico')}}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{# {{ encore_entry_link_tags('app') }} #}
			<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
			<link rel="stylesheet" href="{{asset('tools/cdn/fontawesome/css/all.min.css')}}"/>
			<link rel="stylesheet" href="{{asset('tools/bootstrap/css/bootstrap.css')}}">
            <link rel="stylesheet" href="{{asset('tools/personnal/home/css/style.css')}}">
			<link rel="stylesheet" href="{{asset('tools/personnal/sidebar/css/style.css')}}">
			<link rel="stylesheet" href="{{asset('tools/confirm/css/jquery-confirm.css')}}">
			<link rel="stylesheet" href="{{asset('tools/chosen/chosen.css')}}">
			<link rel="stylesheet" href="{{asset('tools/linecontrol/editor.css')}}">
			<link rel="stylesheet" href="{{asset('tools/datePicker/datePicker.css')}}">
			<link rel="stylesheet" href="{{asset('tools/tagsInput/tagsinput.css')}}">
			<link rel="stylesheet" href="{{asset('tools/calendar/zabuto_calendar.css')}}">
			<link rel="stylesheet" href="{{asset('tools/lightbox/dist/css/lightbox.css')}}">
			{# <link rel="stylesheet" href="{{asset('tools/chosen/chosen.min.css')}}"> #}
		{% endblock %}
		{# <script src="{{asset('tools/personnal/js/html2pdf.bundle.min.js')}}"></script> #}
		
		<script src="{{asset('tools/numToLetter/NumberToLetter.js')}}"></script>
		<script src="{{asset('tools/linecontrol/LineEditor.js')}}"></script>
		<script src="{{asset('tools/personnal/js/CustomImage.js')}}"></script>
		<script src="{{asset('tools/personnal/js/Loading.js')}}"></script>
		<script src="{{asset('tools/personnal/js/AppBase.js')}}"></script>
		
	</head>
	<body version="1.0">
		<div class="contentResponse" ></div>
		{% block menu %}
			{# Voir dans le fichier templates/menu/index.html.twig #}
		{% endblock %}
		{% block javascripts %}
			{# {{ encore_entry_script_tags('app') }} #}
			<script src="{{asset('tools/cdn/js/jquery.js')}}"></script>
			<script src="{{asset('tools/personnal/sidebar/js/popper.js')}}"></script>
			<script src="{{asset('tools/bootstrap/js/bootstrap.js')}}"></script>
			{# <script src="{{asset('tools/personnal/sidebar/js/bootstrap.min.js')}}"></script> #}
			{# <script src="{{asset('tools/cdn/fontawesome/js/all.min.js')}}"></script> #}
			<script src="{{asset('tools/confirm/js/jquery-confirm.js')}}"></script>
			<script src="{{asset('tools/personnal/sidebar/js/main.js')}}"></script>
			<script src="{{asset('tools/chosen/chosen.jquery.js')}}"></script>
			<script src="{{asset('tools/linecontrol/editor.js')}}"></script>
			<script src="{{asset('tools/jqueryBarCode/jquery-barcode.js')}}"></script>
			<script src="{{asset('tools/jqueryQrCode/jquery-qrcode.js')}}"></script>
			<script src="{{asset('tools/datePicker/datePicker.js')}}"></script>
			<script src="{{asset('tools/datePicker/jquery.ui.datepicker-fr.js')}}"></script>
			<script src="{{asset('tools/tagsInput/tagsinput.js')}}"></script>
			<script src="{{asset('tools/calendar/zabuto_calendar.js')}}"></script>
			{# <script src="{{asset('tools/personnal/js/html2canvas.min.js')}}"></script> #}
			<script src="{{asset('tools/jsESCPOS/cptable.js')}}"></script>
    		<script src="{{asset('tools/jsESCPOS/cputils.js')}}"></script>
			<script src="{{asset('tools/jsESCPOS/JSESCPOSBuilder.js')}}"></script>
			<script src="{{asset('tools/jsPrintManager/JSPrintManager.js')}}"></script>
			<script src="{{asset('tools/jsESCPOS/zip.js')}}"></script>
			<script src="{{asset('tools/jsESCPOS/zip-ext.js')}}"></script>
			<script src="{{asset('tools/jsESCPOS/deflate.js')}}"></script>
			<script src="{{asset('tools/qzTray/qz-tray.js')}}"></script>
			<script src="{{asset('tools/pTouch/constants.js')}}"></script>
			<script src="{{asset('tools/pTouch/charset-brother.js')}}"></script>
			<script src="{{asset('tools/pTouch/ptouch.js')}}"></script>
			<script src="{{asset('tools/lightbox/dist/js/lightbox.js')}}"></script>
			<script src="{{asset('tools/easyToolTip/easyTooltip.js')}}"></script>
			<script src="{{asset('tools/htmlToCanvas/html2canvas.min.js')}}"></script>
			<script src="{{asset('tools/htmlToCanvas/canvas2image.js')}}"></script>
			{# <script src="{{asset('tools/chosen/chosen.jquery.min.js')}}"></script> #}
			<script src="{{asset('tools/personnal/js/jspdf.min.js')}}"></script>
			<script type="application/javascript" src="{{asset('tools/resizeImage/jquery.resizeImg.js')}}"></script>
			<script type="application/javascript" src="{{asset('tools/resizeImage/mobileBUGFix.mini.js')}}"></script>
			<script>
				const routes = {
					jsonPath : "{{asset('files/json/menu/' ~ app.session.get('user').username|lower ~ '.json')}}",
					getRandomPass : "{{path('getRandomPass')}}",
					disp_edit_menu: "{{path('disp_edit_menu')}}",
					restore_menu_corbeille:"{{path('restore_menu_corbeille')}}",
					manager_agence:"{{path('manager_agence')}}",
					app_home:"{{path('app_home')}}",
					app_login : "{{path('app_login')}}",
					app_admin : "{{path('app_admin')}}",
					admin_add_societe: "{{path('admin_add_societe')}}",
					admin_saveSociete : "{{path('admin_saveSociete')}}",
					admin_listSociete:"{{path('admin_listSociete')}}",
					admin_save_attribution: "{{path('admin_save_attribution')}}",
					admin_menu_creation: "{{path('admin_menu_creation')}}",
					admin_validCreation: "{{path('admin_validCreation')}}",
					menu_attribution: "{{path('menu_attribution')}}",
					soc_details:"{{path('soc_details')}}",
					clt_creation: "{{path('clt_creation')}}",
					clt_consultation: "{{path('clt_consultation')}}",
					ftr_creation : "{{path('ftr_creation')}}",
					ftr_consultation : "{{path('ftr_consultation')}}",
					stock_creationproduit:"{{path('stock_creationproduit')}}",
					stock_general:"{{path('stock_general')}}",
					stock_cat_creation:"{{path('stock_cat_creation')}}",
					stock_cat_consultation:"{{path('stock_cat_consultation')}}",
					stock_preferences :"{{path('stock_preferences')}}",
					stock_inventaire :"{{path('stock_inventaire')}}",
					stock_entrepot :"{{path('stock_entrepot')}}",
					stock_fournisseur :"{{path('stock_fournisseur')}}",
					stock_stockentrepot :"{{path('stock_stockentrepot')}}",
					stock_int_libellee :"{{path('stock_int_libellee')}}",
					stock_int_creation :"{{path('stock_int_creation')}}",
					stock_int_stock :"{{path('stock_int_stock')}}",
					stock_int_approvisionnement :"{{path('stock_int_approvisionnement')}}",
					stock_int_sorties :"{{path('stock_int_sorties')}}",
					stock_int_entreesortie :"{{path('stock_int_entreesortie')}}",
					stock_appr_ajouter:"{{path('stock_appr_ajouter')}}",
					stock_appr_liste:"{{path('stock_appr_liste')}}",
					stock_save_categorie:"{{path('stock_save_categorie')}}",
					stock_delete_categorie:"{{path('stock_delete_categorie')}}",
					stock_save_entrepot:"{{path('stock_save_entrepot')}}",
					stock_edit_entrepot:"{{path('stock_edit_entrepot')}}",
					stock_delete_entrepot:"{{path('stock_delete_entrepot')}}",
					stock_search_entrepot:"{{path('stock_search_entrepot')}}",
					stock_save_prefs:"{{path('stock_save_prefs')}}",
					stock_delete_prefs:"{{path('stock_delete_prefs')}}",
					stock_save_creationProduit:"{{path('stock_save_creationProduit')}}",
					stock_save_fournisseur:"{{path('stock_save_fournisseur')}}",
					stock_check_codeProduit:"{{path('stock_check_codeProduit')}}",
					stock_search_stock_general:"{{path('stock_search_stock_general')}}",
					stock_get_produit_et_entrepot:"{{path('stock_get_produit_et_entrepot')}}",
					stock_search_stock_entrepot:"{{path('stock_search_stock_entrepot')}}",
					stock_find_produit_in_entrepot:"{{path('stock_find_produit_in_entrepot')}}",
					stock_get_prix_produitE:"{{path('stock_get_prix_produitE')}}",
					stock_details_variation_prix:"{{path('stock_details_variation_prix')}}",
					stock_save_approvisionnement:"{{path('stock_save_approvisionnement')}}",
					stock_get_produit_prix:"{{path('stock_get_produit_prix')}}",
					stock_get_produit:"{{path('stock_get_produit')}}",
					caisse_activity:"{{path('caisse_activity')}}",
					caisse_save_activites:"{{path('caisse_save_activites')}}",
					caisse_liste_vente:"{{path('caisse_liste_vente')}}",
					param_general:"{{path('param_general')}}",
					param_agence_update:"{{path('param_agence_update')}}",
					param_devise_save:"{{path('param_devise_save')}}",
					param_tva_creation_type:"{{path('param_tva_creation_type')}}",
					param_tva_definir_plage:"{{path('param_tva_definir_plage')}}",
					param_tva_save_type:"{{path('param_tva_save_type')}}",
					param_display_elem_type_tva:"{{path('param_display_elem_type_tva')}}",
					param_search_prd_in_tva_type:"{{path('param_search_prd_in_tva_type')}}",
					param_tva_update_produit:"{{path('param_tva_update_produit')}}",
					cmd_creation:"{{path('cmd_creation')}}",
					cmd_facture_display:"{{path('cmd_facture_display')}}",
					cmd_save_bon_commande:"{{path('cmd_save_bon_commande')}}",
					cmd_bon_commande_consultation:"{{path('cmd_bon_commande_consultation')}}",
					cmd_check_bon_commande:"{{path('cmd_check_bon_commande')}}",
					lvr_livraison:"{{path('lvr_livraison')}}",
					lvr_display_source_creation:"{{path('lvr_display_source_creation')}}",
					lvr_facture_display:"{{path('lvr_facture_display')}}",
					lvr_save_bon_livraison:"{{path('lvr_save_bon_livraison')}}",
					lvr_consultation_livraison:"{{path('lvr_consultation_livraison')}}",
					lvr_check_bon_livraison:"{{path('lvr_check_bon_livraison')}}",
					app_s_a_v:"{{path('app_s_a_v')}}",
					sav_facture_display:"{{path('sav_facture_display')}}",
					sav_creation_motif:"{{path('sav_creation_motif')}}",
					sav_save_motif:"{{path('sav_save_motif')}}",
					sav_update_motif:"{{path('sav_update_motif')}}",
					sav_delete_motif:"{{path('sav_delete_motif')}}",
					sav_save_fact_annulation:"{{path('sav_save_fact_annulation')}}",
					crd_consultation_credit:"{{path('crd_consultation_credit')}}",
					crd_consultation_acompte:"{{path('crd_consultation_acompte')}}",
					crd_paiement_credit_save:"{{path('crd_paiement_credit_save')}}",
					crd_consultation_acompte:"{{path('crd_consultation_acompte')}}",
					crd_acompte_annule:"{{path('crd_acompte_annule')}}",
					crd_acompte_credit_search_items:"{{path('crd_acompte_credit_search_items')}}",
					prest_creation_prestation:"{{ path('prest_creation_prestation') }}",
					prest_consultation_prestation:"{{ path('prest_consultation_prestation') }}",
					prest_service_save:"{{ path('prest_service_save') }}",
					prest_batiment_creation:"{{ path('prest_batiment_creation') }}",
					agd_agenda_creation:"{{ path('agd_agenda_creation') }}",
					agd_agenda_consultation:"{{ path('agd_agenda_consultation') }}",
					agd_activites_save:"{{ path('agd_activites_save') }}",
					agd_activites_details_date:"{{ path('agd_activites_details_date') }}",
					agd_commenataire_save:"{{ path('agd_commenataire_save') }}",
					agd_echeance_check:"{{ path('agd_echeance_check') }}",
					agd_acompte_agenda_save:"{{ path('agd_acompte_agenda_save') }}",
					prest_batiment_mesure_save:"{{ path('prest_batiment_mesure_save') }}",
					prest_batiment_element_save:"{{ path('prest_batiment_element_save') }}",
					prest_bat_prix_save:"{{ path('prest_bat_prix_save') }}",
					prest_batiment_enoncee_save:"{{ path('prest_batiment_enoncee_save') }}",
					prest_batiment_enoncee:"{{ path('prest_batiment_enoncee') }}",
					prest_batiment_mesure:"{{ path('prest_batiment_mesure') }}",
					prest_batiment_categorie_save:"{{ path('prest_batiment_categorie_save') }}",
					prest_btp_update_mesure:"{{ path('prest_btp_update_mesure') }}",
					prest_service_prix_save:"{{ path('prest_service_prix_save') }}",
					prest_service_duree_get:"{{ path('prest_service_duree_get') }}",
					prest_get_service_prix:"{{path('prest_get_service_prix')}}",
					ftr_creation_prest_batiment:"{{ path('ftr_creation_prest_batiment') }}",
					ftr_creation_produit:"{{ path('ftr_creation_produit') }}",
					ftr_batiment_categorie_get_opt:"{{ path('ftr_batiment_categorie_get_opt') }}",
					ftr_btm_element_prix_get_opt:"{{ path('ftr_btm_element_prix_get_opt') }}",
					ftr_modele_get:"{{ path('ftr_modele_get') }}",
					ftr_creation_prest_service:"{{ path('ftr_creation_prest_service') }}",
					fact_save_activites:"{{path('fact_save_activites')}}",
					facture_search_items:"{{path('facture_search_items')}}",
					prest_location_bailleur:"{{path('prest_location_bailleur')}}",
					prest_location_contrat:"{{path('prest_location_contrat')}}",
					prest_location_bailleur_save:"{{path('prest_location_bailleur_save')}}",
					prest_location_bail_save:"{{path('prest_location_bail_save')}}",
					prest_location_bailleur_get:"{{path('prest_location_bailleur_get')}}",
					prest_new_location_bailleur:"{{path('prest_new_location_bailleur')}}",
					prest_existing_location_bailleur:"{{path('prest_existing_location_bailleur')}}",
					prest_new_location_bail:"{{path('prest_new_location_bail')}}",
					prest_existing_location_bail:"{{path('prest_existing_location_bail')}}",
					prest_location_bail_get:"{{path('prest_location_bail_get')}}",
					prest_location_contrat_save:"{{path('prest_location_contrat_save')}}",
					prest_location_contrat_liste:"{{path('prest_location_contrat_liste')}}",
					prest_new_location_locataire:"{{path('prest_new_location_locataire')}}",
					prest_existing_locataire:"{{path('prest_existing_locataire')}}",
					prest_location_locataire_get:"{{path('prest_location_locataire_get')}}",
					prest_get_cycle_rules:"{{path('prest_get_cycle_rules')}}",
					fact_creation_prest_location:"{{path('fact_creation_prest_location')}}",
					fact_prest_loctr_get_contrat:"{{path('fact_prest_loctr_get_contrat')}}",
					fact_prest_location_save:"{{path('fact_prest_location_save')}}",
					prest_location_liste_loyer:"{{path('prest_location_liste_loyer')}}",
					prest_save_caution_location:"{{path('prest_save_caution_location')}}",
					prest_location_edit_contrat_valid:"{{path('prest_location_edit_contrat_valid')}}",
					prest_location_contrat_delete:"{{path('prest_location_contrat_delete')}}",
					prest_location_contrat_annule:"{{path('prest_location_contrat_annule')}}",
					prest_location_contrat_active:"{{path('prest_location_contrat_active')}}",
					prest_location_contrat_renouvellement:"{{path('prest_location_contrat_renouvellement')}}",
					compta_banque_etablissement:"{{path('compta_banque_etablissement')}}",
					compta_banque_compte_bancaire:"{{path('compta_banque_compte_bancaire')}}",
					compta_banque_operation_bancaire:"{{path('compta_banque_operation_bancaire')}}",
					compta_banque_mouvement_compte:"{{path('compta_banque_mouvement_compte')}}",
					compta_banque_etablissement_save:"{{path('compta_banque_etablissement_save')}}",
					compta_banque_compte_bancaire_save:"{{path('compta_banque_compte_bancaire_save')}}",
					compta_banque_operation_save:"{{path('compta_banque_operation_save')}}",
					compta_banque_compte_bancaire_get:"{{path('compta_banque_compte_bancaire_get')}}",
					compta_banque_compte_solde_get:"{{path('compta_banque_compte_solde_get')}}",
					compta_achat_bon_commande_creation:"{{path('compta_achat_bon_commande_creation')}}",
					compta_achat_bon_commande_liste:"{{path('compta_achat_bon_commande_liste')}}",
					achat_marchandise_operation:"{{path('achat_marchandise_operation')}}",
					achat_credit_operation:"{{path('achat_credit_operation')}}",
					achat_new_marchandise:"{{path('achat_new_marchandise')}}",
					achat_existing_marchandise:"{{path('achat_existing_marchandise')}}",
					achat_marchandise_prix_get:"{{path('achat_marchandise_prix_get')}}",
					achat_marchandise_creation:"{{path('achat_marchandise_creation')}}",
					achat_bon_commande_save:"{{path('achat_bon_commande_save')}}",
					stock_generate_barcode:"{{path('stock_generate_barcode')}}",
					stock_code_to_scan_generer:"{{path('stock_code_to_scan_generer')}}",
					stock_code_to_scan_nouveau:"{{path('stock_code_to_scan_nouveau')}}",
					prest_location_paiement_search:"{{path('prest_location_paiement_search')}}",
					prest_location_contrat_search_items:"{{path('prest_location_contrat_search_items')}}",
					prest_location_commission_search_items:"{{path('prest_location_commission_search_items')}}",
					stock_get_new_type:"{{path('stock_get_new_type')}}",
					stock_get_existing_type:"{{path('stock_get_existing_type')}}",
					stock_update_produit:"{{path('stock_update_produit')}}",
					stock_get_new_designation:"{{path('stock_get_new_designation')}}",
					stock_get_existing_designation:"{{path('stock_get_existing_designation')}}",
					stock_variation_produit_save:"{{path('stock_variation_produit_save')}}",
					stock_update_variation_prix:"{{path('stock_update_variation_prix')}}",
					stock_get_details_variation_prix:"{{path('stock_get_details_variation_prix')}}",
					stock_display_content_stock:"{{path('stock_display_content_stock')}}",
					stock_interne_save_materiel:"{{path('stock_interne_save_materiel')}}",
					stock_interne_get_data_libelle:"{{path('stock_interne_get_data_libelle')}}",
					stock_interne_save_mouvement:"{{path('stock_interne_save_mouvement')}}",
					fact_list_prest_location_get:"{{path('fact_list_prest_location_get')}}",
					sav_contenu_annulation_get:"{{path('sav_contenu_annulation_get')}}",
					sav_caisse_display:"{{path('sav_caisse_display')}}",
					achat_marchandise_supprime:"{{path('achat_marchandise_supprime')}}",
					prest_location_commission_versement:"{{path('prest_location_commission_versement')}}",
					achat_paiement_credit_save:"{{path('achat_paiement_credit_save')}}",
					achat_validation_total_save:"{{path('achat_validation_total_save')}}",
					achat_validation_credit_save:"{{path('achat_validation_credit_save')}}",
					compta_cheque_enregistrement:"{{path('compta_cheque_enregistrement')}}",
					compta_cheque_consultation:"{{path('compta_cheque_consultation')}}",
					compta_depense_declaration:"{{path('compta_depense_declaration')}}",
					compta_journal_caisse_consultation:"{{path('compta_journal_caisse_consultation')}}",
					compta_depense_consultation:"{{path('compta_depense_consultation')}}",
					compta_declaration_depense_save:"{{path('compta_declaration_depense_save')}}",
					compta_libelle_depense_save:"{{path('compta_libelle_depense_save')}}",
					compta_dep_content_service_get:"{{path('compta_dep_content_service_get')}}",
					compta_dep_content_libelle_get:"{{path('compta_dep_content_libelle_get')}}",
					compta_depense_search:"{{path('compta_depense_search')}}",
					compta_journal_search:"{{path('compta_journal_search')}}",
					compta_cheque_save:"{{path('compta_cheque_save')}}",
					compta_cheque_validation:"{{path('compta_cheque_validation')}}",
					compta_cheque_search:"{{path('compta_cheque_search')}}",
					compta_recette_general:"{{path('compta_recette_general')}}",
					compta_recette_vente:"{{path('compta_recette_vente')}}",
					compta_recette_prestation:"{{path('compta_recette_prestation')}}",
					compta_recette_search:"{{path('compta_recette_search')}}",
					clt_client_information_get:"{{path('clt_client_information_get')}}",
					clt_client_information_save:"{{path('clt_client_information_save')}}",
					param_modele_pdf_creation:"{{path('param_modele_pdf_creation')}}",
					params_information_societe_get:"{{path('params_information_societe_get')}}",
					param_modele_pdf_save:"{{path('param_modele_pdf_save')}}",
					param_modele_pdf_consultation:"{{path('param_modele_pdf_consultation')}}",
					param_service_element_delete:"{{path('param_service_element_delete')}}",
					param_service_tarif_delete:"{{path('param_service_tarif_delete')}}",
					param_service_tarif_update:"{{path('param_service_tarif_update')}}",
					params_service_element_update:"{{path('params_service_element_update')}}",
					param_location_bailleur_delete:"{{path('param_location_bailleur_delete')}}",
					stock_general_produit_delete:"{{path('stock_general_produit_delete')}}",
					ftr_client_information_get:"{{path('ftr_client_information_get')}}",
					compta_banque_update:"{{path('compta_banque_update')}}",
					compta_banque_delete:"{{path('compta_banque_delete')}}",
					stock_delete_fournisseur:"{{path('stock_delete_fournisseur')}}",
					stock_get_modif_fournisseur:"{{path('stock_get_modif_fournisseur')}}",
					stock_update_fournisseur:"{{path('stock_update_fournisseur')}}",
					compta_banque_compte_modif_get:"{{path('compta_banque_compte_modif_get')}}",
					compta_banque_compte_bancaire_update:"{{path('compta_banque_compte_bancaire_update')}}",
					compta_banque_compte_bancaire_delete:"{{path('compta_banque_compte_bancaire_delete')}}",
					achat_bon_commande_addition_save:"{{path('achat_bon_commande_addition_save')}}",
					achat_bon_marchandise_item_supprime:"{{path('achat_bon_marchandise_item_supprime')}}",
					achat_get_modif_detail_bon:"{{path('achat_get_modif_detail_bon')}}",
					achat_update_detail_bon:"{{path('achat_update_detail_bon')}}",
					caisse_vente_search:"{{path('caisse_vente_search')}}",
					param_modele_pdf_get:"{{path('param_modele_pdf_get')}}",
					compta_mouvement_compte_search:"{{path('compta_mouvement_compte_search')}}",
					fact_facture_detail_imprimer:"{{path('fact_facture_detail_imprimer')}}",
					params_contenu_modele_pdf_get:"{{path('params_contenu_modele_pdf_get')}}",
					stock_deplace_produit_preference:"{{path('stock_deplace_produit_preference')}}",
				};  

				const files = { 
					loading : "{{asset('data/images/loading.svg')}}",
					search : "{{asset('data/images/search.svg')}}",
					imageDefault: "{{asset('data/images/default.jpg')}}",
				}	
			</script>
			
			<script src="{{asset('tools/personnal/js/main.js')}}"></script>
		{% endblock %}
		
	</body>
</html>
