 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <h5 class="title_form text-black text-uppercase">Information société</h5>

        <label for="nom" class="mt-2 font-weight-bold">Nom</label>
        <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">

        <select name="prod_categorie" class="custom-select chosen_select custom-select-sm" id="prod_categorie">
            <option value="">-</option>
            {% for categorie in categories %}
                <option value="{{categorie.id}}" >{{categorie.nom|upper}}</option>
            {% endfor %} 
        </select>

        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="submit" class="btn btn-sm ml-3 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}


