 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <div class="barre_dashed w-100"></div>
        <div class="row pt-2 mt-2 ">
            <div class="col-md-8 border-right px-4 ">
                <div class="table-responsive">
                    <table class="table  table-sm table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Produit</th>
                                <th>Code Produit</th>
                                <th>Qte</th>
                                <th>Prix Unitaire</th>
                                <th>Montant Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td class="text-center"><button class="btn btn-sm font-smaller btn-outline-danger"><i class="fa fa-times"></i></button></td>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4" class="text-uppercase">Total</th>
                                <th colspan="2" class="bg-light"></th>
                            </tr>
                            <tr>
                                <th colspan="4" class="text-uppercase align-middle">Montant reçu</th>
                                <th colspan="2"class="bg-light align-middle">
                                    <input type="number" name="nom" id="nom" class="form-control" placeholder=". . .">
                                </th>
                            </tr>
                            <tr>
                                <th colspan="4" class="text-uppercase">Montant restant</th>
                                <th colspan="2" class="bg-light"></th>
                            </tr>
                            <tr>
                                <th colspan="4" class="text-uppercase">Total payée</th>
                                <th colspan="2" class="bg-light"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                
            </div>
            <div class="col-md-4 px-4">
                <input type="text" name="nom" id="nom" class="form-control" placeholder="Rechercher un produit">
                <div class="row mt-3">
                    <div class="col-md-7">
                        <input type="text" name="nom" id="nom" class="form-control" placeholder="Prix">
                    </div>
                    <div class="col-md-5">
                        <input type="number" name="nom" id="nom" class="form-control" placeholder="Quantité">
                    </div>
                </div>
                <div class="w-100 text-right mt-2">
                    <button class="btn btn-sm btn-block btn-success font-smaller"><i class="fa fa-plus"></i>&nbsp;Ajouter</button>
                </div>

                <div class="w-100 mt-3 text-center pt-3 barre_dashed">
                    <button class="btn caisse_perso_btn btn-outline-secondary">1</button>
                    <button class="btn ml-2 caisse_perso_btn btn-outline-secondary">2</button>
                    <button class="btn ml-2 caisse_perso_btn btn-outline-secondary">3</button><br>
                    <button class="btn mt-2 caisse_perso_btn btn-outline-secondary">4</button>
                    <button class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">5</button>
                    <button class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">6</button><br>
                    <button class="btn mt-2 caisse_perso_btn btn-outline-secondary">7</button>
                    <button class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">8</button>
                    <button class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">9</button><br>
                    <button class="btn mt-2 caisse_perso_btn btn-outline-secondary">.</button>
                    <button class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">0</button>
                    <button class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">CE</button>
                </div>
            </div>
        </div>
        {# <h5 class="title_form text-black text-uppercase">Information société</h5> #}
          

        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                {# <button type="button" class="btn btn-sm effacerTout btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button> #}
                <button type="submit" class="btn btn-sm btn-secondary"><i class="fa fa-times"></i>&nbsp;Annulé</button>
                <button type="submit" class="btn btn-sm ml-3 btn-purple px-3"><i class="fa fa-check"></i>&nbsp;Payé</button>
                <button type="submit" class="btn btn-sm ml-3 btn-primary"><i class="fa fa-print"></i>&nbsp;Imprimer</button>
                <button type="submit" class="btn btn-sm ml-3 enregistre_create_menu btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}


