 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3 pb-4">
        
        {% if with_foot %}
            <div class="foot_action p-3 text-right w-100 barre_dashed">
                <button type="button" onclick="location.reload()" class="btn btn-sm btn-secondary"><i class="fa fa-times"></i>&nbsp;Annulé</button>
                <button type="button" class="btn btn-sm ml-3 btn_submit_caisse btn-purple px-3"><i class="fa fa-check"></i>&nbsp;Payé</button>
            </div>
        {% endif %} 
        <div class="barre_dashed w-100"></div>
        <div class="p-2 {{ entrepots|length == 1 ? "d-none" : "" }}">
            <div class="row">
                <div class="col-md-3" >
                    <label for="caisse_search_entrepot" class="font-weight-bold">Entrepot</label>
                    <select class="custom-select custom-select-sm chosen_select" name="caisse_search_entrepot" id="caisse_search_entrepot" >
                        {% if entrepots|length > 1 %}
                            <option value="">-</option>
                            {% for entrepot in entrepots %}
                                <option value="{{entrepot.id}}" >{{entrepot.nom}}</option>
                            {% endfor %}
                        {% else %}
                            {% for entrepot in entrepots %}
                                <option value="{{entrepot.id}}" selected="true" >{{entrepot.nom}}</option>
                            {% endfor %}
                        {% endif %}
                    </select> 
                </div>
            </div>
        </div>
        <div class="row pt-2 mt-2 ">
            <div class="col-md-9 border-right px-4 ">
                <form id="formCaisse">
                    <div class="table-responsive">
                        <table class="table  table-sm table-bordered">
                            <thead class="thead-light">
                                <tr class="text-uppercase">
                                    <th>Produit</th>
                                    <th class="w-15">Code Produit</th>
                                    <th class="w-12">P.U.</th>
                                    <th class="w-12">Qte</th>
                                    <th class="w-12">Tva</th>
                                    <th class="w-15">Montant Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="elem_caisse">
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="5" class="text-uppercase">Total HT</th>
                                    <th colspan="1" class="bg-light">
                                        <span class="cs_total_general"></span>
                                        <input type="hidden" class="csenr_total_general" name="csenr_total_general">
                                    </th>
                                    <td class="bg-light"></td>
                                </tr>
                                <tr><td colspan="7" class="bg-light"></td></tr>
                                <tr>
                                    <th colspan="5" class="text-uppercase align-middle">Remise</th>
                                    <th colspan="1"class="bg-light align-middle">
                                        <select name="cs_mtn_type_remise" class="custom-select chosen_select cs_mtn_type_remise custom-select-sm" id="cs_mtn_type_remise">
                                            <option value="" >-</option>
                                            {% for margeType in margeTypes %}
                                                <option value="{{margeType.id}}">{{margeType.notation|upper}}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="number" name="cs_mtn_remise" id="cs_mtn_remise" class="form-control mt-2 cs_mtn_remise" placeholder=". . .">
                                    </th>
                                    <td class="bg-light"></td>
                                </tr>
                                <tr><td colspan="7" class="bg-light"></td></tr>
                                <tr>
                                    <th colspan="5" class="text-uppercase align-middle">Montant reçu</th>
                                    <th colspan="1"class="bg-light align-middle">
                                        <input type="number" name="cs_mtn_recu" id="cs_mtn_recu" class="form-control cs_mtn_recu" placeholder=". . .">
                                    </th>
                                    <td class="bg-light"></td>
                                </tr>
                                <tr><td colspan="7" class="bg-light"></td></tr>
                                <tr>
                                    <th colspan="5" class="text-uppercase">Montant à rembourser</th>
                                    <th colspan="1" class="bg-light"><span class="cs_mtn_rembourse"></span></th>
                                    <td class="bg-light"></td>
                                </tr>
                                <tr><td colspan="7" class="bg-light"></td></tr>
                                <tr>
                                    <th colspan="5" class="text-uppercase">Total payée</th>
                                    <th colspan="1" class="bg-light text-warning"><span class="cs_total_pyee"></span></th>
                                    <td class="bg-light"></td>
                                </tr>
                                <tr><td colspan="7" class="bg-light"></td></tr>
                                <tr>
                                    <th colspan="5" class="text-uppercase">Total TVA</th>
                                    <th colspan="1" class="bg-light">
                                        <span class="cs_mtn_tva"></span>
                                        <input type="hidden" class="csenr_total_tva" name="csenr_total_tva">
                                    </th>
                                    <td class="bg-light"></td>
                                </tr> 
                                <tr><td colspan="7" class="bg-light"></td></tr>
                                <tr>
                                    <th colspan="5" class="text-uppercase">Total TTC</th>
                                    <th colspan="1" class="bg-light text-primary"><span class="cs_mtn_ttc"></span></th>
                                    <td class="bg-light"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-7"></div>
                        <div class="col-md-5"> 
                            <label for="nom" class="mt-1 font-weight-bold">Vente le,</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                                </div>
                                <input type="text" class="form-control csenr_date_caisse" value="{{ 'now'|date('d/m/Y') }}" id="csenr_date_caisse" name="csenr_date_caisse" placeholder=". . ." aria-label="dateCaisse" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </form>
            </div> 
            <div class="col-md-3 px-2 posDepart">
                <img src="{{asset('data/images/default.jpg')}}" alt="-" class="img img-thumbnail imageHover" style="display: none;">
                <select name="caisse_search_produit" class="custom-select chosen_select caisse_search_produit custom-select-sm" id="caisse_search_produit">
                    <option value=""></option>
                    {% for stockGeneral in stockGenerales %} 
                        {% set idProduit = indiceEntrepot ? stockGeneral.idP : stockGeneral.id %}
                        {% set nomProduit = stockGeneral.codeProduit ~ " | " ~ stockGeneral.nomType|upper ~ " | " ~ stockGeneral.nom|upper ~ " | stock : " ~ stockGeneral.stock %}
                        {% if indiceEntrepot %}
                            {% set imageP = stockGeneral.images == "-" ? asset('data/images/default.jpg') : stockGeneral.images %}
                        {% else %}
                            {% set imageP = stockGeneral.images is empty ? asset('data/images/default.jpg') : stockGeneral.images %}
                        {% endif %}
                        <option value="{{idProduit}}" data-stock="{{stockGeneral.stock}}" data-code="{{stockGeneral.codeProduit}}" data-images="{{imageP}}">{{nomProduit}}</option>
                    {% endfor %}
                </select>
                {# <input type="text" name="caisse_search_produit" id="caisse_search_produit" class="form-control caisse_search_produit" placeholder="Rechercher un produit"> #}
                <div class="my-3 w-100">
                    <select name="caisse_search_prix" class="custom-select chosen_select caisse_search_prix custom-select-sm" id="caisse_search_prix">  
                        <option value="" selected>-</option>
                    </select>
                </div>
                <div class="row mt-3 d-none">
                    <div class="col-md-6"> 
                        <input type="number" name="caisse_search_quantite" id="caisse_search_quantite" class="form-control caisse_search_quantite" placeholder="Quantité">
                        <input type="text" name="caisse_search_image" id="caisse_search_image" >
                    </div>
                    <div class="col-md-6">
                        <input type="number" name="caisse_search_tva" id="caisse_search_tva" class="form-control caisse_search_tva" placeholder="Tva">
                    </div>
                </div>
                <div class="w-100 text-right mt-2 d-none">
                    <button type="button" class="btn btn-sm btn-block btn-success caisse_ajout font-smaller"><i class="fa fa-plus"></i>&nbsp;Ajouter</button>
                </div>

                <div class="w-100 mt-3 text-center pt-3 barre_dashed">
                    <button type="button" class="btn caisse_perso_btn btn-outline-secondary">1</button>
                    <button type="button" class="btn ml-2 caisse_perso_btn btn-outline-secondary">2</button>
                    <button type="button" class="btn ml-2 caisse_perso_btn btn-outline-secondary">3</button><br>
                    <button type="button" class="btn mt-2 caisse_perso_btn btn-outline-secondary">4</button>
                    <button type="button" class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">5</button>
                    <button type="button" class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">6</button><br>
                    <button type="button" class="btn mt-2 caisse_perso_btn btn-outline-secondary">7</button>
                    <button type="button" class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">8</button>
                    <button type="button" class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">9</button><br>
                    <button type="button" value="1" class="btn mt-2 caisse_perso_btn btn-outline-secondary">CE</button>
                    <button type="button" class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">0</button>
                    <button type="button" value="0" class="btn mt-2 ml-2 caisse_perso_btn btn-outline-secondary">DEL</button>
                </div>
            </div>
        </div>
        {# <h5 class="title_form text-black text-uppercase">Information société</h5> #}
    </div>
</div>
{% endblock %}


