 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3">
        <div class="row">
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold text-uppercase">Produit</label>
                <select name="type_societe" class="custom-select custom-select-sm" id="type_societe">
                    <option value="">Tous</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold text-uppercase">Date</label>
                <select name="type_societe" class="custom-select custom-select-sm" id="type_societe">
                    <option value="">Tous</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold text-uppercase">Date</label>
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                </div>
                    <input type="text" class="form-control" placeholder=". . ." aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold text-uppercase">Date Début</label>
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                </div>
                    <input type="text" class="form-control" placeholder=". . ." aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold text-uppercase">Date fin</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder=". . ." aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold text-uppercase">Mois</label>
                <select name="type_societe" class="custom-select custom-select-sm" id="type_societe">
                    <option value="">Avril</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold text-uppercase">Année</label>
                <input type="number" name="nom" id="nom" class="form-control" placeholder="2023">
            </div>
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold">&nbsp;</label>
                <button class="btn btn-perso-one btn-sm btn-block"><i class="fa fa-search"></i>&nbsp;Rechercher</button>
            </div>
        </div>
        <div class="table-responsive mt-3">
            <table class="table table-sm table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Date</th>
                        <th>N° Reçu</th>
                        <th>Produit</th>
                        <th class="text-right">Qte</th>
                        <th class="text-right">Prix vente</th>
                        <th class="text-right">Montant Tva</th>
                        <th class="text-right">Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% set premier = (paniersCommande is not empty) ? paniersCommande[0].numCommande : "" %}
                    {% set passe = true %}
                    {% set passeM = true %}
                    {% set compteur = 1 %}
                    {% set total = 0 %}
                    {% set totalGeneral = 0 %}
                    {% for panierCommande in paniersCommande %}
                        {% if panierCommande.numCommande != premier %}
                            {% set premier = panierCommande.numCommande %}
                            {% set passe = true %}
                            {% set passeM = true %}
                            {% set compteur = 1 %}
                            {% set total = 0 %}
                        {% endif %}
                        <tr>
                            {% set elements = paniersCommande|filter(o => o.numCommande == premier) %}
                            {% set ligne = elements|length %}
                            {% if passe %}
                                <td rowspan="{{ligne + 4}}" class="align-middle">{{ panierCommande.date }}</td>
                                <td rowspan="{{ligne + 4}}" class="align-middle">{{ panierCommande.numCommande }}</td>
                                {% set passe = false %}
                            {% endif %}
                            {% set totalPartiel = panierCommande.quantite * panierCommande.prix  %}
                            {% set tvaVal = ((panierCommande.prix * panierCommande.tva) / 100) * panierCommande.quantite %}
                            {% set tvaSigne = panierCommande.tva == 0 ? "" : "(" ~ panierCommande.tva ~"%)" %}
                            <td>{{panierCommande.codeProduit}} | {{panierCommande.nom}} | {{compteur}}</td>
                            <td class="">{{panierCommande.quantite}}</td>
                            <td class="">{{panierCommande.prix}}</td>
                            <td class="">{{tvaVal}}{{tvaSigne}}</td> 
                            <td class="">{{totalPartiel}}</td> 
                            {% set total = total + totalPartiel %}
                            {% if passeM %}
                                <td rowspan="{{ligne + 4}}" class="text-center align-middle"><button class="btn btn-sm btn-outline-warning font-smaller"><i class="fa fa-edit"></i></button></td>
                                {% set passeM = false %}
                            {% endif %}
                        </tr>
                        {% if compteur == ligne %}
                            <tr>
                                <th colspan="4">Total HT</th>
                                <th class="bg-secondary text-white">{{ total }}</th>
                            </tr>
                            {% set remise = 0 %}
                            {% set indice = "" %}
                            {% if panierCommande.remiseType != "-" %}
                                {% if panierCommande.remiseType == 1 %}
                                    {% set indice = "" %}
                                    {% set remise = total - panierCommande.remiseVal %} 
                                {% else %}
                                    {% set indice =   "("~ panierCommande.remiseVal ~ "%)" %}
                                    {% set remise = (total * panierCommande.remiseVal) / 100 %} 
                                {% endif %}
                            {% endif %}
                            <tr>
                                <th colspan="4">Remise</th>
                                <th class="bg-secondary text-white">{{ remise }}&nbsp;{{ indice }}</th>
                            </tr>
                            <tr>
                                <th colspan="4">Total Tva</th>
                                <th class="bg-secondary text-white">{{ panierCommande.totalTva }}</th>
                            </tr>
                            <tr>
                                <th colspan="4">Total TTC</th>
                                <th class="bg-primary text-white">{{ panierCommande.montantPayee + panierCommande.totalTva - remise }}</th>
                            </tr>
                            <tr class="bg-light border_dark">
                                <td colspan="8"></td>
                            </tr>
                            {% set totalGeneral = totalGeneral + (panierCommande.montantPayee + panierCommande.totalTva - remise) %}
                        {% endif %}
                        
                        {% if panierCommande.numCommande == premier %}
                            {% set passe = false %}
                            {% set passeM = false %}
                            {% set compteur = compteur + 1 %}
                        {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="6">Total Géneral</th>
                        <th class="bg-success text-white">{{ totalGeneral }}</th>
                        <td class="bg-success"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="button" class="btn btn-sm effacerTout btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button>
                <button type="submit" class="btn btn-sm ml-3 enregistre_create_menu btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}


