 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/consultationJournal.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 py-3">
        <div class="row">
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold text-uppercase">Date</label>
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                </div>
                    <input type="text" class="form-control" placeholder=". . ." aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-3">
                {% set i = 1 %}
                <label for="nom" class="mt-2 font-weight-bold text-uppercase">Mois</label>
                <select name="type_societe" class="custom-select chosen_select custom-select-sm" id="type_societe">
                    <option value="">TOUS</option>
                    {% for tabMois in tabMois %}
                        <option value="{{i}}">{{tabMois|upper}}</option>
                        {% set i = i + 1 %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold text-uppercase">Année</label>
                <input type="number" name="nom" id="nom" class="form-control" placeholder="{{'now'|date('Y')}}">
            </div>
        </div>
        <div class="choixJournal"></div>
        <div class="choixJournal"></div>
        <div class="accordion" id="accordionJournal">
            {% set index = 1 %}
            {% for key,element in journals %}
                <div class="barre_left rounded elemMoisJournal shadow mt-4">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <div class="w-100 px-3 height_box d-flex flex-column justify-content-center">
                            <h5 class="title_form title_barre_left toggleIcon text-uppercase" data-toggle="collapse" data-target="#collapse_{{index}}" aria-expanded="true" aria-controls="collapse_{{index}}"><i class="fa fa-arrow-circle-right"></i>&nbsp;{{key}}</h5>
                            <span class="ml-3">{{element.nbElement}} Elément(s)</span>
                        </div>
                        <div class="w-100 height_box border-left d-flex flex-column align-items-center justify-content-center px-3">
                            <h6 class="title_form text-black text-uppercase">Mode Paiement</h6>
                            {% set percentFacture = element.FACTURE is defined ? ((element.FACTURE * 100)/ element.nbElement) : 0 %}
                            {% set percentAchat = element.ACHAT is defined ? ((element.ACHAT * 100)/ element.nbElement) : 0 %}
                            {% set percentDepense = element.DEPENSE is defined ? ((element.DEPENSE * 100)/ element.nbElement) : 0 %}
                            {% set percentCaisse = element.CAISSE is defined ? ((element.CAISSE * 100)/ element.nbElement) : 0 %}
                            <div class="d-flex w-100 align-items-center justify-content-center rounded elemModePaiement_{{index}}">
                                <div class="fixed_height" id="ttpPaiement_{{index}}_1" data-content="Facture :{{percentFacture|number_format(0)}}%"  style="background-color: #f4511e ; width:{{percentFacture}}% ;" title="test" ></div>
                                <div class="fixed_height" id="ttpPaiement_{{index}}_2" data-content="Achat :{{percentAchat|number_format(0)}}%"  style="background-color: #03a9f4 ; width: {{percentAchat}}% ;" title="test" ></div>
                                <div class="fixed_height" id="ttpPaiement_{{index}}_4" data-content="Dépense :{{percentDepense|number_format(0)}}%"  style="background-color: #ec407a ; width:{{percentDepense}}% ;" title="test" ></div>
                                <div class="fixed_height" id="ttpPaiement_{{index}}_3" data-content="Caisse :{{percentCaisse|number_format(0)}}%"  style="background-color: #cddc39 ; width: {{percentCaisse}}% ;" title="test" ></div>
                            </div>
                        </div>
                        <div class="w-100 height_box border-left d-flex flex-column align-items-center justify-content-center px-3">
                            <h6 class="title_form text-black text-uppercase">Débit</h6>
                            {% set percentDebit = element.DEBIT is defined ? ((element.DEBIT * 100)/ element.nbElement) : 0 %}
                            <div class="d-flex w-100 align-items-center rounded justify-content-center" >
                                <div class="fixed_height" id="ttpJournal_{{index}}_1" data-content="Débit : {{percentDebit|number_format(0)}}%" style="background-color: #1565c0 ; width: {{percentDebit}}% ;"></div>
                            </div>
                        </div>
                        <div class="w-100 height_box border-left d-flex flex-column align-items-center justify-content-center px-3">
                            <h6 class="title_form text-black text-uppercase">Crédit</h6>
                            {% set percentCredit = element.CREDIT is defined ? ((element.CREDIT * 100)/ element.nbElement) : 0 %}
                            <div class="d-flex w-100 align-items-center rounded justify-content-center" >
                                <div class="fixed_height" id="ttpJournal_{{index}}_2" data-content="Crédit : {{percentCredit|number_format(0)}}%" style="background-color: #ffca28 ; width: {{percentCredit}}% ;" ></div>
                            </div>
                        </div>
                    </div>
                    <div id="collapse_{{index}}" class="collapse px-3" aria-labelledby="heading_{{index}}" data-parent="#accordionJournal">
                        <div class="table-responsive mt-3">
                            <table class="table table-sm table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Date</th>
                                        <th>Opération</th>
                                        <th>Débit</th>
                                        <th>Crédit</th>
                                        <th>Balance</th>
                                    </tr>
                                </thead>
                                <tbody class="elemJournal_{{index}}">
                                    {% set balance = 0 %}
                                    {% set balanceClass = "" %}
                                    {% for journal in element.detail %}
                                        <tr>
                                            <td>{{journal.date}}</td>
                                            <td>{{journal.operation|upper}}</td>
                                            {% if journal.refJournal == "DEBIT" %}
                                                <td>
                                                    {{journal.montant}}
                                                </td>
                                                <td>
                                                -
                                                </td>
                                                {% set balance = balance + journal.montant %}
                                            {% else %}
                                                <td>
                                                -
                                                </td>
                                                <td>
                                                    {{journal.montant}}
                                                </td>
                                                {% set balance = balance - journal.montant %}
                                            {% endif %}
                                            <th>{{balance}}</th>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% set index = index + 1 %}
            {% endfor %}
        </div>
        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="submit" class="btn btn-sm ml-3 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}


