 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-2">
        <form id="formbonCommande">
            <div class="row">
                <div class="col-md-3">
                    <label for="achat_bon_fournisseur" class="mt-2 font-weight-bold">Fournisseur</label>
                    <select name="achat_bon_fournisseur" class="custom-select chosen_select achat_bon_fournisseur custom-select-sm" id="achat_bon_fournisseur">
                        <option value="" >-</option>
                        {% for fournisseur in fournisseurs %}
                            <option value="{{fournisseur.id}}">{{fournisseur.nom|upper}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="achat_bon_type_paiement" class="mt-2 font-weight-bold">Type de paiement</label>
                    <select name="achat_bon_type_paiement" class="custom-select chosen_select achat_bon_type_paiement custom-select-sm" id="achat_bon_type_paiement">
                        <option value="" >-</option>
                        {% for type in types %}
                            <option value="{{type.id}}">{{type.nom|upper}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="w-100  mt-3">
                <label for="nom" class="font-weight-bold">Description</label>
                <textarea name="compta_achat_editor" id="compta_achat_editor" class="compta_achat_editor form-control" cols="30" rows="10"></textarea>
            </div>
            <div class="w-100 mt-4 barre_dashed p-3">
                <h5 class="title_form text-black text-uppercase">Ajout Marchandise</h5>
                <div id="contentMarchandise">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="achat_bon_designation" class="font-weight-bold">Marchandise</label>
                            <select name="achat_bon_designation" class="custom-select chosen_select achat_bon_designation custom-select-sm" id="achat_bon_designation">
                                <option value="" >-</option>
                                {% for marchandise in marchandises %}
                                    <option value="{{marchandise.id}}">{{marchandise.designation|upper}}</option>
                                {% endfor %}
                            </select>
                            <input type="hidden" name="new_marchandise" id="new_marchandise" value="NON">
                        </div>
                        <div class="col-md-1">
                            <label for="" class="font-weight-bold">&nbsp;</label>
                        <button type="button" class="btn btn-sm btn-primary btn-block text-uppersace" id="achat_bon_new_marchandise"><i class="fa fa-plus-circle"></i></button>
                        </div>
                        <div class="col-md-2">
                            <label for="achat_bon_reference" class="font-weight-bold">Référence</label>
                            <input type="text" name="achat_bon_reference" id="achat_bon_reference" oninput="this.value = this.value.toUpperCase();" class="form-control" placeholder=". . .">
                        </div>
                        <div class="col-md-2">
                            <label for="achat_bon_quantite" class="font-weight-bold">Quantité</label>
                            <input type="number" step="any" name="achat_bon_quantite" id="achat_bon_quantite" class="form-control" placeholder=". . .">
                        </div>
                        <div class="col-md-2">
                            <label for="achat_bon_prix" class="font-weight-bold">Prix Unitaire</label>
                            <input type="number" step="any" name="achat_bon_prix" id="achat_bon_prix" class="form-control" placeholder=". . .">
                        </div>
                    </div>
                    <div class="text-right w-100 mt-3">
                        <label for="" class="font-weight-bold">&nbsp;</label>
                        <button type="button" class="btn btn-sm btn-success px-5 text-uppercase" id="ajout_marchandise"><i class="fa fa-plus-square"></i>&nbsp;Ajouter</button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Marchandise</th>
                            <th>Référence</th>
                            <th>Quantite</th>
                            <th>Prix Unitaire</th>
                            <th>Montant Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="contentItemMarchandise">
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4">Total General</th>
                            <th colspan="2" class="text-white bg-primary" id="achat_bon_total_Gen">0</th>
                        </tr>
                    </tfoot>
                </table>
                <input type="hidden" name="achat_bon_val_total_Gen" id="achat_bon_val_total_Gen" >
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5"> 
                        <label for="nom" class="mt-1 font-weight-bold text-uppercase">à,</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-location"></i></span>
                            </div>
                            <input type="text" class="form-control ach_lieu" name="ach_lieu" placeholder=". . ." aria-label="Lieu Contrat" id="ach_lieu">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5"> 
                        <label for="nom" class="mt-1 font-weight-bold">Le,</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input type="text" class="form-control ach_date" name="ach_date" value="{{ 'now'|date('d/m/Y') }}" placeholder=". . ." aria-label="Date Contrat" id="ach_date">
                        </div>
                    </div>
                </div>
            </div>
            {% if with_foot %}
                <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                    <button type="submit" class="btn btn-sm ml-3 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
                </div>
            {% endif %} 
        </form>
    </div>
</div>
{% endblock %}


