 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }} 
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}&nbsp;N° : <span class="text-white px-2 py-1 rounded badge-warning">{{achat.numero}}</span></h4>
    </div>
    <div class="container-fluid px-4 pt-3">
        <div class="row">
            <div class="col-md-3">
                <label for="ach_commande_fournisseur" class="mt-2 font-weight-bold">Fournisseur</label>
                <input type="text" readonly id="ach_commande_fournisseur" value="{{achat.fournisseur}}" class="form-control text-uppercase bg-white text-primary font-weight-bold" placeholder=". . .">
            </div>
            <div class="col-md-3">
                <label for="ach_commande_type" class="mt-2 font-weight-bold">Type</label>
                <input type="text" readonly id="ach_commande_type" value="{{achat.type}}" class="form-control text-primary text-uppercase bg-white font-weight-bold" placeholder=". . .">
            </div>
        </div>
        <div class="w-100  mt-3">
            <label for="ach_commande_editor" class="font-weight-bold">Description</label>
            <textarea name="ach_commande_editor" id="ach_commande_editor" class="ach_commande_editor form-control" cols="30" rows="10">{{achat.description}}</textarea>
        </div>
        <div class="w-100 mt-4 barre_dashed p-3">
            <div id="contentDetailBonCommande">
                <h5 class="title_form text-black text-uppercase">Rajouter un Marchandise</h5>
                <div id="contentMarchandise">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="achat_bon_designation" class="font-weight-bold">Marchandise</label>
                            <select name="achat_bon_designation" class="custom-select chosen_select achat_bon_designation custom-select-sm" id="achat_bon_designation">
                                <option value="" >-</option>
                                {% for marchandise in marchandises %}
                                    <option value="{{marchandise.id}}">{{marchandise.designation|upper}}</option>
                                {% endfor %}
                            </select>
                            <input type="hidden" name="new_marchandise" id="new_marchandise" value="NON">
                        </div>
                        <div class="col-md-1">
                            <label for="" class="font-weight-bold">&nbsp;</label>
                        <button type="button" class="btn btn-sm btn-primary btn-block text-uppersace" id="achat_bon_new_marchandise"><i class="fa fa-plus-circle"></i></button>
                        </div>
                        <div class="col-md-2">
                            <label for="achat_bon_reference" class="font-weight-bold">Référence</label>
                            <input type="text" name="achat_bon_reference" id="achat_bon_reference" oninput="this.value = this.value.toUpperCase();" class="form-control" placeholder=". . .">
                        </div>
                        <div class="col-md-2">
                            <label for="achat_bon_quantite" class="font-weight-bold">Quantité</label>
                            <input type="number" step="any" name="achat_bon_quantite" id="achat_bon_quantite" class="form-control" placeholder=". . .">
                        </div>
                        <div class="col-md-2">
                            <label for="achat_bon_prix" class="font-weight-bold">Prix Unitaire</label>
                            <input type="number" step="any" name="achat_bon_prix" id="achat_bon_prix" class="form-control" placeholder=". . .">
                        </div>
                    </div>
                    <div class="text-right w-100 mt-3">
                        <label for="" class="font-weight-bold">&nbsp;</label>
                        <button type="button" class="btn btn-sm btn-success px-5 text-uppercase" id="ajout_marchandise"><i class="fa fa-plus-square"></i>&nbsp;Ajouter</button>
                    </div>
                </div>
            </div>
        </div>
        <form id="formAddCommande">
            <input type="hidden" name="achat_id_bon_commande" value="{{achat.id}}" >
            <div class="table-responsive mt-2">
                <table class="table table-sm table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Marchandise</th>
                            <th>Reference</th>
                            <th>Quantité</th>
                            <th>Prix</th>
                            <th>Montant Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="contentItemMarchandise"> 
                        {% set total = 0 %}
                        {% for listBonCommande in listBonCommandes %}
                            <tr>
                                <td>{{listBonCommande.designation}}</td>
                                <td>{{listBonCommande.reference}}</td>
                                <td>{{listBonCommande.quantite}}</td>
                                <td>{{listBonCommande.prix}}</td>
                                <td>
                                    {{listBonCommande.totalLigne}}
                                    <input type="hidden" id="achat_bon_enr_total_ligne" value="{{listBonCommande.totalLigne}}">
                                </td>
                                <td class="text-center align-middle">
                                    <button type="button" data-value="{{listBonCommande.idDetail}}" class="btn btn-sm btn-outline-warning btn_modifie_detail_bon font-smaller"><i class="fa fa-edit"></i></button>
                                    <button type="button" data-value="{{listBonCommande.idDetail}}" class="btn btn-sm ml-2 btn_supprime_detail_bon btn-outline-danger font-smaller"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            {% set total = total + listBonCommande.totalLigne %}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4">Total General</th>
                            <th colspan="2" class="text-white bg-primary" id="achat_bon_total_Gen">{{total}}</th>
                        </tr>
                    </tfoot>
                </table>
                <input type="hidden" name="achat_bon_val_total_Gen" id="achat_bon_val_total_Gen" value="{{total}}" >
                <div class="w-100">
                    Arrêté la présente facture à la somme de <span class="font-weight-bold text-uppercase">{{achat.lettre}}</span>
                </div>
            </div>
            <div class="container mt-2">
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5"> 
                        <label for="nom" class="mt-1 font-weight-bold text-uppercase">à,</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-location"></i></span>
                            </div>
                            <input type="text" class="form-control bg-white text-primary ach_lieu" name="ach_lieu" value="{{achat.lieu}}" placeholder=". . ." aria-label="Lieu Contrat" id="ach_lieu">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5"> 
                        <label for="nom" class="mt-1 font-weight-bold">Le,</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input type="text" class="form-control bg-white text-primary" name="ach_date" id="ach_date" value="{{achat.date}}" placeholder=". . ." aria-label="Date Contrat">
                        </div>
                    </div>
                </div>
            </div>
            <div class="foot_action p-3 mt-3 text-right w-100 barre_dashed">
                <button type="button" data-value="{{achat.id}}" class="btn btn-sm ml-3 btn_imprimer_bon_commande btn-primary"><i class="fa fa-print"></i>&nbsp;Imprimer</button>
                <button type="button" class="btn btn-sm ml-3 btn_update_bon_commande btn-perso-one"><i class="fa fa-database"></i>&nbsp;Mettre à jour</button>
            </div>
        </form>
        {% if achat.refType == "CREDIT" %}
            <div class="barre_dashed p-3">
                {% if not (achat.montantPayee >= total) %}
                    <form id="formCreditAchat">
                        <h5 class="title_form text-black text-uppercase">Enregistrement paiement</h5>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="ach_commande_credit_date" class="mt-2 font-weight-bold">Date paiement</label>
                                <input type="text" name="ach_commande_credit_date" id="ach_commande_credit_date" class="form-control" placeholder=". . .">
                                <input type="hidden" name="ach_commande_credit_id" value="{{achat.id}}">
                            </div>
                            <div class="col-md-3">
                                <label for="ach_commande_credit_montant" class="mt-2 font-weight-bold">Montant Payé</label>
                                <input type="number" step="any" name="ach_commande_credit_montant" id="ach_commande_credit_montant" class="form-control" placeholder=". . .">
                            </div>
                            <div class="col-md-3">
                                <label for="nom" class="font-weight-bold mt-2">&nbsp;</label>
                                <button type="submit" class="btn btn-sm btn-perso-one btn-block"><i class="fa fa-save"></i>&nbsp;Payé</button>
                            </div>
                        </div>
                    </form>
                {% endif %}
                <div class="table-responsive mt-3">
                    <table class="table table-sm table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Date</th>
                                <th>Montant Payé</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set totalPayee = 0 %}
                            {% for histoPaiement in histoPaiements %}
                                <tr>
                                    <td>{{histoPaiement.date|date('d/m/Y')}}</td>
                                    <td>{{histoPaiement.montant}}</td>
                                </tr>
                                {% set totalPayee = totalPayee + histoPaiement.montant %}
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Montant Payé</th>
                                <th class="bg-primary text-white">{{achat.montantPayee}}</th>
                            </tr>
                            <tr>
                                <th>Montant Restant</th>
                                <th class="bg-success text-white">{{total - totalPayee}}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            {% if with_foot %}
                <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                    <button type="button" class="btn btn-sm ml-3 btn-primary"><i class="fa fa-print"></i>&nbsp;Imprimer</button>
                </div>
            {% endif %} 
        {% endif %}
    </div>
</div>
{% endblock %}


