 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <div class="row">
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold">Date</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold">N° Commande</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold">Fournisseur</label>
                <input type="text" name="nom" id="nom" class="form-control" placeholder=". . .">
            </div>
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold">Type de paiement</label>
                <select name="cmd_bon_search_date" class="custom-select chosen_select cmd_bon_search_date custom-select-sm" id="cmd_bon_search_date">
                    <option value="" >-</option>
                    <option value="" >PAIEMENT TOTALE</option>
                    <option value="" >SOUS CREDIT</option>
                </select>
            </div>
        </div>
        <div class="w-100 text-right mt-3">
            <button class="btn btn-sm btn-perso-one ach_valider_credit_livraison px-4 text-uppercase"><i class="fa fa-thumbs-up"></i>&nbsp;Valider Livraison</button>
        </div>
        <div class="table-responsive mt-3">
            <table class="table table-sm table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Date</th>
                        <th>N° Commande</th>
                        <th>Fournisseur</th>
                        <th>Type</th>
                        <th>Marchandises</th>
                        <th>Quantité</th>
                        <th>Prix Unitaire</th>
                        <th>Montant Total</th>
                        <th></th>
                        <th>Statut</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% set premier = (listBonCommandes is not empty) ? listBonCommandes[0].numero : "" %}
                    {% set premierRefType = (listBonCommandes is not empty) ? listBonCommandes[0].refType : "" %}
                    {% set passe = true %}
                    {% set passeM = true %}
                    {% set compteur = 1 %}
                    {% set totalHT = 0 %}
                    {% set totalGeneral = 0 %}
                    {% if premierRefType == "CREDIT" %}
                        {% set addLigne = 3 %}
                    {% else %}
                        {% set addLigne = 1 %}
                    {% endif %}
                    {% for bonCommande in listBonCommandes %}
                        {% if bonCommande.numero != premier %}
                            {% set premier = bonCommande.numero %}
                            {% set passe = true %}
                            {% set passeM = true %}
                            {% set compteur = 1 %}
                            {% set totalHT = 0 %}
                            {% if bonCommande.refType == "CREDIT" %}
                                {% set addLigne = 3 %}
                            {% else %}
                                {% set addLigne = 1 %}
                            {% endif %}
                        {% endif %}
                        <tr>
                            {% set elements = listBonCommandes|filter(o => o.numero == premier) %}
                            {% set ligne = elements|length %}
                            
                            {% if passe %}
                                <td rowspan="{{ligne + addLigne}}" class="align-middle">{{bonCommande.date}}</td>
                                <td rowspan="{{ligne + addLigne}}" class="align-middle">{{bonCommande.numero}}</td>
                                <td rowspan="{{ligne + addLigne}}" class="align-middle">{{bonCommande.fournisseur|upper}}</td>
                                <td rowspan="{{ligne + addLigne}}" class="align-middle">{{bonCommande.type|upper}}</td>
                                {% set passe = false %}
                            {% endif %}
                            <td>{{bonCommande.designation}}</td>
                            <td>{{bonCommande.quantite}}</td>
                            <td>{{bonCommande.prix}}</td>
                            <td {{ bonCommande.refType == "TOTAL" ? 'colspan="2"' : "" }} >{{bonCommande.totalLigne}}</td>
                            {% if bonCommande.refType == "CREDIT" %}
                                <td class="text-center align-middle">
                                    {% if bonCommande.refStatut == "LVR" %}
                                        <span class="text-success font-weight-bold">{{"Livré"|upper}}</span>
                                    {% else %}
                                        <button data-value="{{bonCommande.idDetail}}" class="btn btn-sm btn-outline-success ach_check_credit_livraison font-smaller"><i class="fa fa-check"></i></button>
                                    {% endif %}
                                </td>
                            {% endif %}
                            {% set totalHT = totalHT + bonCommande.totalTtc %}
                            {% if passeM %}
                                {% if bonCommande.refStatut == "ENCR" %}
                                    {% set statutClass = "text-warning" %}
                                {% else %}
                                    {% set statutClass = "text-info" %}
                                {% endif %}
                                <td rowspan="{{ligne + addLigne}}" class="text-center align-middle">
                                    <div class="w-100 d-flex flex-column align-items-center justify-content-center">
                                        <b class="text-dark">{{bonCommande.statutBon|upper|raw}}</b>
                                    </div>
                                </td>
                                <td rowspan="{{ligne + addLigne}}" class="text-center align-middle">
                                    <div class="w-100 d-flex flex-column align-items-center justify-content-center">
                                        <a href="{{path('achat_details',{'id':bonCommande.encodedId})}}" class="btn btn-sm btn-outline-warning font-smaller"><i class="fa fa-edit"></i></a>
                                        {% if bonCommande.refType == "TOTAL" %}
                                            {% if bonCommande.refStatutBon == "ENCR" %}
                                                <button data-value="{{bonCommande.id}}" class="btn mt-2 btn-outline-primary ach_check_paiement btn-sm font-smaller"><i class="fa fa-money-bill-wave"></i></button>
                                            {% elseif bonCommande.refStatutBon == "PAYE" %}
                                                <button data-value="{{bonCommande.id}}" class="btn mt-2 btn-outline-success ach_check_livraison btn-sm font-smaller"><i class="fa fa-check-double"></i></button>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </td>
                                {% set passeM = false %}
                            {% endif %}
                        </tr>
                        {% if compteur == ligne %}
                        {% if bonCommande.refType == "TOTAL" %}
                            <tr>
                                <th colspan="3">Total</th>
                                <th colspan="2" class="text-white bg-secondary">{{bonCommande.totalTtc}}</th>
                            </tr>
                        {% else %}
                            <tr>
                                <th colspan="3">Total</th>
                                <th colspan="2" class="text-white bg-secondary">{{bonCommande.totalTtc}}</th>
                            </tr>
                            <tr>
                                <th colspan="3">Total Payé</th>
                                <th colspan="2" class="text-white bg-success">{{bonCommande.totalPaiement}}</th>
                            </tr>
                            <tr>
                                <th colspan="3">Total Restant</th>
                                <th colspan="2" class="text-white bg-purple">{{bonCommande.totalTtc - bonCommande.totalPaiement}}</th>
                            </tr>
                        {% endif %}
                        <tr class="bg-light border_dark">
                            <td colspan="11"></td>
                        </tr>
                            {% set totalGeneral = totalGeneral + bonCommande.totalTtc %}
                        {% endif %}
                        {% if bonCommande.numero == premier %}
                            {% set compteur = compteur + 1 %}
                        {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="7" >Total General</th>
                        <th colspan="5" class="text-white bg-primary">{{totalGeneral}}</th>
                    </tr>
                </tfoot>
            </table>
        </div>

        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="submit" class="btn btn-sm ml-3 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}
