 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/entrepot.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3 pb-3">
        {% if role != "AGENT" %}
            <h5 class="title_form text-black text-uppercase">Création entrepôt</h5>
            <form id="formEntrepot" >
                <div class="row"> 
                    <div class="col-md-5">
                        <label for="nom" class="mt-2 font-weight-bold">Nom</label>
                        <input type="text" name="nom" id="nom" oninput="this.value = this.value.toUpperCase();" class="form-control" placeholder=". . .">
                    </div>
                    <div class="col-md-4">
                        <label for="adresse" class="mt-2 font-weight-bold">Adresse</label>
                        <input type="text" name="adresse" id="adresse" class="form-control" placeholder=". . .">
                    </div>
                    <div class="col-md-3">
                        <label for="telephone" class="mt-2 font-weight-bold">Tél</label>
                        <input type="text" name="telephone" id="telephone" class="form-control" placeholder=". . .">
                    </div>
                </div>
            
            {% if with_foot %}
                <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                    {# <button type="button" class="btn btn-sm effacerTout btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button> #}
                    <button type="submit" class="btn btn-sm ml-3 btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
                </div>
            {% endif %} 
            </form>
        {% endif %}  
        <div class="w-100 barre_dashed">
            <h5 class="title_form mt-4 text-black text-uppercase">Liste des entrepôts</h5>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="rch_nom" class="font-weight-bold">Nom</label>
                <div class="input-group">
                    <input type="text" name="rch_nom" id="rch_nom" class="form-control" placeholder=". . .">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-secondary vider font-smaller" type="button" onclick="document.querySelector('#rch_nom').value=''"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label for="rch_adresse" class="font-weight-bold">Adresse</label>
                <div class="input-group">
                    <input type="text" name="rch_adresse" id="rch_adresse" class="form-control" placeholder=". . .">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-secondary vider font-smaller" type="button" onclick="document.querySelector('#rch_adresse').value=''"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label for="rch_tel" class="font-weight-bold">Téléhpone</label>
                <div class="input-group">
                    <input type="text" name="rch_tel" id="rch_tel" class="form-control" placeholder=". . .">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-secondary vider font-smaller" type="button" onclick="document.querySelector('#rch_tel').value=''"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive limit_tbody overflow-auto mt-3">
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Tél</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="elem_entrepots">
                    {% for entrepot in entrepots %}
                        <tr value="{{entrepot.id}}">
                            <td>{{entrepot.nom}}</td>
                            <td>{{entrepot.adresse}}</td>
                            <td>{{entrepot.telephone}}</td>
                        <td class="text-center"><button class="btn btn-sm btn-outline-warning edit_entrepot font-smaller"><i class="fa fa-edit"></i></button>&emsp;<button class="btn btn-sm btn-outline-danger delete_entrepot font-smaller" ><i class="fa fa-trash"></i></button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
