 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}}</h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <div class="row">
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold text-uppercase">Entrepôt</label>
                <select name="type_societe" class="custom-select custom-select-sm" id="type_societe">
                    <option value="">Tous</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold text-uppercase">Catégorie</label>
                <select name="type_societe" class="custom-select custom-select-sm" id="type_societe">
                    <option value="">Tous</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold text-uppercase">Produit</label>
                <select name="type_societe" class="custom-select custom-select-sm" id="type_societe">
                    <option value="">Tous</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold">&nbsp;</label>
                <button class="btn btn-success btn-sm btn-block"><i class="fa fa-file-excel"></i>&nbsp;Exporter</button>
            </div> 
        </div>
        <div class="table-responsive mt-4">
            <div class="pt-2 overflow-auto" style="max-height: 450px;">
                <table class="table table-sm font-smaller table-bordered mb-0" >
                    <thead class="thead-light">
                        <tr>
                            <th>Entrepôt</th>
                            <th>Catégorie</th>
                            <th>Nom Produit</th>
                            <th>Désignation</th>
                            <th>Indice</th>
                            <th>Prix de vente</th>
                            <th>Stock</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set total = 0 %}
                        {% set totalGeneral = 0 %}
                        {% set totalStock = 0 %}
                        {% for stockEntrepot in stockEntrepots %}
                            {% set total = total + (stockEntrepot.stock * stockEntrepot.prixVente) %}
                            <tr>
                                <td>{{stockEntrepot.entrepot}}</td>
                                <td>{{stockEntrepot.categorie|upper}}</td>
                                <td>{{stockEntrepot.nomType}}</td>
                                <td>{{stockEntrepot.nom}}</td>
                                <td>{{stockEntrepot.indice}}</td>
                                <td>{{stockEntrepot.prixVente}}</td>
                                <td>{{stockEntrepot.stock}}</td>
                                <td>{{total}}</td>
                            </tr>
                            
                            {% set totalStock = totalStock + stockEntrepot.stock %}
                            {% set totalGeneral = totalGeneral + total %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <table class="table-sm table table-bordered">
                <tr>
                    <th style="width:80%" >Total</th>
                    <th class="bg-primary text-white">{{totalStock}}</th>
                    <th class="bg-success text-white">{{totalGeneral}}</th>
                </tr>
            </table>
        </div>

        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="button" class="btn btn-sm effacerTout btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button>
                <button type="submit" class="btn btn-sm ml-3 enregistre_create_menu btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}
