 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">{{titlePage}} : <span class="text-white px-2 py-1 rounded badge-warning">{{stockEntrepots[0].entrepot}}</span></h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <input type="hidden" name="search_entrepot_ste" id="search_entrepot_ste" value="{{idEntrepot}}" >
        <div class="row">
            <div class="col-md-3">
                <label for="search_categorie_ste" class="mt-2 font-weight-bold text-uppercase">Catégorie</label>
                <select name="search_categorie_ste" class="custom-select search_categorie_ste custom-select-sm" id="search_categorie_ste">
                    <option value="">TOUS</option>
                    {% for categorie in categories %}
                        <option value="{{categorie.id}}">{{categorie.nom|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="search_produit_ste" class="mt-2 font-weight-bold text-uppercase">Désignation Produit</label>
                <select name="search_produit_ste" class="custom-select search_produit_ste custom-select-sm" id="search_produit_ste">
                    <option value="">TOUS</option>
                    {% for stockGeneral in stockGenerales %}
                        <option value="{{stockGeneral.id}}">{{stockGeneral.codeProduit}} | {{stockGeneral.nom}} | stock : {{stockGeneral.stock}}</option>
                    {% endfor %}
                </select>
            </div>
            {# <div class="col-md-3">
                <label for="nom" class="mt-2 font-weight-bold">&nbsp;</label>
                <button class="btn btn-perso-one btn-sm btn-block"><i class="fa fa-search"></i>&nbsp;Rechercher</button>
            </div> #}
        </div>
        <div class="table-responsive mt-4">
            <table class="table table-sm table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Entrepôt</th>
                        <th>Code</th>
                        <th>Catégorie</th>
                        <th>Désignation Produit</th>
                        <th>Indice</th>
                        <th>Stock</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="elem_stock_entrepot">
                    {% set total = 0 %}
                    {% for stockEntrepot in stockEntrepots %}
                        <tr>
                            <td>{{stockEntrepot.entrepot}}</td>
                            <td>{{stockEntrepot.code}}</td>
                            <td>{{stockEntrepot.categorie|upper}}</td>
                            <td>{{stockEntrepot.nom}}</td>
                            <td>{{stockEntrepot.indice}}</td>
                            <td>{{stockEntrepot.stock}}</td>
                            <td class="text-center align-middle">
                                <a href="{{path('stock_display_variation_produit',{'idVar':stockEntrepot.encodedIdVar})}}" class="btn btn-outline-warning btn-sm font-smaller"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                        {% set total = total + stockEntrepot.stock %}
                    {% endfor %}
                    <tr>
                        <th colspan="5">Total</th>
                        <th colspan="2" class="bg-purple text-white">{{total}}</th>
                    </tr>   
                </tbody>
            </table>
        </div>

        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                <button type="button" class="btn btn-sm effacerTout btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button>
                <button type="submit" class="btn btn-sm ml-3 enregistre_create_menu btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}
