 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/facture/js/consultation.js')}}"></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase d-flex flex-row align-items-center entete_page text-black">
        {{titlePage}}
        <a href="{{path('ftr_retenu_consultation')}}" class="btn ml-auto font-weight-bold text-uppercase btn-perso-one btn-sm"><i class="fa fa-file"></i>&nbsp;Facture retenus</a>
        </h4>
    </div>
    <div class="container-fluid px-3 pt-2">
        <div id="contentFacture">
            <div class="row">
                <div class="col-md-4">
                    <label for="nom" class="font-weight-bold ml-1 text-uppercase">Type</label>
                    <div class="w-100 d-flex flex-wrap flex-row align-items-center justify-content-left">
                        <button type="button" data-reference="" data-mode="" data-text="" data-class="btn-primary" data-target="#fact_search_type" value="" class="btn mt-2 fact_search_btn_type btn-sm btn-outline-primary mx-1">TOUS</button>
                        {% for type in types %}
                            <button type="button" data-reference="{{type.reference}}" data-mode="{{type.modePaiement}}" data-text="{{type.nom|upper}}" data-class="btn-primary" data-target="#fact_search_type" value="{{type.id}}" class="btn fact_search_btn_type btn-sm btn-outline-primary mt-2 mx-1">{{type.nom|upper}}</button>
                        {% endfor %}
                        <input type="hidden" id="fact_search_type" name="fact_search_type">
                    </div>
                </div>
                <div class="col-md-7">
                    <label for="nom" class="font-weight-bold ml-1 text-uppercase">Modèle</label>
                    <div class="w-100 d-flex flex-wrap flex-row align-items-center justify-content-left">
                        <button type="button" data-text="" data-class="btn-warning" data-target="#fact_search_modele" value="" class="btn fact_search_btn_modele btn-sm mt-2 btn-outline-warning mx-1">TOUS</button>
                        {% for modele in modeles %}
                            <button type="button" data-reference="{{modele.reference}}" data-text="{{modele.nom|upper}}" data-class="btn-warning" data-target="#fact_search_modele" value="{{modele.id}}" class="btn fact_search_btn_modele btn-sm mt-2 btn-outline-warning mx-1">{{modele.nom|upper}}</button>
                        {% endfor %}
                        <input type="hidden" id="fact_search_modele" name="fact_search_modele">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3">
                    <label for="fact_search_num" class="mt-2 font-weight-bold text-uppercase">N° Facture</label>
                    <select name="fact_search_num" class="custom-select chosen_select custom-select-sm" id="fact_search_num">
                        <option value="">TOUS</option>
                        {% for facture in factures %}
                            <option value="{{facture.id}}">{{facture.numFact}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="fact_search_client" class="mt-2 font-weight-bold text-uppercase">Client</label>
                    <select name="fact_search_client" class="custom-select chosen_select custom-select-sm" id="fact_search_client">
                        <option value="">TOUS</option>
                        {% for client in clients %}
                            <option value="{{client.id}}">{{client.nom|upper}}</option>
                        {% endfor %}
                    </select>
                </div> 
                <div class="col-md-3">
                    <label for="fact_search_date" class="mt-2 font-weight-bold text-uppercase">Date</label>
                    <select name="fact_search_date" class="custom-select chosen_select fact_search_date custom-select-sm" id="fact_search_date">
                        <option value="" data-critere="">TOUS</option>
                        {% for critereDate in critereDates %}
                            <option value="{{critereDate.id}}" data-critere="{{critereDate.critere}}">{{critereDate.nom|upper}}</option>
                        {% endfor %}
                    </select>
                </div> 
                <div class="col-md-3">
                    <label for="fact_search_entrepôt" class="mt-2 font-weight-bold text-uppercase">Enrepot</label>
                    <select name="fact_search_entrepôt" class="custom-select chosen_select fact_search_entrepôt custom-select-sm" id="fact_search_entrepôt">
                        <option value="" data-critere="">TOUS</option>
                        {% for entrepot in entrepots %}
                            <option value="{{entrepot.id}}" >{{entrepot.nom|upper}}</option>
                        {% endfor %}
                    </select>
                </div> 
                <div class="col-md-3">
                    <label for="nom" class="mt-2 font-weight-bold">&nbsp;</label>
                    <button class="btn btn-block btn-secondary btn-sm"><i class="fa fa-download"></i>&nbsp;Exporter</button>
                </div>
            </div>
            <div class="row mt-2 elem_date"></div>
            <div class="table-responsive mt-4">
                <table class="table table-sm table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>N° facture</th>
                            <th>Modèle</th>
                            <th>Type</th>
                            <th>Entrepot</th>
                            <th>Date Création</th>
                            <th>Date Facture</th>
                            <th>Client</th>
                            <th>Montant Total Facture</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="elem_facture">
                        {% set totalGeneral = 0 %}
                        {% for facture in factures %}
                            {% set annee_actuel = 'now'|date('Y') %}
                            {% if facture.annee == annee_actuel %}
                                <tr>
                                    <td>{{ facture.numFact }}</td>
                                    <td>{{ facture.modele|upper}}</td>
                                    <td>{{ facture.type|upper}}</td>
                                    <td>{{ facture.entrepot|upper}}</td>
                                    <td>{{ facture.dateCreation }}</td>
                                    <td>{{ facture.dateFacture }}</td>
                                    <td>{{ facture.client|upper}}</td>
                                    <td>{{ facture.total }}</td>
                                    <td class="text-center"><a href="{{path('ftr_details_activite',{'id':facture.id,'nature':facture.nature})}}" class="btn btn-outline-warning btn-sm font-smaller"><i class="fa fa-edit"></i></a></td>
                                </tr>  
                                {% set totalGeneral = totalGeneral + facture.total %}
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <th colspan="6">Total General</th>
                            <th class="bg-info text-white">{{totalGeneral}}</th>
                            <td class="bg-info"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if with_foot %}
                <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                    <button type="button" class="btn btn-sm effacerTout btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button>
                    <button type="submit" class="btn btn-sm ml-3 enregistre_create_menu btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
                </div>
            {% endif %} 
        </div>
    </div>
</div>
{% endblock %}
