 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/agenda.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/facture/js/produit.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/facture/js/prestBatiment.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/facture/js/prestService.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/facture/js/prestLocation.js')}}" ></script>
    <script>
        $(window).scroll(function() {
            var button = $('#actualiser');
            var content = $('#formFacture');
            var buttonOffsetTop = content.offset().top;
        
            if ($(window).scrollTop() >= buttonOffsetTop) {
            button.addClass('fixed');
            } else {
            button.removeClass('fixed');
            }
        });
    </script>
{% endblock %}   
{% block body %}   
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase d-flex flex-row align-items-center entete_page text-black">
        {{titlePage}}
        <a href="{{path('ftr_creation')}}" id="actualiser" type="button" class="btn btn-sm ml-auto font-weight-bold py-2 btn-primary text-white"><i class="fa fa-spinner"></i>&nbsp;Actualiser</a>
        </h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <div id="factureStandard">
            <form id="formFacture">
                <div class="d-flex flex-row align-items-center justify-content-center pb-3 px-3">
                    {% for modele in modeles %}
                        <button type="button" data-indice="{{modele.reference}}" data-text="{{modele.nom|upper}}" data-class="btn-warning" data-target="#fact_modele" value="{{modele.id}}" class="btn fact_btn_modele btn-sm btn-outline-warning mx-2">{{modele.nom|upper}}</button>
                    {% endfor %}
                    <input type="hidden" class="fact_modele" id="fact_modele" name="fact_modele" >
                </div>
                <div class="d-flex barre_dashed py-3 flex-row align-items-center justify-content-left">
                    {% for type in types %}
                        <button type="button" data-reference="{{type.reference}}" data-mode="{{type.modePaiement}}" data-text="{{type.nom|upper}}" data-class="btn-primary" data-target="#fact_type" value="{{type.id}}" class="btn fact_btn_type btn-sm btn-outline-primary mx-2">{{type.nom|upper}}</button>
                    {% endfor %}  
                    <input type="hidden" class="fact_type" id="fact_type" name="fact_type" >
                </div>
                <div class="d-flex flex-row align-items-center fact_content_paiement justify-content-left mt-3">
                    {% for paiement in paiements %}
                        <button type="button" data-libelle="{{paiement.libelleCaption}}" data-numcaption="{{paiement.numCaption}}" disabled="true" data-text="{{paiement.nom|upper}}" data-class="btn-info" data-target="#fact_paiement" data-reference="{{paiement.reference}}" value="{{paiement.id}}" class="btn fact_btn_paiement {{paiement.reference}} btn-sm btn-outline-info mx-2">{{paiement.nom|upper}}</button>
                    {% endfor %}
                    <input type="hidden" class="fact_paiement" id="fact_paiement" name="fact_paiement" >
                </div>
                <div class="row mx-1 mt-3 fact_info_supp">
                    <div class="col-md-12">
                        <div class="row" id="contentClient">
                                <div class="col-md-4">
                                    <label for="fact_client" class="font-weight-bold text-uppercase">Client*</label>
                                    <select name="fact_client" class="custom-select chosen_select fact_client custom-select-sm" id="fact_client">
                                        <option value="">-</option>
                                        {% for client in clients %}
                                            <option value="{{client.id}}">{{client.nom|upper}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="" class="font-weight-bold text-uppercase">&nbsp;</label>
                                    <button type="button" class="btn btn-sm btn-primary btn-block fact_new_client"><i class="fa fa-plus-square"></i></button>
                                    <input type="hidden" name="fact_nouveau_client" id="fact_nouveau_client" value="NON">
                                </div>
                        </div> 
                    </div>
                    <div class="col-md-3 contentMontant">
                        <label for="fact_libelle" class=" mt-3 font-weight-bold fact_libelle_caption text-uppercase">-</label>
                        <input type="text" class="form-control" oninput="this.value = this.value.toUpperCase();" placeholder=". . ." id="fact_libelle" name="fact_libelle">
                    </div>
                    <div class="col-md-3">
                        <label for="fact_num" class=" mt-3 font-weight-bold fact_num_caption text-uppercase">-</label>
                        <input type="text" class="form-control fact_num" oninput="this.value = this.value.toUpperCase();" placeholder=". . ." id="fact_num" name="fact_num">
                    </div>
                </div>
                <div class="agd_acompte mx-1 my-3"> 
                    <h5 class="title_form text-black text-uppercase">Planification de l'acompte sur l'agenda</h5>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="agd_acp_date" class="mt-2 font-weight-bold text-uppercase">Fixer une date</label>
                            <input type="text" name="agd_acp_date" id="agd_acp_date" class="form-control" placeholder=". . .">
                        </div>
                        <div class="col-md-6">
                            <label for="agd_acp_objet" class="mt-2 font-weight-bold text-uppercase">Objet</label>
                            <input type="text" name="agd_acp_objet" id="agd_acp_objet" oninput="this.value = this.value.toUpperCase();" class="form-control" placeholder=". . .">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="table-responsive px-2 mt-3">
                            <table class="table font-smaller fact_table_indice table-sm">
                                <thead class="thead-dark">
                                    <tr class="elem_title_histo">
                                        <th class="bg-dark text-white">Type</th>
                                        <th class="bg-dark text-white">Paiement</th>
                                        <th class="bg-dark text-white">Client</th>
                                        {# <th class="bg-dark text-white">Numéro</th> #}
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="elem_table_histo">
                                        <td class="fact_table_type"></td>
                                        <td class="fact_table_paiement"></td>
                                        <td class="fact_table_client"></td>
                                        {# <td class="fact_table_numero"></td> #}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-3" id="contentTicketDeCaisse">
                        
                    </div>
                </div>
                <div class="w-100 px-2">
                    <label for="nom" class="mt-2 font-weight-bold text-uppercase">Description</label>
                    <textarea name="facture_editor" class="form-control facture_editor" id="" cols="10" rows="5"></textarea>
                </div>
                <div id="detailFacture">
                </div>
                <div class="row mt-3">
                    <div class="col-md-3 teleportMontant"></div>
                </div>
                <div id="agd_echance">
                    <div class="barre_dashed w-100 mt-4 p-3">
                        <h5 class="title_form text-black text-uppercase">Ajouter des échéances</h5>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="agd_ech_date" class="font-weight-bold text-uppercase">Date</label>
                                <input type="text" name="agd_ech_date" id="agd_ech_date" class="form-control" placeholder=". . .">
                            </div>
                            <div class="col-md-3">
                                <label for="agd_ech_montant" class="font-weight-bold text-uppercase">Montant</label>
                                <input type="number" name="agd_ech_montant" id="agd_ech_montant" class="form-control" placeholder=". . .">
                            </div>
                            <div class="col-md-3">
                                <label for="agd_ech_montant" class="font-weight-bold text-uppercase">&nbsp;</label>
                                <button type="button" class="btn agd_btn_ajouter btn-sm btn-success btn-block text-uppercase"><i class="fa fa-save"></i>&nbsp;Ajouter</button>
                            </div>
                        </div>
                        <div class="table-responsive mt-2">
                            <table class="table table-sm table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Date</th>
                                        <th>Montant</th>
                                        <th></th>
                                    </tr>   
                                </thead>
                                <tbody class="elem_echeance">
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Montant Total</th>
                                        <th colspan="2" class="text-white bg-success" id="agd_total_echeance"></th>
                                    </tr>
                                    <tr>
                                        <th>Montant Restant</th>
                                        <th colspan="2" class="text-white bg-primary" id="agd_total_restant"></th>
                                        <input type="hidden" id="agd_val_total_restant">
                                    </tr>
                                    <tr>
                                        <th>Montant Facture</th>
                                        <th colspan="2" class="text-white bg-secondary" id="agd_total_facture"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="barre_dashed"></div>
                </div>
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5"> 
                        <label for="nom" class="mt-1 font-weight-bold text-uppercase">Fait à,</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-location"></i></span>
                            </div>
                            <input type="text" class="form-control fact_lieu" name="fact_lieu" placeholder=". . ." aria-label="Lieu Facture" id="fact_lieu">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5"> 
                        <label for="nom" class="mt-1 font-weight-bold">Le,</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input type="text" class="form-control fact_date" name="fact_date" value="{{ 'now'|date('d/m/Y') }}" placeholder=". . ." aria-label="Date Facture" id="fact_date">
                        </div>
                    </div>
                </div>
                {% if with_foot %}
                    <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                        {# <button type="button" onclick="location.reload()" class="btn btn-sm effacerTout btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button> #}
                        <button type="submit" class="btn ml-3 enregistre_create_facture btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
                    </div>
                {% endif %} 
            </form>
        </div>
    </div>
</div>
{% endblock %}
