 {% extends 'menu/index.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('tools/personnal/systeme/' ~ filename ~ '/css/' ~ filename ~ '.css')}}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/' ~ filename ~ '.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/' ~ filename ~ '/js/agenda.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/facture/js/produit.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/facture/js/prestBatiment.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/facture/js/prestService.js')}}" ></script>
    <script src="{{asset('tools/personnal/systeme/facture/js/prestLocation.js')}}" ></script>
{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase d-flex flex-row align-items-center entete_page text-black">
        <span>
            {{titlePage}} N° : <span class="text-white px-2 py-1 rounded badge-warning">{{facture.numFact}}</span>
        </span>
        {% if nature == "FACTURE" and facture.refType != "DF" %}
            {% if factureCreer == true %}
                <button data-value="{{facture.id}}" class="btn ml-auto font-weight-bold text-uppercase btn-outline-success btn-sm fact_btn_basculer_definitif"><i class="fa fa-plus-square"></i>&nbsp;Créer facture définitive</button>
            {% else %}
                <a href="{{path('ftr_details_activite',{'id':factureGenere})}}" class="btn ml-auto font-weight-bold text-uppercase btn-outline-info btn-sm"><i class="fa fa-layer-group"></i>&nbsp;Consulter facture définitive</a>
            {% endif %}
        {% endif %}
        {% if nature == "FACTURE" and facture.refType == "DF" %}
            {% if factureParent is not empty %}
                <a href="{{path('ftr_details_activite',{'id':factureParent})}}" class="btn ml-auto font-weight-bold text-uppercase btn-outline-info btn-sm"><i class="fa fa-layer-group"></i>&nbsp;Consulter facture source</a>
            {% endif %}
        {% endif %}
        </h4>
    </div>
    <div class="container-fluid px-3">
        <div class="row">
            {% if nature == "FACTURE" %}
                <div class="col-md-3 mt-3">
                    <h5 class="font-medium" >Modèle : <span class="text-primary">{{facture.modele|upper}}</span></h5>
                </div>
                <div class="col-md-3 mt-3">
                    <h5 class="font-medium" >Type : <span class="text-primary">{{facture.type|upper}}</span></h5>
                </div>
                <div class="col-md-3 mt-3">
                    <h5 class="font-medium" >Paiement : <span class="text-primary">{{facture.paiement|upper}}</span></h5>
                </div>
                {% if facture.infoSup %}
                    <div class="col-md-3 d-flex flex-row flex-wrap mt-3">
                        <h5 class="font-medium" >{{facture.libelleCaption}} : <span class="text-primary">{{facture.libelleValue}}</span></h5>
                    </div>
                    <div class="col-md-3 d-flex flex-row flex-wrap mt-3">
                        <h5 class="font-medium" >{{facture.numeroCaption}} : <span class="text-primary">{{facture.numerovalue}}</span></h5>
                    </div>
                {% endif %}  
            {% endif %}
            <div class="col-md-3 mt-3">
                <h5 class="font-medium" >Client : <span class="text-primary">{{facture.client|upper}}</span></h5>
            </div>
            {% if nature == "ANL" %}
                <div class="col-md-3 mt-3">
                    <h5 class="font-medium" >Spécification : <span class="text-primary">{{facture.specification|upper}}</span></h5>
                </div>
                <div class="col-md-3 mt-3">
                    <h5 class="font-medium" >Motif : <span class="text-primary">{{facture.motif|upper}}</span></h5>
                </div>
            {% endif %}
        </div>
        {% if nature == "FACTURE" and facture.refType != "DF" %}
            {{templateEditFacture|raw}}
        {% endif %}
        <form id="formModifFacture">
            <div class="table-responsive mt-4">
                    <input type="hidden" name="fact_detail_modele" id="fact_detail_modele" value="{{facture.refModele}}">
                    <input type="hidden" id="fact_id_facture" name="fact_id_facture" value="{{facture.id}}"> 
                    <table class="table table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th>Type</th>
                                <th>Désignation</th>
                                <th>Qte/Durée</th>
                                <th>Format</th>
                                <th>Prix Unitaire HT</th>
                                <th>Montant TVA</th>
                                <th>Type Remise</th>
                                <th>Valeur Remise</th>
                                <th>Montant Total</th>
                                <th>Statut</th>
                                {% if nature == "FACTURE" and facture.refType != "DF" %}
                                    <th></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody class="elem_facture_produit"> 
                            {% for factureDetail in factureDetails %}
                                {% set afficheElement = true %}
                                {% if nature == "FACTURE" and facture.refType != "DF" and factureDetail.statut == false %}
                                    {% set afficheElement = false %}
                                {% endif %}
                                {% set background = "" %}
                                {% set annulee = "Actif" %}
                                {% if factureDetail.statut == false %}
                                    {% set background = (nature == "FACTURE") ? "bg-secondary" : "" %} 
                                    {% set annulee = "Annulé" %}
                                {% endif %}
                                {% if afficheElement %} 
                                    <tr class="{{background}}">
                                        <td class="align-middle">{{ factureDetail.type|upper }}</td>
                                        <td class="align-middle">{{ factureDetail.designation }}</td>
                                        <td class="align-middle">{{ factureDetail.quantite }}</td>
                                        <td class="align-middle">{{ factureDetail.format }}</td>
                                        <td class="align-middle">{{ factureDetail.prix }}</td>
                                        <td class="align-middle">{{ factureDetail.tva }}</td>
                                        <td class="align-middle">{{ factureDetail.typeRemise }}</td>
                                        <td class="align-middle">{{ factureDetail.valRemise }}</td>
                                        <td class="align-middle">{{ factureDetail.total }}</td>
                                        <th class="align-middle">{{ annulee }}</th>
                                        {% if nature == "FACTURE" and facture.refType != "DF" %}
                                            <th>
                                                <input type="hidden" value="-" name="fact_enr_prod_type[]" class="fact_enr_prod_type"> 
                                                <input type="hidden" value="{{ factureDetail.designation }}" name="fact_enr_prod_designation[]" class="fact_enr_prod_designation"> 
                                                <input type="hidden" value="{{factureDetail.quantite}}" name="fact_enr_prod_quantite[]" class="fact_enr_prod_quantite"> 
                                                <input type="hidden" value="{{factureDetail.prix}}" name="fact_enr_prod_prix[]" class="fact_enr_prod_prix"> 
                                                <input type="hidden" value="{{factureDetail.prix}}" name="fact_enr_text_prix[]" class="fact_enr_text_prix"> 
                                                <input type="hidden" value="{{factureDetail.tva}}" name="fact_enr_prod_tva_val[]" class="fact_enr_prod_tva_val">
                                                <input type="hidden" value="-" name="fact_enr_prod_remise_type[]" class="fact_enr_prod_remise_type"> 
                                                <input type="hidden" value="-" name="fact_enr_prod_remise[]" class="fact_enr_prod_remise"> 
                                                <input type="hidden" value="{{factureDetail.total}}" class="fact_enr_total_ligne"> 
                                                <div class="d-flex flex-column justify-content-center align-items-center">
                                                    {# <button type="button" data-value="{{factureDetail.id}}" class="btn btn-sm btn-outline-warning fact_dtls_btn_modif font-smaller"><i class="fa fa-edit"></i></button> #}
                                                    <button type="button" data-value="{{factureDetail.id}}" class="btn btn-sm btn-outline-danger fact_dtls_btn_suppr mt-2 font-smaller"><i class="fa fa-trash"></i></button>
                                                </div>
                                            </th>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                            {% if nature == "FACTURE" %}
                                {% set totalTTC = facture.totalHt + facture.totalTva - facture.remise  %}
                                {% if facture.refType == "DF" %}
                                    {% set valColspan = 2 %}
                                    <tfoot>
                                        <tr>
                                            <th colspan="8">Total HT</th>
                                            <th colspan="{{valColspan}}" class="bg-light">{{facture.totalHt}}</th>
                                        </tr>
                                        <tr>
                                            <th colspan="8">Remise</th>
                                            <th colspan="{{valColspan}}" class="bg-light">{{facture.remise}}</th>
                                        </tr>
                                        <tr>
                                            <th colspan="8">Total TVA</th>
                                            <th colspan="{{valColspan}}" class="bg-light">{{facture.totalTva}}</th> 
                                        </tr>
                                        <tr>
                                            <th colspan="8">Total TTC</th>
                                            <th colspan="{{valColspan}}" class="bg-primary text-white">{{totalTTC}}</th>
                                        </tr>
                                        {% if facture.devise %}
                                            <tr>
                                                <th colspan="8">Montant en {{facture.deviseCaption}}</th>
                                                <th colspan="{{valColspan}}" class="bg-light">{{facture.deviseValue}}</th>
                                            </tr>
                                        {% endif %}
                                    </tfoot>
                                {% else %}
                                    <tfoot>
                                        <tr>
                                            <th colspan="8">Total HT</th>
                                            <th class="bg-light"><span id="fact_total_fixe">{{facture.totalHt}}</span></th>
                                            <td colspan="2" class="bg-light"></td>
                                        </tr>
                                        <tr>
                                            <th colspan="8">Remise</th>
                                            <td>
                                                <div class="container-fluid" style="width:325px ;">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <select class="custom-select custom-select-sm chosen_select" name="fact_type_remise_prod_general" id="fact_type_remise_prod_general" >
                                                                <option value="" data-calcul="">-</option> 
                                                                {% for typeRemise in typeRemises %}
                                                                    <option value="{{typeRemise.id}}" data-calcul="{{typeRemise.calcul}}" >{{typeRemise.notation}}</option> 
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <input type="number" step="any" class="form-control" name="fact_remise_prod_general" id="fact_remise_prod_general" value="{{facture.remise}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="2"></td>
                                        </tr>
                                        <tr> 
                                            <th colspan="8">Montant après déduction</th>
                                            <th class="bg-light"><span id="fact_total_apres_deduction"></span></th>
                                            <td colspan="2" class="bg-light"></td>
                                        </tr>
                                        <tr>
                                            <th colspan="8">Total TVA</th>
                                            <th class="align-middle bg-light">
                                                <span id="fact_total_tva">{{facture.totalTva}}</span>
                                                <input type="hidden" class="fact_enr_total_tva" name="fact_enr_total_tva" value="{{facture.totalTva}}">   
                                            </th>
                                            <td colspan="2" class="bg-light"></td>
                                        </tr>
                                        <tr>
                                            <th colspan="8" class="fact_caption_total_general">Total TTC</th>
                                            <th class="bg-primary text-white">
                                            <span id="fact_total_general">{{totalTTC}}</span>&nbsp;{{agcDevise.symbole}}
                                            <input type="hidden" class="fact_enr_total_general" name="fact_enr_total_general" value="{{totalTTC}}">
                                            </th>
                                            <td colspan="2" class="bg-primary"></td>
                                        </tr>
                                        {# <tr class="fact_disp_devise d-none">
                                            <th colspan="7">Montant en <span id="fact_lettre_devise">(lettre)</span></th>
                                            <th class="bg-light">
                                                <span id="fact_montant_devise"></span>
                                                <input type="hidden" class="fact_enr_val_devise" name="fact_enr_val_devise">
                                            </th>
                                            <td class="bg-light"></td>
                                        </tr> #}
                                    </tfoot>
                                {% endif %}
                            {% else %}
                                <tfoot>
                                    <tr>
                                        <th colspan="8">Total</th>
                                        <th colspan="2" class="bg-light">{{facture.totalHt}}</th>
                                    </tr>
                                    <tr>
                                        <th colspan="8">Total TVA</th>
                                        <th colspan="2" class="bg-light">{{facture.totalTva}}</th>
                                    </tr>
                                    <tr>
                                        <th colspan="8">Total Facture Annulé</th>
                                        <th colspan="2" class="bg-secondary text-white">{{facture.total}}</th>
                                    </tr>
                                    {% if facture.specs != "ACN" %}
                                        <tr>
                                            <th colspan="8">Total Retenu</th>
                                            <th colspan="2" class="bg-success text-white">{{facture.retenu}}{{facture.signe}}</th>
                                        </tr>
                                        <tr>
                                            {% set caption = "" %}
                                            {% if facture.specs == "RMB" %}
                                                {% set caption = "Remboursée" %}
                                            {% else %}
                                                {% set caption = "Avoir" %}
                                            {% endif %}
                                            <th colspan="8">Total {{caption}}</th>
                                            <th colspan="2" class="bg-primary text-white">{{facture.avoir}}</th> 
                                        </tr>
                                    {% endif %}
                                </tfoot>
                            {% endif %}
                    </table>
                <div class="w-100">
                    Arrêté la présente facture à la somme de <span id="cmd_somme_lettre" class="font-weight-bold text-uppercase">{{facture.lettre}}</span> Francs Comorien
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5"> 
                <label for="nom" class="mt-1 font-weight-bold text-uppercase">à,</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-location"></i></span>
                    </div>
                    <input type="text" class="form-control cmd_lieu" name="cmd_lieu" value="{{ facture.lieu }}" placeholder=". . ." aria-label="Lieu Facture" id="cmd_lieu">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5"> 
                <label for="nom" class="mt-1 font-weight-bold">Le,</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" class="form-control cmd_date" name="cmd_date" value="{{ facture.date }}" placeholder=". . ." aria-label="Date Facture" id="cmd_date">
                </div>
            </div>
        </div>
        {% if with_foot %}
            <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
                {% if nature == "FACTURE" and facture.refType != "DF" %}
                    <button type="button" data-value="{{facture.id}}" class="btn btn-sm ml-2 fact_btn_facture_supprime btn-danger text-white"><i class="fa fa-trash"></i>&nbsp;Supprimer</button>
                    <button type="button" class="btn btn-sm ml-2 fact_btn_miseajour btn-perso-one"><i class="fa fa-save"></i>&nbsp;Mettre à jour</button>
                {% endif %}
                <button type="button" data-value="{{facture.id}}" class="btn btn_imprimer_facture btn-sm ml-2 btn-info text-white"><i class="fa fa-print"></i>&nbsp;Imprimer</button>
            </div>
        {% endif %} 
    </div>
</div>
{% endblock %}


