{% for facture in factures %}
    <tr>
        <td>{{ facture.numFact }}</td>
        <td>{{ facture.modele }}</td>
        <td>{{ facture.type }}</td>
        <td>{{ facture.dateCreation }}</td>
        <td>{{ facture.dateFacture }}</td>
        <td>{{ facture.client }}</td>
        <td>{{ facture.total }}</td>
        <td class="text-center"><a href="{{path('ftr_details_activite',{'id':facture.id})}}" class="btn btn-outline-warning btn-sm font-smaller"><i class="fa fa-edit"></i></a></td>
    </tr>  
{% endfor %}