{% extends 'menu/index.html.twig' %}

{% block title %}Attribution menu{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('tools/personnal/javascript/admin/menu/attribution.js')}}" ></script>

{% endblock %}
{% block body %}
<div class="barre_top rounded shadow mb-5">
    <div class="w-100 border-bottom pt-2 px-3">
        <h4 class="text-uppercase entete_page text-black">Attribution menu {{databaseName}} </h4>
    </div>
    <div class="container-fluid px-3 pt-3">
        <div class="row mx-3">
            <div class="col-md-6">
            <h5 class="title_form text-black text-uppercase">Liste des sociétés</h5>
                <ul class="list-unstyled content_list overflow-auto px-3 pb-3 list_menu">  
                    {% set i = 0 %}
                    {% for agence in agences %}
                        {% if agence.id != 5 %}
                            <li class="py-1 px-3 w-100 rounded oneSociety border font-weight-bold my-2" value="{{agence.id}}">
                                <span>{{agence.nom}}</span>
                                <span class="bg-warning rounded text-white float-right text-center px-1 ">{{ countArray[i] }}</span>
                            </li>
                        {% endif %}
                        {% set i = i + 1 %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                {% include 'admin/menu/template.html.twig' with menus %}
            </div>
        </div>
        <div class="foot_action p-3 mt-4 text-right w-100 barre_dashed">
            <button class="btn btn-sm effacerTout btn-secondary text-white"><i class="fa fa-close"></i>&nbsp;Annuler</button>
            <button class="btn btn-sm ml-3 enregistre_attr_menu btn-perso-one"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
        </div>
    </div>
</div>
    {# {% for user in app.session.get('user') %}
        <h3>{{user}}</h3>
    {% endfor %} #}
{% endblock %}
