{% set i = 0 %}
<h5 class="title_form text-black text-uppercase">Liste des menus</h5>
<ul class="list-unstyled content_list overflow-auto px-3 pb-3 list_item_menu" id="accordion">  
    {% for menu in menus %}
        <li class="py-1 px-3 w-100 menu_item rounded border font-weight-bold mt-2" value="{{menu.id}}" >
            <i class="fa {{menu.icone}}"></i>&nbsp;
            <span class="text-uppercase">{{menu.nom}}</span> 
            {% if menu.submenu is defined and menu.submenu|length > 0 %} 
                <i class="fa fa-plus float-right ml-2 mt-1 menuPlus" data-toggle="collapse" data-target="#menuCollapse{{i}}" aria-expanded="true" aria-controls="menuCollapse{{i}}"></i>
            {% endif %}
            <i class="far fa-check-circle float-right ml-2 mt-1 menuCheck" value="{{menu.id}}"></i>
        </li>
        {% if menu.submenu is defined and menu.submenu|length > 0 %} 
            <ul class="list-unstyled ml-3 collapse" id="menuCollapse{{i}}">
                {% set j = 0 %}
                {% for item in menu.submenu %}
                    <li class="py-1 menu_item px-3 w-100 rounded border font-weight-bold mt-2" value="{{item.id}}">
                        <i class="fa {{item.icone}}"></i>&nbsp;
                        <span class="text-uppercase">{{item.nom}}</span>
                        {% if item.submenu is defined and item.submenu|length > 0 %} 
                            <i class="fa fa-plus float-right ml-2 mt-1 menuPlus" data-toggle="collapse" data-target="#menuCollapseA{{j}}" aria-expanded="true" aria-controls="menuCollapseA{{j}}"></i>
                        {% endif %}
                        <i class="far fa-check-circle float-right ml-2 mt-1 menuCheck" value="{{item.id}}"></i>
                    </li>
                    {% if item.submenu is defined and item.submenu|length > 0 %} 
                        <ul class="list-unstyled ml-3 collapse" id="menuCollapseA{{j}}">
                            {% set k = 0 %}
                            {% for itemA in item.submenu %}
                                <li class="py-1 menu_item px-3 w-100 rounded border font-weight-bold mt-2" value="{{itemA.id}}">
                                    <i class="fa {{itemA.icone}}"></i>&nbsp;
                                    <span class="text-uppercase">{{itemA.nom}}</span>
                                    {% if itemA.submenu is defined and itemA.submenu|length > 0 %} 
                                        <i class="fa fa-plus float-right ml-2 mt-1 menuPlus" data-toggle="collapse" data-target="#menuCollapseB{{k}}" aria-expanded="true" aria-controls="menuCollapseA{{k}}"></i>
                                    {% endif %}
                                    <i class="far fa-check-circle float-right ml-2 mt-1 menuCheck" value="{{itemA.id}}"></i>
                                </li>
                                {% if itemA.submenu is defined and itemA.submenu|length > 0 %} 
                                    <ul class="list-unstyled ml-3 collapse" id="menuCollapseB{{k}}">
                                        {% for itemB in itemA.submenu %}
                                            <li class="py-1 menu_item px-3 w-100 rounded border font-weight-bold mt-2" value="{{itemB.id}}">
                                                <i class="fa {{itemB.icone}}"></i>&nbsp;
                                                <span class="text-uppercase">{{itemB.nom}}</span>
                                                {# {% if item.submenu is defined and itemA.submenu|length > 0 %} 
                                                    <i class="fa fa-plus float-right ml-2 mt-1 menuPlus" data-toggle="collapse" data-target="#menuCollapseB{{k}}" aria-expanded="true" aria-controls="menuCollapseA{{k}}"></i>
                                                {% endif %} #}
                                                <i class="far fa-check-circle float-right ml-2 mt-1 menuCheck" value="{{itemB.id}}"></i>
                                            </li>
                                            
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if itemA.submenu is defined and itemA.submenu|length > 0 %} 
                                    {% set k = k + 1 %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if item.submenu is defined and item.submenu|length > 0 %} 
                        {% set j = j + 1 %}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        {% if menu.submenu is defined and menu.submenu|length > 0 %} 
            {% set i = i + 1 %}
        {% endif %}
    {% endfor %}
</ul>